<template>
	<form action="#" method="POST" id="form-subscriberlist" name="form-subscriberlist" class="dsi-form-subscriberlist" @submit.prevent="submitSubscriberList">
		<modelSelector entity="SubscriberList" :idSelected="subscriberList.numModel" :id="subscriberList.id" :restricted-fields="restrictedFields" @updateSelectedModel="addModel" ref="modelSelector" :item="subscriberList"></modelSelector>
		<lockable :locked="subscriberList.settings.locked">
			<div style="display:grid;">
				<div id="dsi-diffusion-aside" style="grid-column-start : 1; grid-column-end:2; padding-right: 1rem;">
					<div v-if="modelForm" class="dsi-form-group">
						<label class="etiquette" for="name">{{ messages.get('dsi', 'subscriber_list_form_name') }}</label>
						<div class="dsi-form-group-content">
							<input type="text" name="name-subsriber-list" id="name-subsriber-list" v-model="subscriberList.name" required />
						</div>
					</div>
					<div v-if="Object.keys(types).length > 1" class="dsi-form-group">
						<label class="etiquette" for="name">{{ messages.get('dsi', 'subscriber_list_type') }}</label>
						<div class="dsi-form-group-content">
							<select @change.prevent="updateType" v-model="subscriberList.settings.subscriberListType" required>
								<option disabled value="">{{ messages.get('dsi', 'subscriber_list_type_default_value') }}</option>
								<option v-for="(type, id) in types" :key='id' :value="id">{{type}}</option>
							</select>
						</div>
					</div>
					<tags v-if="subscriberList.id" :tags="subscriberList.tags" entity="subscriberList" :entity-id="subscriberList.id"></tags>
					<subscriber-source v-if="sources.length" :subscriber-list="subscriberList" :sources="sources"></subscriber-source>
				</div>
				<subscribers v-if="subscriberList.subscribers && subscriberList.subscribers" 
					:types="types" 
					:subscriber-list="subscriberList" 
					style="grid-column-start: 3; grid-column-end: 2;" 
					:lists="lists" 
					:id-entity="idEntity"
					:channel-type="channelType" 
					@removeSubscriber="removeSubscriber">
				</subscribers>
			</div>
		</lockable>
		<div class='row dsi-form-action'>
			<div class="left">
				<template v-if="modelForm">
					<input type="button" class="bouton" :value="messages.get('common', 'cancel')" @click="cancel">
					<input name="submit_model" type="button" class="bouton" @click.prevent="submitSubscriberList($event.target)" :value="messages.get('dsi', 'submit_model')">
				</template>

				<template v-if="!modelForm">
					<input name="submit" type="button" @click.prevent="submitSubscriberList" class="bouton" :value="messages.get('common', 'submit')">
					<input @click="showModal = true" type="button" class="bouton" :value="messages.get('dsi', 'submit_model')">
				</template>
			</div>
			<div v-if="modelForm && subscriberList.id" class="right">
				<input @click="del" class="bouton" type="button" :value="messages.get('dsi', 'del')"/>
			</div>
		</div>
		<modalModelSelector :showModal="showModal" :entity="subscriberList" @close="showModal = false" @submit="submitSubscriberList" idForm="form-subscriberlist"></modalModelSelector>
	</form>
</template>

<script>
import subscriberSource from "./source/subscriberSource.vue";
import subscribers from "./subscribers/subscribers.vue";
import modelSelector from "../../components/modelSelector.vue";
import modalModelSelector from "../../components/modalModelSelector.vue";
import tags from "../../components/tags.vue";
import lockable from "../../components/lockable.vue";
export default {
	props:['subscriberList', "types", "modelForm", "channelType", "lists", "idEntity"],
	components : {
		subscriberSource,
		subscribers,
		modelSelector,
		modalModelSelector,
		tags,
		lockable
	},
	created : function() {
		this.init();
		this.initListners();
		this.getModel();
	},
	watch : {
		"subscriberList.settings.subscriberListType" : function() {
			if(this.subscriberList.settings.subscriberListType) {
				this.updateType();
			}
		}
	},
	data : function() {
		return {
			sources : [],
			model: null,
			showModal: false,
			restrictedFields : ["model", "numModel", "id", "name", "idSubscriberList", "subscribers", "subscriberListSource"]
		}
	},
	methods : {
		init : function() {
			if(! this.subscriberList.settings.subscriberListType) {
				//Si on n'a qu'une option on la selectionne et on masque le selecteur
				if(Object.keys(this.types).length == 1) {
					this.$set(this.subscriberList.settings, "subscriberListType", Object.keys(this.types)[0]);
				} else {
					this.$set(this.subscriberList.settings, "subscriberListType", "");
				}
			}
			if(this.subscriberList.idSubscriberList) {
				this.updateType();
			}
		},
		removeSubscriber : function(idSubscriber){
			let i = this.lists.subscribers.findIndex((s) => s.id == idSubscriber);
			if(i != -1) {
				this.$delete(this.subscriberList.subscribers, i);
			}
		},
		updateType : async function() {
			let sources = await this.ws.get('subscriberList', 'getSources/'+ this.subscriberList.settings.subscriberListType);
			if (sources.error) {
				this.notif.error(this.messages.get('dsi', sources.errorMessage));
			} else {
				this.sources = sources;
			}
		},
		submitSubscriberList : async function(e) {
            this.showLoader();

			var lastId = 0;
			if(e.submitter && (e.submitter.name === "submit_model" || e.submitter.name === "submit_model_from_modal") || e.name === "submit_model_from_modal" || e.name === "submit_model") {
				lastId = this.subscriberList.id;
				this.$set(this.subscriberList, "model", true);
				this.$set(this.subscriberList, "id", e.name === "submit_model_from_modal" || (e.submitter && e.submitter.name === "submit_model_from_modal") ? 0 : this.subscriberList.id);
				this.$set(this.subscriberList, "idSubscriberList", e.name === "submit_model_from_modal"  || (e.submitter && e.submitter.name === "submit_model_from_modal") ? 0 : this.subscriberList.idSubscriberList);
			}
			
			let response = await this.ws.post('subscriberList', 'save', this.subscriberList);
			if (response.error) {
				this.notif.error(this.messages.get('dsi', response.errorMessage));
			} else if (this.modelForm){
                this.hiddenLoader();
				document.location = "./dsi.php?categ=subscriber_list";
				
			// model form diffusion
			} else if (this.subscriberList.model && this.subscriberList.id == 0) {
				this.$set(this.subscriberList, "model", false);
				this.$set(this.subscriberList, "id", lastId);
				this.$set(this.subscriberList, "idSubscriberList", lastId);
				this.$set(this.subscriberList, "name", "");
				
				this.showModal = false;

				this.$refs.modelSelector.getList();
				this.notif.info(this.messages.get('common', 'success_save'));
                this.hiddenLoader();

			// form diffusion	
			} else {
				this.$root.$emit("updateSubscriberList", response.idSubscriberList);
			}
		},
		del : async function() {
			if (confirm(this.messages.get('dsi', 'confirm_del'))) {
                this.showLoader();
				let response = await this.ws.post("subscriberList", 'delete', this.subscriberList);
				if (response.error) {
					this.notif.error(this.messages.get('dsi', response.errorMessage));
				} else {
					document.location = "./dsi.php?categ=subscriber_list";
                }
                this.hiddenLoader();
            }
		},
		cancel : function() {
			document.location = "./dsi.php?categ=subscriber_list";
		},
		initListners : function()
		{
			this.$root.$on("addSubscriber", (subscriber) => {
				this.$set(this.lists.subscribers, this.lists.subscribers.length, subscriber);
			});
			this.$root.$on("editSubscriber", (subscriber) => {
				let i = this.lists.subscribers.findIndex((s) => s.id == subscriber.id);
				if(i != -1) {
					this.$set(this.lists.subscribers, i, subscriber);
				}
            });
		},
		addModel: async function(model) {
			if(model != 0) {
				let clone = JSON.parse(JSON.stringify(model));
				const ignoreKeys = ["model", "numModel", "id", "name", "idSubscriberList"];
				for(let property in clone) {
					if(ignoreKeys.indexOf(property) == -1) {						
						this.$set(this.subscriberList, property, clone[property]);
					}
				}
				this.$set(this.subscriberList, "numModel", clone["idSubscriberList"]);
				//On supprime tous les abonnes en base avant d'ajouter ceux du modele
				let resetSubscribers = await this.ws.post("subscribers", "empty", { "entityType" : this.$root.categ, "entityId" : this.idEntity});
				if(resetSubscribers.error) {
					return;
				}
				let data = await this.ws.get("subscriberList", "subscribers/"+ model.id);
				if(! data.error && data.subscribers) {
					const unsubscriberType = 1;
					let result = [];
					for(let subscriber of data.subscribers) {
						if(subscriber.updateType == unsubscriberType) {
							subscriber.id = 0;
							subscriber.idSubscriber = 0;
							let newSubscriber = await this.ws.post("subscribers", this.$root.categ + '/unsubscribe/' + this.idEntity, subscriber);
							if(! newSubscriber.error) {
								result.push(subscriber);
							}
						}
					}
					this.$set(this.lists, "subscribers", result);
				}
				} else {
					this.$set(this.subscriberList, "numModel", 0);
				}
				
				this.getModel();
				this.$set(this.subscriberList, "model", 0);
			},
		getModel: async function() {
			if(this.subscriberList.numModel > 0) {
				this.model = await this.ws.get("SubscriberList", "getModel/" + this.subscriberList.numModel);
			}else {
				this.model = null;
			}
		}
	}
}
</script>