<template>
	<div id="list">
		<table>
			<thead>
				<tr>
					<th>{{ messages.get('dsi', 'subscriber_list_name') }}</th>
					<th>{{ messages.get('dsi', 'subscriber_list_search') }}</th>
					<th>{{ messages.get('dsi', 'subscriber_list_subscribers') }}</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(subscriberList, index) in list" style="cursor: pointer" @click="edit(subscriberList.id)" :key="index">
					<td>{{ subscriberList.name }}</td>
					<td v-html="subscriberList.settings.subscriberListSource.subscriberListSelector.data.human_query"></td>
					<td>{{subscriberList.subscribers.length}}</td>
				</tr>
			</tbody>
		</table>
		<input type="button" class="bouton" :value="messages.get('dsi', 'add_model')" @click="add">
	</div>
</template>

<script>
	export default {
		props : ["list"],
		data: function () {
			return {}
		},
		methods: {
		    add: function () {
		        document.location = "./dsi.php?categ=subscriber_list&action=add";
		    },
		    edit: function (id) {
		        document.location = `./dsi.php?categ=subscriber_list&action=edit&id=${id}`;
		    }
		}
	}
</script>