<template>
	<div id="list">
		<table>
			<thead>
				<tr>
					<th>{{ messages.get('dsi', 'item_name') }}</th>
					<th>{{ messages.get('dsi', 'diffusion_total_subscribers') }}</th>
					<th>{{ messages.get('dsi', 'diffusion_last') }}</th>
					<th>{{ messages.get('dsi', 'diffusion_status') }}</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(product, index) in list" style="cursor: pointer" @click="edit(product.id)" :key="index">
					<td>{{product.name}}</td>
					<td>{{ getNbSubscribers(product.subscriberList) }}</td>
					<td>Jamais</td>
					<td>{{ getProductStatus(product.numStatus) }}</td>
				</tr>
			</tbody>
		</table>
		<input type="button" class="bouton" :value="messages.get('dsi', 'add')" @click="add">
	</div>
</template>

<script>
	export default {
		props : ["list", "status"],
		data: function () {
			return {}
		},
		methods: {
		    add: function () {
		        document.location = "./dsi.php?categ=products&action=add";
		    },
		    edit: function (id) {
		        document.location = `./dsi.php?categ=products&action=edit&id=${id}`;
		    },
			getProductStatus(idStatus) {
		    	let result = this.status.find((elem) => elem.id == idStatus);
		    	if(result && result.name) {
		    		return result.name;
		    	}
		    	return "";
		    },
			getNbSubscribers(subscriberList) {
				return subscriberList && subscriberList.subscribers ? subscriberList.subscribers.length : 0;
			}
		}
	}
</script>