<template>
	<div class="dsi_form">
		<form name="dsi_form_view" action="#" method="POST" class="dsi-form-view" @submit.prevent="submit">
			<modelSelector entity="views" :idSelected="view.numModel" :id="view.id" :restricted-fields="restrictedFields" @updateSelectedModel="addModel" ref="modelSelector" :item="view"></modelSelector>
			<lockable :locked="view.settings.locked">
				<div v-if="is_model || isTabForm" class="dsi-form-group">
					<label class="etiquette" for="view-name">{{ messages.get('dsi', 'view_form_name') }}</label>
					<div class="dsi-form-group-content">
						<input type="text" id="view-name" name="view-name" v-model="view.name" required>
					</div>
				</div>

				<div class="dsi-form-group">
					<label class="etiquette" for="viewTypeList">{{ messages.get('dsi', 'view_form_type') }}</label>
					<div class="dsi-form-group-content">
						<select id="viewTypeList" name="viewTypeList" v-model="view.type" required>
							<option value="" disabled>{{ messages.get('dsi', 'view_form_default_type') }}</option>
							<option v-for="(type, index) in filteredTypes" :key="index" :value="type.id" :disabled="isTabForm && type.id == 2">
								{{ type.name }}
							</option>
						</select>
					</div>
				</div>

				<tags v-if="view.id" :tags="view.tags" entity="views" :entity-id="view.id"></tags>
				<div class="dsi-form-group" v-if="! is_model">
					<label class="etiquette" for="viewTypeList">{{ messages.get('dsi', 'view_form_filter') }}</label>
					<select v-model="view.settings.filter">
						<option disabled value="">{{ messages.get('dsi', 'view_form_filter_default_value') }}</option>
						<option v-for="(filter, index) in filters" :value="filter.namespace" :key="index">{{ filter.name }}</option>
					</select>
				</div>
				<ace_editor v-if="view.type == 1" :entities="entities" :item="view"></ace_editor>
				<WYSIWYGEditor v-if="view.type == 2" :view="view"></WYSIWYGEditor>
				<simple v-if="view.type == 3" :entities="entities" :item="view"></simple>
				<button class="dsi-button bouton" v-if="!is_model && view.type == 3 && renderHtml != undefined" type="button" @click="$emit('render')">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
				<div id="render" class="dsi-view-render" v-if="renderHtml" v-html="renderHtml"></div>
			</lockable>
			<div class='row dsi-form-action'>
				<div class="left">
					<template v-if="is_model">
						<input type="button" class="bouton" :value="messages.get('common', 'cancel')" @click="cancel">
						<input name="submit_model" type="submit" class="bouton" :value="messages.get('dsi', 'submit_model')">
					</template>

					<template v-if="!is_model">
						<input name="submit"  type="submit" class="bouton" :value="messages.get('common', 'submit')">
						<input @click="showModal = true" type="button" class="bouton" :value="messages.get('dsi', 'submit_model')">
					</template>
				</div>
				<div v-if="is_model && view.id" class="right">
					<input @click="del" class="bouton" type="button" :value="messages.get('dsi', 'del')"/>
				</div>
			</div>
			<modalModelSelector :showModal="showModal" :entity="view" @close="showModal = false"></modalModelSelector>
		</form>
	</div>
</template>

<script>
    import ace_editor from './editors/Django/aceEditor.vue';
    import WYSIWYGEditor from './editors/WYSIWYG/WYSIWYG.vue';
	import modelSelector from "../../components/modelSelector.vue";
	import modalModelSelector from "../../components/modalModelSelector.vue";
	import simple from './editors/Simple/simple.vue';
	import tags from '../../components/tags.vue';
	import lockable from '../../components/lockable.vue';
	export default {
		props : ["view", "types", "entities", "is_model", "itemType", "renderHtml", "isTabForm"],
		components: {
            ace_editor,
			WYSIWYGEditor,
			modelSelector,
			modalModelSelector,
			tags,
			simple,
			lockable
        },
		data: function () {
			return {
				model: null,
				showModal: false,
				filteredTypes : [],
				restrictedFields : ["model", "numModel", "id", "name", "idView", "childs", "numParent", "viewModel", "parentView"],
				filters : []
			}
		},
		watch : {
			"itemType" : async function() {
				await this.getFilteredTypes();
			},
			"$parent.diffusion.item.type" : function() {
				this.getFilters();
			}
		},
		created: async function() {
			this.view.type = this.view.type == 0 ? "" : this.view.type;
			if((! this.view.settings.filter) && (! this.is_model)) {
				this.$set(this.view.settings, "filter", "");
			}
			this.initListners();
			await this.getFilteredTypes();
			await this.getFilters();
		},
		methods: {
			cancel: function() {
				document.location = "./dsi.php?categ=views";
			},
			submit: async function(e="") {
                this.showLoader();

				var lastId = 0;
				if(e && e.submitter && (e.submitter.name === "submit_model" || e.submitter.name === "submit_model_from_modal") || e.name === "submit_model_from_modal") {
					lastId = this.view.id;
					
					this.view.id = e.name === "submit_model_from_modal" || e.submitter.name === "submit_model_from_modal" ? 0 : this.view.id;
					this.view.model = true;
				}

				let response = await this.ws.post('views', 'save', this.view);
				if (response.error) {
					this.notif.error(this.messages.get('dsi', response.errorMessage));

				// model form
				} else if (this.is_model){
                    this.hiddenLoader();
					document.location = "./dsi.php?categ=views";

				// model form diffusion
				} else if (this.view.model && this.view.id == 0) {
					this.$set(this.view, "model", false);
					this.$set(this.view, "id", lastId);
					this.$set(this.view, "name", "");

					this.showModal = false;

					this.$refs.modelSelector.getList();
					this.notif.info(this.messages.get('common', 'success_save'));

                    this.hiddenLoader();
				// form diffusion	
				} else {
					this.view.id = response.id;

                    if(this.isTabForm) {
                        this.$root.$emit("saveViewTab", this.view);
                        return;
                    }
					this.$emit("saveDiffusionView", response.id);
				}
			},
			del : async function() {
				if (confirm(this.messages.get('dsi', 'confirm_del'))) {
                    this.showLoader();
					let response = await this.ws.post("views", 'delete', this.view);
					if (response.error) {
						this.notif.error(this.messages.get('dsi', response.errorMessage));
					} else {
						document.location = "./dsi.php?categ=views";
                    }
                    this.hiddenLoader();
                }
			},
			updateSettings: function(settings) {
				this.$set(this.view, "settings", settings);
			},
			addModel: function(model) {
				if(model != 0) {
					let clone = JSON.parse(JSON.stringify(model));
					const ignoreKeys = ["id", "idView", "numModel", "name", "model"];
					for(let property in clone) {
						if(ignoreKeys.indexOf(property) == -1) {						
							this.$set(this.view, property, clone[property]);
						}
					}
					this.$set(this.view, "numModel", clone["idView"]);
				}else {
					this.$set(this.view, "numModel", 0);
				}
				
				this.$set(this.view, "model", 0);
			},
			initListners : function() {
				this.$root.$on("saveView", () => {
					this.submit();

				});
			},
			getFilteredTypes : async function() {
				if(! this.itemType) {
					this.$set(this, "filteredTypes", this.types);
					return;
				}
				this.$set(this, "filteredTypes", []);
				let compatibility = await this.ws.get('items', 'getCompatibility/'+ this.itemType);
				for(let i in compatibility) {
					if(this.types.find(t => t.id == compatibility[i]) !== undefined) {
						this.$set(this.filteredTypes, this.filteredTypes.length, this.types.find(t => t.id == compatibility[i]));
					}
				}
			},
			getFilters : async function() {
				if(this.$parent.diffusion.item.type) {
					let response = await this.ws.get("items", "availableFilters/"+ this.$parent.diffusion.item.type);
					if(! response.error) {
						this.filters = response;
						if(! this.filters.find(f => f.namespace == this.view.settings.filter)) {
							this.$set(this.view.settings, "filter", "");
						}
					}
				}
			}
		}
	}
</script>