<template>
	<div id="view-list">
		<table>
			<thead>
				<tr>
					<th>{{ messages.get('dsi', 'item_name') }}</th>
					<th>{{ messages.get('dsi', 'item_type') }}</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(view, index) in list" style="cursor: pointer" @click="edit(view.id)" :key="index">
					<td>{{view.name}}</td>
					<td>{{getTypeFromId(view.type)}}</td>
				</tr>
			</tbody>
		</table>
		<input type="button" class="bouton" :value="messages.get('dsi', 'add_model')" @click="add">
	</div>
</template>

<script>
	export default {
		props : ["list", "types"],
		data: function () {
			return {}
		},
		methods: {
            getTypeFromId: function(id) {
				let find = this.types.find(type => type.id == id);
				if(find) {
					return find.name;
				}
				return "";
			},
		    add: function () {
		        document.location = "./dsi.php?categ=views&action=add";
		    },
		    edit: function (id) {
		        document.location = `./dsi.php?categ=views&action=edit&id=${id}`;
		    },
		}
	}
</script>