<template>
	<div class="dsi-form-diffusion-container">
		<p class="diffusion-last-send">{{ messages.get('dsi', 'diffusion_last_send').replace('%s', '01/01/2022 16h30') }}</p>
		
		<form action="#" method="POST" @submit.prevent="submit" class="dsi-form-diffusion">
			
			<div class="dsi-form-group">
				<label class="etiquette" for="name">{{ messages.get('dsi', 'diffusion_form_name') }}</label>
				<div class="dsi-form-group-content">
					<input type="text" id="name" name="name" v-model="diffusion.name" required>
				</div>
			</div>
			
			<div class="dsi-form-group">
				<label class="etiquette" for="status">{{ messages.get('dsi', 'diffusion_form_status') }}</label>
				<div class="dsi-form-group-content">
					<select id="status" name="status" v-model="diffusion.numStatus" required>
						<option value="" disabled>{{ messages.get('dsi', 'diffusion_form_choose_status') }}</option>
						<option v-for="(stat, index) in status" :key="index" :value="stat.id">
							{{ stat.name }}
						</option>
					</select>
				</div>
			</div>
			
			<!-- 
			<div class="dsi-form-group">
				<label class="etiquette" for="active">{{ messages.get('dsi', 'form_active') }}</label>
				<div class="dsi-form-group-content">
					<div class="dsi-checkbox-group">
						<input type="checkbox" class="switch" name="active" id="active" v-model="diffusion.active">
						<label for="active">&nbsp;</label>
					</div>
				</div>
			</div>
			 -->
			 
			<div class="dsi-list">
				<p>{{ messages.get('dsi', 'diffusion_form_products') }}</p>
				<div v-if="diffusion.diffusionProducts" class="dsi-cards">
					<span v-if="diffusion.diffusionProducts.length == 0">{{ messages.get("dsi", "diffusion_form_empty_products") }}</span>
					<div class="dsi-card" v-for="(diffusionProduct, i) in diffusion.diffusionProducts" :key="i">
						<p>{{ getProductName(diffusionProduct.num_product).name }}</p>
					</div>
				</div>
			</div>
			<tags v-if="diffusion.id" :tags="diffusion.tags" entity="diffusions" :entity-id="diffusion.id"></tags>
			<div class='row'>
				<br />
				<div class="left">
					<input type="button" class="bouton" :value="messages.get('common', 'cancel')" @click="cancel">			
					<input type="submit" class="bouton" :value="messages.get('common', 'submit')">			
				</div>
				<template v-if="diffusion.id != 0">
				    <div class="right">
					    <input @click="del" class="bouton" type="button" :value="messages.get('dsi', 'del')"/>
			    	</div>
		    	</template>
	    	</div>
		</form>
	</div>
</template>

<script>
import tags from "../../components/tags.vue";

export default {
	props : ["channels", "status", "diffusion", "products"],
	components: { 
		tags 
	},
	created: function() {
		this.diffusion.diffusionProducts = this.diffusion.diffusionProducts ? this.diffusion.diffusionProducts : [];
        if(this.diffusion.numStatus === 0) {
            this.diffusion.numStatus = "";
        }
	},
	methods: {
		getProductName: function(id) {
			return this.products.find((product) => product.id == id);
		},
		cancel: function() {
			document.location = "./dsi.php?categ=diffusions";
		},
		submit: async function() {
			let response = await this.ws.post('diffusions', 'save', this.diffusion);
			if (response.error) {
				this.notif.error(this.messages.get('dsi', response.errorMessage));
			} else {
				document.location = "dsi.php?categ=diffusions&action=edit&id=" + response.id;
			}
		},
		del : async function() {
			if (confirm(this.messages.get('dsi', 'confirm_del'))) {
				let response = await this.ws.post("diffusions", 'delete', this.diffusion);
				if (response.error) {
					this.notif.error(this.messages.get('dsi', response.errorMessage));
				} else {
					document.location = "./dsi.php?categ=diffusions";
				}
			}
		}
	}
}
</script>