<template>
	<div class="dsi-form-diffusion-view">
        <div v-if="viewTypes.length" ref="dsi-diffusion-view" class="dsi-diffusion-view">
            <formView
                :item-type="diffusion.item.type"
                :types="viewTypes"
                :view="diffusion.view"
                :entities="entityType"
                :is_model="false"
                :render-html="renderHtml"
                @saveDiffusionView="saveDiffusionView"
                @render="render">
			</formView>
        </div>
        <div class="dsi-diffusion-aside" ref="dsi-diffusion-aside">
			<div aria-expanded="true"
                 aria-controls="dsi-diffusion-accordion"
                 class="dsi-diffusion-hide dsi-sticky-menu"
                 ref="dsi-diffusion-hide" :style="style">

				<button type="button" class="bouton" @click.prevent="hideAccordion()">
					<i style="font-size: small"
                        class="dsi-diffusion-accordion-arrow fa fa-chevron-right"
                        aria-hidden="true"
                        ref="dsi-diffusion-accordion-arrow">
                    </i>
				</button>
			</div>
			<div class="dsi-diffusion-accordion dsi-sticky-menu"
                 :style="style"
                 ref="dsi-diffusion-accordion">

				<accordion :title="messages.get('dsi', 'view_form_accordion_data')" index="1" key="1">
					<div class="dsi-diffusion-item">
						<formItemAdd
                            :types="entityType"
                            :item="diffusion.item"
                            :is_model="false"
                            :viewType="diffusion.view.type"
                            @saveDiffusionItem="saveDiffusionItem">
                        </formItemAdd>
					</div>
				</accordion>
				<accordion
                    v-if="diffusion.view.type == 2 && Object.keys(editBlock).length !== 0"
                    :title="messages.get('dsi', 'view_form_accordion_edit')"
                    expanded="true"
                    index="2"
                    key="2">

					<div>
						<component
                            :is="types[editBlock.type]"
                            :view="diffusion.view"
                            :block="editBlock"
                            :viewTypes="viewTypes"
                            :item="diffusion.item">
                        </component>
					</div>
				</accordion>
			</div>
        </div>
	</div>
</template>

<script>
	import formView from "../../views/components/formView.vue";
	import formItemAdd from "../../items/components/add.vue";
	import accordion from "../../../common/accordion/accordion.vue";

	import blockForm from "../../views/components/editors/WYSIWYG/controls/blockForm.vue";
	import textInputForm from "../../views/components/editors/WYSIWYG/controls/textInputForm.vue";
	import listInputForm from "../../views/components/editors/WYSIWYG/controls/listInputForm.vue";
	import imageInputForm from "../../views/components/editors/WYSIWYG/controls/imageInputForm.vue";
	import videoInputForm from "../../views/components/editors/WYSIWYG/controls/videoInputForm.vue";
	import textEditorInputForm from "../../views/components/editors/WYSIWYG/controls/textEditorInputForm.vue";
	import viewInputForm from "../../views/components/editors/WYSIWYG/controls/viewInputForm.vue";
	import viewImportInputForm from "../../views/components/editors/WYSIWYG/controls/viewImportInputForm.vue";

	export default {
		props : ["diffusion"],
        components: {
            formView,
            formItemAdd,
            accordion,
			blockForm,
			textInputForm,
			listInputForm,
			imageInputForm,
			videoInputForm,
			textEditorInputForm,
			viewInputForm,
			viewImportInputForm
        },
		data: function () {
			return {
			    entityType: [],
			    viewTypes: [],
				editBlock: {},
				types: {
                    1: "blockForm",
                    2: "textInputForm",
                    3: "imageInputForm",
					4: "videoInputForm",
					5: "listInputForm",
					6: "textEditorInputForm",
					7: "viewInputForm",
					8: "viewImportInputForm",
                },
				renderHtml : "",
				style : {}
			}
		},
		created: async function() {
			window.addEventListener("scroll", (e) => {
				if(window.pageYOffset > 138) {
					this.$set(this.style, "top", "100px")
				} else {
					this.$delete(this.style, "top");
				}
			})
			await this.fetchData();
			this.$root.$on("editBlock", (block) => {
				if(this.editBlock && this.editBlock.id) {
					let lastBlockElement = document.getElementById(this.editBlock.id);
					if(lastBlockElement) {
						lastBlockElement.className = "wysiwyg-section";
					}
					
					if(this.editBlock.id === block.id) {
						this.$set(this, "editBlock", {});
						return;
					}
				}
				
				this.$set(this, "editBlock", {});

				setTimeout(() => {
					this.$set(this, "editBlock", block);
				}, 100);

				let blockElement = document.getElementById(block.id);
				if(blockElement) {
					blockElement.className = "wysiwyg-section wysiwyg-section-selected";
				}
			});

            this.$root.$on("saveDiffusion", this.saveDiffusion);
		},
		methods: {
			fetchData: async function() {
				this.entityType = await this.ws.get('diffusions', 'getEntityList');
				this.viewTypes = await this.ws.get('views', 'getTypeListAjax');
			},
			saveDiffusionView: async function(idView) {
				this.diffusion.numView = idView;
				await this.saveDiffusion();
			},
			saveDiffusionItem: async function(idItem) {
				this.diffusion.numItem = idItem;
				await this.saveDiffusion();
			},
			saveDiffusion: async function() {
				let response = await this.ws.post('diffusions', 'save', this.diffusion);
				if (response.error) {
					this.notif.error(this.messages.get('dsi', response.errorMessage));
				}else {
					this.notif.info(this.messages.get('common', 'success_save'));
                    this.hiddenLoader();
				}
			},
			hideAccordion: function() {
				let aside = this.$refs["dsi-diffusion-aside"];
				let accordion = this.$refs["dsi-diffusion-accordion"];
				let view = this.$refs["dsi-diffusion-view"];
				let arrow = this.$refs["dsi-diffusion-accordion-arrow"];
				let hide = this.$refs["dsi-diffusion-hide"];

				let enabled = hide.getAttribute("aria-expanded") === 'true' ? true : false;
				hide.setAttribute("aria-expanded", !enabled);

				if(!enabled) {
					aside.style.gridColumnStart = "5";
					view.style.gridColumnEnd = "5";
					accordion.style.display = "block";
					arrow.classList = "fa fa-chevron-right";
					return;
				}
				
				view.style.gridColumnEnd = "7";
				aside.style.gridColumnStart = "7";
				accordion.style.display = "none";
				arrow.classList = "fa fa-chevron-left";
			},
			render : async function() {
				let result = await this.ws.get(this.$root.categ, "render/" + this.diffusion.id);
				this.renderHtml = result[0];
			}
			
		},
	}
</script>