<template>
	<div id="list">
		<table>
			<thead>
				<tr>
					<th>{{ messages.get('dsi', 'diffusion_name') }}</th>
					<th>{{ messages.get('dsi', 'diffusion_channel') }}</th>
					<th>{{ messages.get('dsi', 'diffusion_total_subscribers') }}</th>
					<th>{{ messages.get('dsi', 'diffusion_last') }}</th>
					<th>{{ messages.get('dsi', 'diffusion_status') }}</th>
					<th>{{ messages.get('dsi', 'dsi_tag_list') }}</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(diffusion, index) in list" style="cursor: pointer" @click="edit(diffusion.id)" :key="index">
					<td>{{ diffusion.name }}</td>
					<td>{{ getDiffusionChannel(diffusion.channel.type) }}</td>
					<td>{{ getNbSubscribers(diffusion.subscriberList) }}</td>
					<td>Jamais</td>
					<td>{{ getDiffusionStatus(diffusion.numStatus) }}</td>
					<td>
						<span v-for="(tag, i) in diffusion.tags" :key="i">
							{{ tag.name }}
							<span v-if="(i + 1) < diffusion.tags.length">, </span>
						</span>	
					</td>
				</tr>
			</tbody>
		</table>
		<input type="button" class="bouton" :value="messages.get('dsi', 'add')" @click="add">
	</div>
</template>

<script>
	export default {
		props : ["list", "status", "channels"],
		data: function () {
			return {}
		},
		methods: {
		    add: function () {
		        document.location = "./dsi.php?categ=diffusions&action=add";
		    },
		    edit: function (id) {
		        document.location = `./dsi.php?categ=diffusions&action=edit&id=${id}`;
		    },
		    getDiffusionStatus(idStatus) {
		    	let result = this.status.find((elem) => elem.id == idStatus);
		    	if(result && result.name) {
		    		return result.name;
		    	}
		    	return "";
		    },
			getDiffusionChannel(idTypeChannel = 0) {
		    	let result = this.channels.find((elem) => elem.id == idTypeChannel);
		    	if(result && result.name) {
		    		return result.name;
		    	}
		    	return "";
		    },
			getNbSubscribers(subscriberList) {
				return subscriberList.subscribers ? subscriberList.subscribers.length : 0;
			}
		}
	}
</script>