<template>
	<div id="mail_channel">
        <div class="dsi-form-group">
            <label class="etiquette" for="email">{{ messages.get('dsi', 'channel_portal_page') }}</label>
			<div class="dsi-form-group-contents">
				<input type="text" id="email" name="email" required>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props : [], 
		data: function () {
			return {
			}
		},
		methods: {

		}
	}
</script>