<template>
    <div>
        <div>
            <h3>{{ messages.get('dsi', 'view-wysiwyg-placement') }}</h3>
            <div class="dsi-form-group dsi-form-wysiwyg">
                <label class="etiquette" for="wysiwyg-placement-width">{{ messages.get('dsi', 'view-wysiwyg-placement-direction') }}</label>
                <div class="dsi-form-group-content">
                    <div class="dsi-form-group-line">
                        <select id="wysiwyg-placement-direction" name="wysiwyg-placement-direction" v-model="block.style.flexDirection">
                            <option value="row">{{ messages.get('dsi', 'view-wysiwyg-placement-row') }}</option>
                            <option value="column">{{ messages.get('dsi', 'view-wysiwyg-placement-column') }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- <div class="dsi-form-group dsi-form-wysiwyg">
                <label class="etiquette" for="wysiwyg-placement-width">{{ messages.get('dsi', 'view-wysiwyg-placement-width') }}</label>
                <div class="dsi-form-group-content">
                    <div class="dsi-form-group-line">
                        <input type="number" id="wysiwyg-placement-width" name="wysiwyg-placement-width" @input="changeWidth">
                        <select v-model="widthUnit" @change="changeWidth($event, true)">
                            <option v-for="unit of arrayUnit" :value="unit">{{ unit }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="dsi-form-group dsi-form-wysiwyg">
                <label class="etiquette" for="wysiwyg-placement-height">{{ messages.get('dsi', 'view-wysiwyg-placement-height') }}</label>
                <div class="dsi-form-group-content">
                    <div class="dsi-form-group-line">
                        <input type="number" id="wysiwyg-placement-height" name="wysiwyg-placement-height" @input="changeHeight">
                        <select v-model="heightUnit" @change="changeHeight($event, true)">
                            <option v-for="unit of arrayUnit" :value="unit">{{ unit }}</option>
                        </select>
                    </div>
                </div>
            </div> -->
        </div>
        <div>
            <h3>{{ messages.get('dsi', 'view-wysiwyg-bg') }}</h3>
            <div class="dsi-form-group dsi-form-wysiwyg">
                <label class="etiquette" for="wysiwyg-bg-color">{{ messages.get('dsi', 'view-wysiwyg-bg-color') }}</label>
                <div class="dsi-form-group-content">
                    <input type="color" id="wysiwyg-bg-color" name="wysiwyg-bg-color" v-model="block.style.backgroundColor">
                    <button class="color-reset" v-if="block.style.backgroundColor" @click="block.style.backgroundColor = ''" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
            </div>
            <hr>
            <div class="dsi-form-group dsi-form-wysiwyg">
                <label class="etiquette" for="wysiwyg-bg-image">{{ messages.get('dsi', 'view-wysiwyg-bg-img') }}</label>
                <div class="dsi-form-group-content">
                    <input v-if="!block.style.backgroundImage" type="file" id="wysiwyg-bg-image" name="wysiwyg-bg-image" @change="changeBgImage">
                    <div v-else class="wysiwyg-bg-image-preview">
                        <img width="48" height="48" :src="dataURLToData(block.style.backgroundImage)" alt="">
                        <button class="bg-reset" v-if="block.style.backgroundImage" @click="block.style.backgroundImage = ''" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="dsi-form-group dsi-form-wysiwyg">
                <label class="etiquette" for="wysiwyg-bg-color">{{ messages.get('dsi', 'view-wysiwyg-bg-img-repeat') }}</label>
                <div class="dsi-form-group-content">
                    <select v-model="block.style.backgroundRepeat">
					    <option value="no-repeat">{{ messages.get('dsi', 'view-wysiwyg-bg-img-repeat-norepeat') }}</option>
					    <option value="repeat">{{ messages.get('dsi', 'view-wysiwyg-bg-img-repeat-repeat') }}</option>
                    </select>
                </div>
            </div>
            <div class="dsi-form-group dsi-form-wysiwyg">
                <label class="etiquette" for="wysiwyg-bg-color">{{ messages.get('dsi', 'view-wysiwyg-bg-img-size') }}</label>
                <div class="dsi-form-group-content">
                    <select v-model="bgSize">
                        <option value="auto">{{ messages.get('dsi', 'view-wysiwyg-bg-img-size-auto') }}</option>
                        <option value="cover">{{ messages.get('dsi', 'view-wysiwyg-bg-img-size-cover') }}</option>
                        <option value="contain">{{ messages.get('dsi', 'view-wysiwyg-bg-img-size-contain') }}</option>
                        <option value="custom">{{ messages.get('dsi', 'view-wysiwyg-bg-img-size-custom') }}</option>
                    </select>
                    <input type="hidden" v-model="block.style.backgroundSize">
                    <div v-show="bgSize === 'custom'">
                        <input type="number" id="wysiwyg-bg-width" name="wysiwyg-bg-width" @input="changeBgSize">
                        <select v-model="bgSizeUnit" @change="changeBgSize($event, true)">
                            <option v-for="(unit, index) of arrayUnit" :value="unit" :key="index">{{ unit }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3>{{ messages.get('dsi', 'view-wysiwyg-mg') }}</h3>
            <div class="dsi-form-group dsi-form-wysiwyg">
                <label class="etiquette" for="wysiwyg-mg-left">{{ messages.get('dsi', 'view-wysiwyg-mg-left') }}</label>
                <div class="dsi-form-group-content">
                    <input min="0" max="400" :value="getMargin('left')" type="range" id="wysiwyg-mg-left" name="wysiwyg-mg-left" @input="changeMargin($event, 'left')">
                </div>
            </div>
            <div class="dsi-form-group dsi-form-wysiwyg">
                <label class="etiquette" for="wysiwyg-mg-left">{{ messages.get('dsi', 'view-wysiwyg-mg-right') }}</label>
                <div class="dsi-form-group-content">
                    <input min="0" max="400" :value="getMargin('right')" type="range" id="wysiwyg-mg-left" name="wysiwyg-mg-left" @input="changeMargin($event, 'right')">
                </div>
            </div>
            <div class="dsi-form-group dsi-form-wysiwyg">
                <label class="etiquette" for="wysiwyg-mg-left">{{ messages.get('dsi', 'view-wysiwyg-mg-top') }}</label>
                <div class="dsi-form-group-content">
                    <input min="0" max="400" :value="getMargin('top')" type="range" id="wysiwyg-mg-left" name="wysiwyg-mg-left" @input="changeMargin($event, 'top')">
                </div>
            </div>
            <div class="dsi-form-group dsi-form-wysiwyg">
                <label class="etiquette" for="wysiwyg-mg-left">{{ messages.get('dsi', 'view-wysiwyg-mg-bottom') }}</label>
                <div class="dsi-form-group-content">
                    <input min="0" max="400" :value="getMargin('bottom')" type="range" id="wysiwyg-mg-left" name="wysiwyg-mg-left" @input="changeMargin($event, 'bottom')">
                </div>
            </div>
        </div>
    </div>
</template>

<script>

	export default {
        name: "blockForm",
		props: ["block"],
        data: function() {
            return {
                heightUnit: "px",
                widthUnit: "px",
                arrayUnit: ["px", "rem", "%", "vh", "vw"],
                bgSize: "auto",
                bgSizeUnit: "px",
                bgSizeList: ["auto", "cover", "contain"]
            }
        },
        watch: {
            bgSize: function(newVal) {
                if(this.bgSize === "custom") {
                    if(!this.block.style.backgroundSize) {
                        this.$set(this.block.style, "backgroundSize", "");
                    }
                    
                    const formSize = document.getElementById("wysiwyg-bg-width");
                    if(formSize && formSize.value != "") {
                        this.$set(this.block.style, "backgroundSize", formSize.value + this.bgSizeUnit);
                    }
                    return;
                }
                this.$set(this.block.style, "backgroundSize", newVal);
            }
        },
        mounted: function() {
            if(!this.block.style.flexDirection) {
                this.$set(this.block.style, "flexDirection", "column");
            }

            if(!this.block.style.backgroundRepeat) {
                this.$set(this.block.style, "backgroundRepeat", "no-repeat");
            }

            if(this.block.style.backgroundImage) {
                if(document.getElementById("wysiwyg-bg-image")) {
                    let file = this.dataURLtoFile(this.block.style.backgroundImage);
                    let container = new DataTransfer(); 
                    container.items.add(file);
                    document.getElementById("wysiwyg-bg-image").files = container.files
                }
            }

            if(this.block.style.backgroundSize) {
                this.bgSize = "custom"
                for(const size of this.bgSizeList) {
                    if(this.block.style.backgroundSize == size) {
                        this.bgSize = size;
                        break;
                    }
                }

                if(this.bgSize == "custom") {
                    for(const unit of this.arrayUnit) {
                        if(this.block.style.backgroundSize.includes(unit)) {
                            this.bgSizeUnit = unit;
                            document.getElementById("wysiwyg-bg-width").value = this.block.style.backgroundSize.replace(unit, "");
                            break;
                        }
                    }
                }
            }
            
            // if(this.block.style.width) {
            //     for(const unit of this.arrayUnit) {
            //         if(this.block.style.width.includes(unit)) {
            //             this.widthUnit = unit;
            //             document.getElementById("wysiwyg-placement-width").value = this.block.style.width.replace(unit, "");
            //             break;
            //         }
            //     }
            // }

            // if(this.block.style.height) {
            //     for(const unit of this.arrayUnit) {
            //         if(this.block.style.height.includes(unit)) {
            //             this.heightUnit = unit;
            //             document.getElementById("wysiwyg-placement-height").value = this.block.style.height.replace(unit, "");
            //             return;
            //         }
            //     }
            // }
        },
		methods: {
            // changeWidth: function(event, reload = false) {
            //     if(reload) {
            //         this.$set(this.block.style, "width", event.target.previousElementSibling.value + this.widthUnit);
            //         return;
            //     }
            //     this.$set(this.block.style, "width", event.target.value + this.widthUnit);
            // },
            // changeHeight: function(event, reload = false) {
            //     if(reload) {
            //         this.$set(this.block.style, "height", event.target.previousElementSibling.value + this.heightUnit);
            //         return;
            //     }
            //     this.$set(this.block.style, "height", event.target.value + this.heightUnit);
            // },
            getMargin: function(direction) {
                if(this.block.style["margin-" + direction]) {
                    return parseInt(this.block.style["margin-" + direction], 10);
                }
                return 0;
            },
            changeMargin: function(event, direction) {
                this.$set(this.block.style, "margin-" + direction, event.target.value + "px");
            },
            changeBgSize: function(event, reload = false) {
                if(reload) {
                    this.$set(this.block.style, "backgroundSize", document.getElementById('wysiwyg-bg-width').value + this.bgSizeUnit);
                    return;
                }
                this.$set(this.block.style, "backgroundSize", event.target.value + this.bgSizeUnit);
            },
            changeBgImage(event) {
                var files = event.target.files || event.dataTransfer.files;
                if (!files.length) return;
                this.createImage(files[0]);
            },
            createImage(file) {
                var image = new Image();
                var reader = new FileReader();
                
                reader.onload = (e) => {
                    image = e.target.result;
                    this.$set(this.block.style, "backgroundImage", "url(" + image + ")");
                };
                reader.readAsDataURL(file);
            },
            dataURLToData: function(dataURL) {
                return dataURL.match(/\((.*?)\)/)[1].replace(/('|")/g,'');
            },
            dataURLtoFile: function(dataURL) {
                var url = this.dataURLToData(dataURL);

                var arr = url.split(','),
                    mime = arr[0].match(/:(.*?);/)[1],
                    bstr = atob(arr[1]), 
                    n = bstr.length, 
                    u8arr = new Uint8Array(n);
                    
                while(n--){
                    u8arr[n] = bstr.charCodeAt(n);
                }
                
                return new File([u8arr], "myfile", {type:mime});
            }
		}
	}
</script>