<template>
    <div>
        <div>
            <div v-if="block.content != '' && elementType != 'video'" class="dsi-form-group dsi-form-wysiwyg">
                <label class="etiquette" for="wysiwyg-placement-width">{{ messages.get('dsi', 'view_wysiwyg_input_' + this.elementType+'_keep_ratio') }}</label>
                <div class="dsi-form-group-content">
                    <div class="dsi-form-group-line">
                        <input :checked="block.keepRatio == '1'" type="checkbox" @input="updateElementRatio" />
                    </div>
                </div>
            </div>
            <div v-if="block.content != '' && block.keepRatio == '0'" class="dsi-form-group dsi-form-wysiwyg">
                <label class="etiquette" for="wysiwyg-placement-width">{{ messages.get('dsi', 'view_wysiwyg_input_' + this.elementType + '_height') }}</label>
                <div class="dsi-form-group-content">
                    <div class="dsi-form-group-line">
                        <input :value="heightValue" type="range" min="1" :max="block.imgHeight" @input="updateElementHeight" />
                        <input :id="'wysiwyg_' + this.elementType + '_height_input'" type="number" min="1" :max="block.imgHeight" :value="heightValue" @input="updateElementHeight" />
                        <span>px</span>
                    </div>
                </div>
            </div>
            <div v-if="block.content != '' && block.keepRatio == '0'" class="dsi-form-group dsi-form-wysiwyg">
                <label class="etiquette" for="wysiwyg-placement-width">{{ messages.get('dsi', 'view_wysiwyg_input_' + this.elementType + '_width') }}</label>
                <div class="dsi-form-group-content">
                    <div class="dsi-form-group-line">
                        <input :value="widthValue" type="range" min="1" :max="block.imgWidth" @input="updateElementWidth" />
                        <input :id="'wysiwyg_' + this.elementType + '_width_input'" type="number" min="1" :max="block.imgWidth" :value="widthValue" @input="updateElementWidth" />
                        <span>px</span>
                    </div>
                </div>
            </div>
            <div v-if="block.content != '' && block.keepRatio == '1'" class="dsi-form-group dsi-form-wysiwyg">
                <label class="etiquette" for="wysiwyg-placement-width">{{ messages.get('dsi', 'view_wysiwyg_input_' + this.elementType + '_size') }}</label>
                <div class="dsi-form-group-content">
                    <div class="dsi-form-group-line">
                        <input :value="widthValue" type="range" min="1" :max="block.imgWidth" @input="updateElementWidth" />
                        <input :id="'wysiwyg_' + this.elementType + '_width_input'"  type="number" min="1" :max="block.imgWidth" :value="widthValue" @input="updateElementWidth" />
                        <span>px</span>
                    </div>
                    <div class="dsi-form-group-line">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3>{{ messages.get('dsi', 'view_wysiwyg_input_' + this.elementType + '_position') }}</h3>
            <div v-if="block.content != ''" class="dsi-form-group dsi-form-wysiwyg">
                <label class="etiquette" :for="elementType">{{ messages.get('dsi', 'view_wysiwyg_input_' + this.elementType + '_position') }}</label>
                <div class="dsi-form-group-content">
                    <div class="dsi-form-group-line">
                        <select :value="block.style.block.textAlign" @change="updatePosition">
                            <option v-for="(position, index) in elementPositions" :value="position.value" :key="index">{{ position.label }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name : "multimediaInputForm",
    props : ['block', 'elementType'],
    data : function() {
        return {
            elementPositions : [
                {
                    value : "start",
                    label : this.messages.get('dsi', 'view_wysiwyg_position_left')
                },
                {
                    value : "center",
                    label : this.messages.get('dsi', 'view_wysiwyg_position_centered')
                },
                {
                    value : "end",
                    label : this.messages.get('dsi', 'view_wysiwyg_position_right')
                }
            ]
        }
    },
    computed : {
        heightValue : function() {
            if(this.block.style[this.elementType].height) {
                return this.block.style[this.elementType].height.replace("px", "");
            }
            return this.block.imgHeight + "px";
        },
        widthValue : function() {
            if(this.block.style[this.elementType].width) {
                return this.block.style[this.elementType].width.replace("px", "");
            }
            return this.block.imgWidth + "px";
        }
    },
    methods : {
        updateElementHeight : function(e) {
            this.$set(this.block.style[this.elementType], 'height', e.target.value + "px");
        },
        updateElementWidth : function(e) {
            this.$set(this.block.style[this.elementType], 'width', e.target.value + "px");
        },
        updateElementRatio : function(e) {
            if(e.target.checked) {
                this.$delete(this.block.style[this.elementType], 'height');
                this.$set(this.block, 'keepRatio', "1");
            } else {
                this.$set(this.block.style[this.elementType], 'height', this.block.imgHeight + "px");
                this.$set(this.block, 'keepRatio', "0");
            }
        },
        updatePosition : function(e) {
            this.$set(this.block.style.block, "textAlign", e.target.value);
        }
    }
}
</script>