<template>
    <div class="dsi-wysiwyg-text-editor">
        <editor v-model="block.content" :init="configEditor"></editor>
    </div>
</template>

<script>
    import tinymce from 'tinymce';

    import 'tinymce/icons/default';
    import 'tinymce/themes/silver';
    import 'tinymce/skins/ui/oxide/skin.css';
    import 'tinymce/models/dom';

    import 'tinymce/plugins/advlist';
    import 'tinymce/plugins/code';
    import 'tinymce/plugins/link';
    import 'tinymce/plugins/lists';
    import 'tinymce/plugins/table';
    import 'tinymce/plugins/insertdatetime';
    import 'tinymce/plugins/image';
    import 'tinymce/plugins/media';
    import 'tinymce/plugins/fullscreen';
    import 'tinymce/plugins/link';
    import 'tinymce/plugins/nonbreaking';
    import 'tinymce/plugins/preview';
    import 'tinymce/plugins/searchreplace';
    import 'tinymce/plugins/directionality';
    import 'tinymce/plugins/visualchars';
    import 'tinymce/plugins/anchor';
    import 'tinymce/plugins/charmap';

    import editor from "@tinymce/tinymce-vue";

	export default {
        name: "textEditorInputForm",
		props: ["block"],
        components: {
            editor
        },
        data: function() {
            return {
                configEditor: {
                    height: 500,
                    setup: (editor) => {
                        editor.on('init', () => {
                            this.hiddenLoader();
                        });
                    },
                    entity_encoding : 'raw',
                    convert_urls : false,
                    language: 'fr_FR',
                    language_url : './javascript/tinymce/fr_FR.js',
                    toolbar: ['undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify outdent indent | bullist numlist | forecolor backcolor | fontsizeselect | fontselect',
                            'link image | anchor | fullscreen preview code'],
                    plugins: "table insertdatetime image media link nonbreaking preview searchreplace directionality visualchars code anchor fullscreen charmap lists advlist",
                    browser_spellcheck : false,
                    removed_menuitems: 'newdocument',
                    skin: false,
                    content_css: false,
                    formats: {
                        p: { block: 'p', styles: { 'margin': '0' }, exact: true },
                    },
                    promotion: false
                }
            }
        },
        mounted: function() {
            this.showLoader();
        }
	}
</script>