<template>
    <fieldset class="dsi-fieldset-aggregator">
        <legend class="dsi-legend-aggregagor">{{ messages.get('dsi', 'items_form_agregator_data') }}</legend>
        <div class="dsi-form-group-item">
            <label class="etiquette" for="itemTypeList">{{ messages.get('dsi', 'items_form_agregator_with_model') }}</label>
            <select @change="addChild">
                <option value="" disabled selected>{{ messages.get('dsi', 'model_selector_default_value') }}</option>
                <option v-for="(model, index) in getFilterListModel" :key="index" :value="index">{{ model.name }}</option>
            </select>
		</div>
        <div class="dsi-form-group-item">
            <label class="etiquette" for="itemTypeList">{{ messages.get('dsi', 'items_form_agregator_with_new') }}</label>
            <button class="bouton dsi-button" type="button" @click="openNewTab(null)"><i class="fa fa-plus" aria-hidden="true"></i></button>
		</div>
        <div v-if="item.childs.length" class="dsi-form-item-agregator">
            <paginationList :filter-fields="fields" :list="item.childs" format="table" :perPage="5" :startPage="1" :nbPage="5" :nbResultDisplay="false">
                <template #content="{ list }">
                    <table class="uk-table uk-table-small uk-table-striped uk-table-middle">
                        <thead>
                            <tr>
                                <th>{{messages.get('dsi', 'items_form_agregator_name')}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(child, subindex) in item.childs" :key="subindex">
                                <td>{{ child.name }}<b>{{child.id ? "" : " *"}}</b></td>
                                <td class="right dsi-inline">
                                    <button class="bouton" type="button" @click="editChild(subindex)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                    <button class="bouton" type="button" @click="removeChild(subindex)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </template>
            </paginationList>
        </div>
    </fieldset>
</template>

<script>
    import paginationList from "../../components/paginationList.vue";
    export default {
        props: ["item", "rootItem", "uid", "parentUid", "is_model"],
        data: function() {
            return {
                listModels: [],
                fields : [
                    {
                        name : "name",
                        label : "items_form_agregator_name",
                        type : "text"
                    }
			    ],
                uniqueId: Date.now().toString(36) + Math.random().toString(36).substring(2),
            }
        },
        components: {
            paginationList
        },
        created: async function() {
			await this.getListModel();

            let nameEvent = "saveOnAgregator";
            nameEvent += ("_" + this.uid);

            this.$root.$on(nameEvent, this.saveOnAgregator);
        },
        computed: {
            getFilterListModel: function() {
                let findInRoot = (id, item) => {
                    if(item.id === id) {
                        return true;
                    }
                    for(const child of item.childs) {
                        if(child.childs.length) {
                            return findInRoot(id, child)
                        }
                    }
                    return false;
                } 

                let listModel = [];

                if(this.listModels.length) {
                    for(let model of this.listModels) {
                        if(!findInRoot(model.id, this.rootItem === "" ? this.item : this.rootItem)) {
                            listModel.push(model);
                        }
                    }
                }

                return listModel;
            }
        },
        methods: {
			getListModel: async function() {
				let list = await this.ws.get("Items", "getModels");
                if(list.length) {
                    const index = list.findIndex(item => item.id === this.item.id);
                    if(index !== -1) {
                        list.splice(index, 1);
                    }
                }

				this.$set(this, "listModels", list);
			},
            removeChild: function(index) {
                this.item.childs.splice(index, 1);
            },
            addChild: function($event) {
                let child = this.listModels[$event.target.selectedIndex-1];
                
                child.numModel = child.id;
                child.model = this.is_model;
                child.numParent = this.item.id;
                child.id = 0;

                this.$set(this.item.childs, this.item.childs.length, this.listModels[$event.target.selectedIndex-1])

                $event.target.selectedIndex = "";
            },
            editChild: function(index) {
                this.openNewTab(this.item.childs[index]);
            },
            openNewTab: function(item) {
                this.$root.$emit("openNewTab", this.uid, item);
            },
            saveOnAgregator: function(item, uid, action) {
                if(action === "add") {
                    this.$set(this.item.childs, this.item.childs.length, item)
                    //this.item.childs.push(item);
                }
                this.$root.$emit("closeNewTab", uid, this.uid);
			}
        }
    }

</script>