<template>
	<div id="list">
		<table>
			<thead>
				<tr>
					<th>{{ messages.get('dsi', 'item_name') }}</th>
					<th>{{ messages.get('dsi', 'item_type') }}</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(item, index) in list" style="cursor: pointer" @click="edit(item.id)" :key="index">
					<td>{{item.name}}</td>
					<td>{{getTypeLabel(item.type)}}</td>
				</tr>
			</tbody>
		</table>
		<input type="button" class="bouton" :value="messages.get('dsi', 'add_model')" @click="add">
	</div>
</template>

<script>
	export default {
		props : ["list", "types"],
		data: function () {
			return {}
		},
		methods: {
		    add: function () {
		        document.location = "./dsi.php?categ=items&action=add";
		    },
		    edit: function (id) {
		        document.location = `./dsi.php?categ=items&action=edit&id=${id}`;
		    },
            getTypeLabel: function(type) {
                if(type) {
                    return this.messages.get('dsi', 'item_simple') + " (" + this.types[type] + ")";
                }
                return this.messages.get('dsi', 'item_agregator');
            }
		}
	}
</script>