<template>
	<div id="dsi-form-source-item">
		<div class="dsi-form-group">
			<label class="etiquette" for="itemTypeList">{{ messages.get('dsi', 'source_form_type') }}</label>
			<div class="dsi-form-group-content">
				<select id="itemTypeList" name="itemTypeList" v-model="item.type" @change="reset" required>
					<option value="" disabled>{{ messages.get('dsi', 'source_form_default_type') }}</option>
					<option v-for="(type, index) in types" :key="index" :value="index" :disabled="!availableTypes.includes(parseInt(index))">
						{{ type }}
					</option>
				</select>
			</div>
		</div>
		<ItemSource v-if="item.type != ''" :type="item.type" :settings="item.settings" @updateSettings="updateSettings" :key="item.type"></ItemSource>
	</div>
</template>

<script>
	import ItemSource from "./source/source.vue";
	export default {
		props: ["item", "types", "viewType"],
		components: {
            ItemSource
		},
        data: function () {
            return {
                filteredTypes : [],
                availableTypes: [1, 14, 19]
            }
        },
		created: function() {
            if(this.item.type == 0) {
                this.item.type = "";
            }

			if(this.item.settings == "") {
				this.$set(this.item, "settings", {})
			}
		},
        watch : {
            "viewType" : async function() {
                await this.getFilteredTypes();
            }
        },
		methods: {
			updateSettings: function(settings) {
				this.$set(this.item, "settings", settings);
			},
			reset: function() {
				this.$set(this.item, "settings", {});
			},
            getFilteredTypes : async function() {
                if(! this.itemType) {
                    this.$set(this, "filteredTypes", this.types);
                    return;
                }
                this.$set(this, "filteredTypes", []);
                let compatibility = await this.ws.get('views', 'getCompatibility/'+ this.viewType);
                for(let i in compatibility) {
                    if(this.types.find(t => t.id == compatibility[i]) !== undefined) {
                        this.$set(this.filteredTypes, this.filteredTypes.length, this.types.find(t => t.id == compatibility[i]));
                    }
                }
            }
		}
	}
</script>