<template>
	<div id="paymentsList">
        <h2>{{ messages.get("payments", "my_accounts") }}</h2>
		<table class="account-table">
            <thead class="account-table-head">
                <tr>
                    <td class="account-title">{{ messages.get("payments", "account") }}</td>
                    <td class="sold-title">{{ messages.get("payments", "sold") }}</td>
                </tr>
            </thead>
			<accountline v-for="(account, key) in accounts" :key="key" 
				 :account="account" 
				 :index="key" 
				 :id="account.id" 
				 :devise="devise" 
				 @accountchecked="accountChecked" />
        </table>

        <h2>{{ messages.get("payments", "debt") }}</h2>
		<table class="account-table">
            <thead class="account-table-head">
                <tr>
                    <td class="debt-account-title">{{ messages.get("payments", "account") }}</td>
                    <td class="debt-account-owed-title">{{ messages.get("payments", "amount_owed") }}</td>
                    <td class="debt-account-people-title">{{ messages.get("payments", "people") }}</td>
                    <td class="debt-account-action-title"></td>
                </tr>
            </thead>
            <tbody class="account-debt-group">
                <tr class="account-debt-line">
                    <td class="account-debt-name">Compte Abonnement</td>
                    <td class="account-debt-amount-owed">15 <span class="devise" v-html="devise"></span></td>
                    <td class="account-debt-people">Martin</td>
                    <td class="account-debt-action">
	                    <input id="payment_0" name="payment" type="checkbox" value="1" @change="accountChecked"/>
	                    <label for="payment_0">
	                       {{ messages.get("payments", "pay") }}
	                    </label>
                    </td>
                </tr>
            </tbody>
            <tfoot class="account-table-foot">
                <tr>
                    <td class="debt-account-total-title" colspan="3">{{ messages.get("payments", "total") }}</td>
                    <td class="debt-account-sold-title">0 <span class="devise" v-html="devise"></span></td>
                </tr>
            </tfoot>
        </table>
		<div class="row actions">
			<button type="button" class="btn-pay" @click="" :disabled="pay <= 0">
                {{ messages.get("payments", "pay") }}
			</button>
		</div>
	</div>
</template>

<script>
	import accountline from "./accountLine.vue";
	
	export default {
		props : ["accounts", "sold", "devise"],
		
		data: function () {
			return {
			    action: "list",
			    accountList: []
			}
		},
		computed: {
		    totalSoldClass: function() {
                let classCss = "center";
                classCss += 0 > this.sold ? ' loss-price' : '';
                return classCss;
		    },
		    pay: function() {
		        let sold = 0;
		        for (let idAccount of this.accountList) {
		            sold += this.getAccountSold(idAccount);
		        }
		        return Math.abs(sold);
		    }
		},
		methods : {
			accountChecked : function(event){
				if(this.accountList.includes(event)){
					let accountIndex = this.accountList.findIndex(index => event == index);
					this.accountList.splice(accountIndex, 1);
				} else {
					this.accountList.push(event);
				}
			},
			getAccountSold: function(idAccount) {
			    const accountFind = this.accounts.find(account => account.id == idAccount);
			    return accountFind.sold ?? 0;
			}
		},
		components : {
			accountline,
		}
	}
</script>