<template>
	<div>
		<h2>{{ data.messages.name }}</h2>
		<p>{{ data.messages.description }}</p>
		
		<div class="row">
			<button class="bouton btnCancel" type="button" @click="cancel">
				{{ messages.get("common", "cancel") }}
			</button>
		</div>
	</div>
</template>

<script>
	export default {
		props : ["data"],
		data: function () {
			return {}
		},
		methods: {
		    cancel: function () {
		        this.$emit('cancel');
		    }
		}
	}
</script>