<template>
	<div>
		<modalModel v-if="showModal" @close="$emit('close')">
			<h3 slot="header">{{ messages.get('dsi', 'create_model') }}</h3>
			<div slot="body">
				<div class="dsi-form-group">
				<label class="etiquette" for="model-name">{{ messages.get('dsi', 'channel_form_name') }}</label>
					<div class="dsi-form-group-content">
						<input type="text" class="dsi-model-name" id="model-name" name="model-name" v-model="entity.name" required>
					</div>
				</div>
			</div>
			<div slot="footer">
				<input v-if="idForm" name="submit_model_from_modal" type="button" class="bouton" @click="submitForm($event)" :value="messages.get('common', 'submit')">
				<input v-else name="submit_model_from_modal" type="submit" class="bouton" :value="messages.get('common', 'submit')">
			</div>
		</modalModel>
	</div>
</template>

<script>
	import modalModel from "./modal.vue";

	export default {
		props: ["showModal", "entity", "idForm"],
		components: {
			modalModel
		},
		methods: {
			submitForm: function(e) {
				const excludeElements = ["name-subscriber", "email-subscriber", "select-subscriber-type"];

				for (const el of document.getElementById(this.idForm).querySelectorAll("[required]")) {
					console.log(el)
					if (!el.reportValidity() && excludeElements.findIndex(element => element === el.name) == -1) {
						return;
					}
				}

				this.$emit('submit', e.target)
			}
		}
	}
</script>