<template>
	<div v-if="list.length > 0" class="model-selector-container">
		<div class="dsi-form-group">
			<label class="etiquette" for="model-selector">{{ messages.get('dsi', 'model_heritage_form') }}</label>
			<div class="dsi-form-group-content">
				<select name="model-selector" v-model="selected" @change.prevent="updateSelectedModel(false)">
					<option disabled value="">{{ messages.get('dsi', 'model_selector_default_value') }}</option>
					<option v-for="(element, index) in list" :key="index" :value="element.id">{{element.name}}</option>
				</select>
				<span v-if="selected != ''" type="button" class="model-reset" @click="updateSelectedModel(true)" :title="messages.get('dsi', 'model_selector_reset')">
					<i class="fa fa-times" aria-hidden="true" style="cursor: pointer"></i>
				</span>
				<span v-if="isModified" class="model-modified" :title="messages.get('dsi', 'model_is_modified_form')">M</span>
				<span v-if="selected != ''">
					<span v-if="item && item.settings && item.settings.locked" type="button" @click="lock(false)" class="model-lock">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
					<span v-else type="button" @click="lock(true)" class="model-lock">
						<i class="fa fa-unlock" aria-hidden="true"></i>
					</span>
				</span>
			</div>
		</div>
		<hr>
	</div>
</template>

<script>
	export default {
		props : ['entity', 'id', 'restrictedFields', 'item'],
		data : function() {
			return {
				list : [],
				selected: ""
			}
		},
		watch : {
			"item.numModel" : function() {
				this.selected = this.item.numModel ? this.item.numModel : "";
			}
		},
		created : function() {
			//this.updateSelectedModel(true)
			this.selected = this.item.numModel ? this.item.numModel : "";
			this.updateSelectedModel(false)
			this.getList();
		},
		computed: {
			model : function() {
				return this.list.find((m) => m.id == this.item.numModel);
			},
			fullRestrictedFields : function() {
				if(! this.restrictedFields) {
					return [];
				}
				const commonRestrictedFields = ["datafetch", "structure", "num_tag", "ormName", "locked"];
				return this.restrictedFields.concat(commonRestrictedFields);
			},
            base_url: function() { return window.location.origin + '/' + window.location.pathname.split('/')[1] },
			isModified: function() {
				if(this.model && this.fullRestrictedFields) {
					for (const [key, value] of Object.entries(this.model)) {
						if(key === "settings") {
							for(let settingKey in this.item.settings) {
								if(! this.fullRestrictedFields.includes(settingKey)) {
									if(this.item.settings[settingKey] instanceof Array || typeof this.item.settings[settingKey] === 'object') {
										if(JSON.stringify(this.item.settings[settingKey]) === JSON.stringify(this.model.settings[settingKey])) {
											continue;
										}
									} else if(this.item.settings[settingKey] === this.model.settings[settingKey]) {
										continue;
									}
									return true;
								}
							}
						} else if(! this.fullRestrictedFields.includes(key)) {
							if(this.item[key] instanceof Array) {
								if(JSON.stringify(this.item[key]) === JSON.stringify(value)) {
									continue;
								}
							}
							if(this.item[key] === value) {
								continue;
							}
							return true;
						}
					}
				}
				return false;
			},
        },
		methods : {
			getList : async function() {
				let list = await this.ws.get(this.entity, "getModels");
				if(list && !list.error) {
					const index = list.findIndex(model => model.id == this.id);
					if(index != -1) {
						list.splice(index, 1);
					}
				}

				this.list = list;
			},
			updateSelectedModel : function(reset) {
				if(reset) {
					this.$set(this, "selected", "");
					if(this.item.settings) {
						this.$delete(this.item.settings, "locked");
					}
					this.$set(this.item, "numModel", "0");
					this.$emit('updateSelectedModel', "0");
					return;
				}
				let i = this.list.findIndex((e) => {
					return e.id == this.selected;
				})
				if(i != -1) {					
					this.$emit('updateSelectedModel', this.list[i]);
				}
			},
			lock : function(lock) {
				this.$set(this.item.settings, "locked", lock);
			}
		}
	}
</script>