<template>
	<div id="rmc-form">
        <div class="dsi-form-group-item">
            <input type='hidden' name='explicit_search' value='1'/>
            <input type='hidden' name='search_xml_file' value='search_fields'/>
            <input type='hidden' name='search_xml_file_full_path' value=''/>

            <input type="hidden" :id="'idRMCSelector_data_' + uniqueId" :name="'idRMCSelector_data_' + uniqueId" v-model="search">
            <input type="hidden" :id="'idRMCSelector_search_serialize_' + uniqueId" :name="'idRMCSelector_data_' + uniqueId">

            <span :id="'idRMCSelector_human_' + uniqueId" :name="'idRMCSelector_human_' + uniqueId" v-html="human"></span>

            <div id="rmc-form-action">
                <span type="button" :title="messages.get('dsi', 'rmc_form_edit')">
                    <i class="fa fa-pencil dsi-rmc-button" aria-hidden="true" id='edit_dsi_set' style="cursor: pointer" :data-pmb-evt='setEvent("loadSetDialog")'></i>
                </span>
                <span type="button" :title="messages.get('dsi', 'rmc_form_del')">
                    <i class="fa fa-times dsi-rmc-button" aria-hidden="true" id='delete_dsi_set' style="cursor: pointer" @click="clearSearch"></i>
                </span>
                <span type="button" :title="messages.get('dsi', 'rmc_form_test')">
                    <i v-show="human" class="fa fa-search dsi-rmc-button" aria-hidden="true" id='search_reload' style="cursor: pointer" @click="reloadSearch"></i>
                </span>
            </div>
        </div>
        <div v-if="Object.keys(list).length > 0">
            <hr>
            <pagination-list :list="Object.values(list)" :perPage="10" :startPage="1" :nbPage="6" :nbResultDisplay="true">
                <template #content="{ list }">
                    <ul class="dsi-entities-list">
                        <li v-for="(element, index) in list" :key="index" v-html="element"></li>
                    </ul>
                </template>
            </pagination-list>
            <hr>
        </div>
	</div>
</template>

<script>
    import paginationList from "./paginationList.vue";
	export default {
		props : ["rmc_type", "entity_type", "search", "human"],
		data: function () {
            return {
                list: {},
                uniqueId: Date.now().toString(36) + Math.random().toString(36).substring(2)
            }
		},
        components: {
            paginationList
        },
        mounted: function() {
            let event = new CustomEvent('RMCLoaded');
            window.dispatchEvent(event);

            window.addEventListener("changeRMCData_" + this.uniqueId, (event) => {
                this.$emit("updateRMC", event.detail.data)
            });
        },
		methods: {
            setEvent: function(method = "loadSetDialog") {
                return JSON.stringify({
                    class: "DsiForm",
                    type: "click",
                    method: method,
                    parameters: {
                        module: "selectors",
                        what: this.rmc_type,
                        entity_type: this.rmc_type,
                        action: "advanced_search",
                        uniqueId: this.uniqueId
                    }
                })
            },
            clearSearch: function() {
                document.getElementById("idRMCSelector_data_" + this.uniqueId).value = ""
                document.getElementById("idRMCSelector_search_serialize_" + this.uniqueId).value = ""
                document.getElementById("idRMCSelector_human_" + this.uniqueId).innerHTML = ""
                
                this.list = {};
                this.$emit("updateRMC", "")
            },
            reloadSearch: async function() {
                this.showLoader();

                let response = await this.ws.post('Common', 'search', {search: JSON.parse(this.search), type: this.entity_type});
                if (response.error) {
                    this.notif.error(this.messages.get('dsi', response.errorMessage));
                } else {
                    this.list = response;
                    this.hiddenLoader();
                }
            }
		}
	}
</script>