<!-- $Id: change_password.tpl.html,v 1.8 2022/07/28 12:35:46 jparis Exp $ -->

<div id='change-password'>
	<div id='change-password-container'>
		<form action='empr.php' method='post' id="change_password_form" name='change_password_form' data-csrf='true'>
			<table width='60%' cellpadding='5'>
				{% block change_password_form %}
				{% if global.password_key %}
				{% else %}
					<tr>
						<td width='50%'>{{ msg.empr_old_password }}</td>
						<td width='50%'>
							<input id="old_password" type='password' name='old_password' border='0' value='' required autocomplete='new-password' />
						</td>
					</tr>
				{% endif %}
				<tr>
					<td width='50%'>{{ msg.empr_new_password }}</td>
					<td width='50%'>
					   <input id="new_password" type='password' name='new_password' border='0' value='' required autocomplete='new-password' />
					   <div class='helper' id="new_password_helper"></div>
					</td>
				</tr>
				<tr>
					<td width='50%'>{{ msg.empr_confirm_new_password }}</td>
					<td width='50%'>
					   <input id="confirm_new_password" type='password' name='confirm_new_password' border='0'  value='' required autocomplete='new-password' />
					   <div class='helper' id="confirm_new_password_helper"></div>
					</td>
				</tr>
				{% endblock %}
				<tr>
					<td colspan=2>
						<input type='hidden' name='action' value='save'/>
						<input type='hidden' name='lvl' value='change_password'/>
						{% if global.password_key %}
							<input type='hidden' name='password_key' value='{{ global.password_key }}' />
						{% endif %}
						<input type='submit' class='bouton' value='{{ msg.empr_valid_password }}' />
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>

{% block change_password_scripts %}
	<script>
	
 		function check_new_password() {
 			
 			let new_password = document.getElementById('new_password').value;
 			let new_password_helper = document.getElementById('new_password_helper');
 			let nb_rules = enabled_password_rules.length;
 			let error_msg = [];
 			let password_enabled = true;
 			
 			if(0 == nb_rules) {
 				return password_enabled;
 			}
 			
 			for(let i = 0; i < nb_rules; i++) {
 				let rule = enabled_password_rules[i];
 				switch (rule.type) {
 				    case 'class' :
 				    	if( '' != rule.value) {
 				    		if(rule.value == new_password) {
 				    			error_msg.push(rule.error_msg);
                                password_enabled = false;
 				    		}
 				    	}
 				    	break;
 				    case 'regexp' :
 				    	if( '' != rule.regexp ) {
 				    		let regexp = new RegExp(rule.regexp);
 				    		if( !regexp.test(new_password) ) {
 				    			error_msg.push(rule.error_msg);
 				    			password_enabled = false;
 				    		}
 				    	}
 				    	break;
 				}
 			}
 			
 			if(true == password_enabled) {
 				new_password_helper.innerHTML = ''; 
 				return true;
 			}
 			
 			if(0 == error_msg.length) {
 				new_password_helper.innerHTML = ''; 
 			} else {
				let helper_msg = error_msg.join('<br />');
				new_password_helper.innerHTML = helper_msg;
 			}
			return false;
		}
		
 		
 		function check_if_passwords_match() {
 			
            let passwords_match = true;
            let confirm_new_password_helper = document.getElementById('confirm_new_password_helper');
            
            let new_password = document.getElementById('new_password').value;
            let confirm_new_password = document.getElementById('confirm_new_password').value;
            if(confirm_new_password != new_password) {
            	confirm_new_password_helper.innerHTML = "{{ msg.empr_password_does_not_match }}";
                return false;     	
            } else {
            	confirm_new_password_helper.innerHTML = '';
            	return true;
            }
 		}
 		
 		
		function check_before_submit(e) {
			
			let new_password_enabled = check_new_password();
			let passwords_match = check_if_passwords_match();
			
            if (!new_password_enabled || !passwords_match) {
                e.preventDefault();
                e.stopPropagation();
                return;
            };
        }
		
        var enabled_password_rules = {{ empr.json_enabled_password_rules }};
        
		var check_timeout = null;
		try {
            document.getElementById('new_password').addEventListener('input', function(e) {
                clearTimeout(check_timeout);
                check_timeout = setTimeout(function() {
                    check_new_password();
                }, 1000);
            });
            document.getElementById('confirm_new_password').addEventListener('input', function(e) {
                clearTimeout(check_timeout);
                check_timeout = setTimeout(function() {
                	check_if_passwords_match();
                }, 1000);
            });
            document.getElementById('change_password_form').addEventListener('submit', check_before_submit);
        } catch(err) {}
        
        check_new_password();
	</script>
{% endblock %}