<template>
	<div id="edit">
		<div id="form">
			<form action="#" method="POST" @submit.prevent="submit" class="dsi-form-diffusion">
				<div class="dsi-form-group">
					<label class="etiquette" for="name">{{ messages.get('dsi', 'source_form_name') }}</label>
					<div class="dsi-form-group-content">
						<input type="text" id="name" name="name" v-model="source.name" required>
					</div>
				</div>
				
				<div class="dsi-form-group">
					<label class="etiquette" for="itemTypeList">{{ messages.get('dsi', 'source_form_type') }}</label>
					<div class="dsi-form-group-content">
						<select id="itemTypeList" name="itemTypeList" v-model="source.type" @change="initSelector(true)" required>
							<option value="0">{{ messages.get('dsi', 'source_form_default_type') }}</option>
							<option v-for="(type, index) in source_type_list" :key="index" :value="index">
								{{ type }}
							</option>
						</select>
					</div>
				</div>

				<div class="dsi-form-group" v-if="source.type != 0">
					<label class="etiquette" for="sourceList">{{ messages.get('dsi', 'source_form_source') }}</label>
					<div class="dsi-form-group-content">
						<template v-if="sourceList.length != 0">
								<select id="sourceList" name="sourceList" v-model="source.settings.source" @change="getSelectorList" required>
									<option value="0">{{ messages.get('dsi', 'source_form_default_source') }}</option>
									<option v-for="(sourceItem, index) in sourceList" :key="index" :value="sourceItem.namespace">
										{{ sourceItem.name }}
									</option>
								</select>
						</template>
						<template v-else-if="sourceList.length == 0">
							<h3><b>Aucune source disponible pour ce type</b></h3>
						</template>
					</div>	
				</div>	

				<template v-if="selectorList.length != 0 && source.settings.source != 0">
					<div class="dsi-form-group">
						<label class="etiquette" for="selectorList">{{ messages.get('dsi', 'source_form_selector') }}</label>
						<div class="dsi-form-group-content">
							<select id="selectorList" name="selectorList" v-model="source.settings.selector.name" @change="getSubSelectorList" required>
								<option value="0">{{ messages.get('dsi', 'source_form_default_selector') }}</option>
								<option v-for="(selectorItem, index) in selectorList" :key="index" :value="selectorItem.namespace">
									{{ selectorItem.name }}
								</option>
							</select>
						</div>	
					</div>	
				</template>

				<template v-if="subSelectorList.length != 0 && source.settings.selector != 0">
					<div class="dsi-form-group">
						<label class="etiquette" for="selectorList">{{ messages.get('dsi', 'source_form_subselector') }}</label>
						<div class="dsi-form-group-content">
							<select id="selectorList" name="selectorList" v-model="source.settings.selector.subselector.name" required>
								<option value="0">{{ messages.get('dsi', 'source_form_default_subselector') }}</option>
								<option v-for="(subSelectorItem, index) in subSelectorList" :key="index" :value="subSelectorItem.namespace">
									{{ subSelectorItem.name }}
								</option>
							</select>
						</div>	
					</div>	
				</template>

				<RMCForm v-if="isRMC" type="notice" @updateRMC="updateRMC" :search="source.settings.selector.subselector.data.search" :human="source.settings.selector.subselector.data.human_query"></RMCForm>
				
				<div class="row">
					<br />
					<div class="left">
						<input type="button" class="bouton" :value="messages.get('common', 'cancel')" @click="cancel">			
						<input type="submit" class="bouton" :value="messages.get('common', 'submit')">	
					</div>
					<template v-if="source.id != 0">
						<div class="right">
							<input @click="del" class="bouton" type="button" :value="messages.get('dsi', 'del')"/>
						</div>
			    	</template>		
				</div>
			</form>
		</div>
	</div>
</template>

<script>
	import RMCForm from "../../components/RMCForm.vue";
	export default {
		props : ["source_item", "source_type_list"], 
		data: function () {
			return {
			    source: {
					id: 0,
				    name: "",
					type: 0,
					settings: {
						source : 0,
						selector : {
							name: 0,
							subselector: {
								name: 0,
								data: "",
								subselector: {}
							}
						}
						
					}
			    },
				sourceList: [],
				selectorList: [],
				subSelectorList: []
			}
		},
		components : {
			RMCForm
		},
		created: function() {
			this.init();
		},
		computed: {
			isRMC: function() {
				const TypeRMC = 7;
				let subselector = this.source.settings.selector.subselector.name;
				if(subselector != 0) {
					if(subselector.split("\\")[TypeRMC] === "RMC") {
						return true;
					}
				}
				return false;
			}
		},
		methods: {
			init: function() {
				this.setForm();
				this.initSelector();
			},
			initSelector: function(resetForm = false) {
				if(resetForm) {
					this.resetForm();
				}

				this.getSourceList();
				this.getSelectorList();
				this.getSubSelectorList();
			},
			resetForm: function() {
				this.sourceList = [],
				this.selectorList = [],
				this.subSelectorList = [],
				this.$set(this.source, "settings", {
					source : 0,
					selector : {
						name: 0,
						subselector: {
							name: 0,
							data: "",
							subselector: {}
						}
					}
				});
			},
			setForm() {
				if(this.source_item.id != 0) {
					this.source = this.source_item;
				}
			},
			getSourceList: async function() {
				if(this.source.type != 0) {
					let response = await this.ws.get('SourcesItems', 'getSourceList/' + this.source.type);
					if (response.error) {
						this.notif.error(this.messages.get('dsi', response.errorMessage));
					} else {
						this.sourceList = response;
					}
				}
			},
			getSelectorList: async function() {
				if(this.source.settings.source != 0 && this.source.settings.source != "") {
					let response = await this.ws.get('SourcesItems', 'getSelectorList/' + encodeURI(this.source.settings.source));
					if (response.error) {
						this.notif.error(this.messages.get('dsi', response.errorMessage));
					} else {
						this.selectorList = response;
					}
				}
			},
			getSubSelectorList: async function() {
				if(this.source.settings.selector.name != 0 && this.source.settings.selector.name != "") {
					let response = await this.ws.get('SourcesItems', 'getSelectorList/' + encodeURI(this.source.settings.selector.name));
					if (response.error) {
						this.notif.error(this.messages.get('dsi', response.errorMessage));
					} else {
						this.subSelectorList = response;
					}
				}
			},
			updateRMC: function(data) {
				this.source.settings.selector.subselector.data = data
			},
		    cancel: function() {
		        document.location = "./dsi.php?categ=sources_items";
		    },
			submit: async function() {
				let response = await this.ws.post('SourcesItems', 'save', this.source);
				if (response.error) {
					this.notif.error(this.messages.get('dsi', response.errorMessage));
				} else {
					document.location = "./dsi.php?categ=sources_items";
				}
			},
			del : async function() {
				if (confirm(this.messages.get('dsi', 'confirm_del'))) {
					let response = await this.ws.post("SourcesItems", 'delete', this.source);
					if (response.error) {
						this.notif.error(this.messages.get('dsi', response.errorMessage));
					} else {
						document.location = "./dsi.php?categ=sources_items";
					}
				}
			}
		}
	}
</script>