<template>
	<div id="list">
		<table>
			<thead>
				<tr>
					<th>{{ messages.get('dsi', 'source_name') }}</th>
					<th>{{ messages.get('dsi', 'source_type') }}</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(source, index) in list" @click="edit(source.id)" :key="index" style="cursor: pointer">
					<td>{{ source.name }}</td>
					<td>{{ types[source.type] }}</td>
				</tr>
			</tbody>
		</table>
		<input type="button" class="bouton" :value="messages.get('dsi', 'add')" @click="add">
	</div>
</template>

<script>
	export default {
		props : ["list", "types"],
		data: function () {
			return {}
		},			
		methods: {
		    add: function () {
		        document.location = "./dsi.php?categ=sources_items&action=add";
		    },
		    edit: function (id) {
		        document.location = `./dsi.php?categ=sources_items&action=edit&id=${id}`;
		    }
		}
	}
</script>