/* ========================================================================
   Component: Utility
 ========================================================================== */
/* Container
 ========================================================================== */
#container {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
}

/*
 * Micro clearfix
 * Can't use `table` because it creates a 1px gap when it becomes a flex item, only in Webk
 */
#container:before,
#container:after {
  content: "";
  display: block;
  overflow: hidden;
}
#container:after {
  clear: both;
}
/*
 * Center container
 */
#container {
  margin-left: auto;
  margin-right: auto;
}

/* ========================================================================
   Component: Zone Grid only add to container
 ========================================================================== */
.wyk-grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}
/*
 * Grid cell
 */
.wyk-grid > div {
  /* 1 */
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
  margin: 0;
  float: left;
}
/*
 * Remove margin from the last-child
 */
.uk-grid > * > :last-child {
  margin-bottom: 0;
}
/* ========================================================================
   Component: Grid sub zone only add to main_hors_footer and cms_module
 ========================================================================== */
.wyk-sub-grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}
.wyk-sub-grid > *{
	width:100%;
}
.cmsNoStyles {
  border: 0!important;
  margin: 0!important;
  padding: 0!important;
  height: 0!important;
  background-color: transparent;
  visibility: 0;
}
div[id^="cms_module"]:empty,
div:empty:not(.clear){
  display:none;
}


/* ========================================================================
   Grid
 ========================================================================== */


 .pmb_grid {
  display: grid;
 }

 .pmb_grid_gap {
  gap: 20px;
 }

.pmb_grid_1_2 {
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-columns: repeat(2, 1fr);
}
.pmb_grid_1_3 {
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-columns: repeat(3, 1fr);
}
.pmb_grid_1_4 {
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-columns: repeat(4, 1fr);
}
.pmb_grid_1_5 {
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-columns: repeat(5, 1fr);
}
.pmb_grid_1_6 {
  grid-template-columns: repeat(6, 1fr);
  -ms-grid-columns: repeat(6, 1fr);
}
.pmb_grid_1_7 {
  grid-template-columns: repeat(7, 1fr);
  -ms-grid-columns: repeat(7, 1fr);
}
.pmb_grid_1_8 {
  grid-template-columns: repeat(8, 1fr);
  -ms-grid-columns: repeat(8, 1fr);
}
.pmb_grid_1_9 {
  grid-template-columns: repeat(9, 1fr);
  -ms-grid-columns: repeat(9, 1fr);
}
.pmb_grid_1_10 {
  grid-template-columns: repeat(10, 1fr);
  -ms-grid-columns: repeat(10, 1fr);
}

@media screen and (min-width: 640px) {
  .pmb_grid_1_2_s {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: repeat(2, 1fr);
  }
  .pmb_grid_1_3_s {
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: repeat(3, 1fr);
  }
  .pmb_grid_1_4_s {
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-columns: repeat(4, 1fr);
  }
  .pmb_grid_1_5_s {
    grid-template-columns: repeat(5, 1fr);
    -ms-grid-columns: repeat(5, 1fr);
  }
  .pmb_grid_1_6_s {
    grid-template-columns: repeat(6, 1fr);
    -ms-grid-columns: repeat(6, 1fr);
  }
  .pmb_grid_1_7_s {
    grid-template-columns: repeat(7, 1fr);
    -ms-grid-columns: repeat(7, 1fr);
  }
  .pmb_grid_1_8_s {
    grid-template-columns: repeat(8, 1fr);
    -ms-grid-columns: repeat(8, 1fr);
  }
  .pmb_grid_1_9_s {
    grid-template-columns: repeat(9, 1fr);
    -ms-grid-columns: repeat(9, 1fr);
  }
  .pmb_grid_1_10_s {
    grid-template-columns: repeat(10, 1fr);
    -ms-grid-columns: repeat(10, 1fr);
  }
}

@media screen and (min-width: 960px) {
  .pmb_grid_1_2_m {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: repeat(2, 1fr);
  }
  .pmb_grid_1_3_m {
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: repeat(3, 1fr);
  }
  .pmb_grid_1_4_m {
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-columns: repeat(4, 1fr);
  }
  .pmb_grid_1_5_m {
    grid-template-columns: repeat(5, 1fr);
    -ms-grid-columns: repeat(5, 1fr);
  }
  .pmb_grid_1_6_m {
    grid-template-columns: repeat(6, 1fr);
    -ms-grid-columns: repeat(6, 1fr);
  }
  .pmb_grid_1_7_m {
    grid-template-columns: repeat(7, 1fr);
    -ms-grid-columns: repeat(7, 1fr);
  }
  .pmb_grid_1_8_m {
    grid-template-columns: repeat(8, 1fr);
    -ms-grid-columns: repeat(8, 1fr);
  }
  .pmb_grid_1_9_m {
    grid-template-columns: repeat(9, 1fr);
    -ms-grid-columns: repeat(9, 1fr);
  }
  .pmb_grid_1_10_m {
    grid-template-columns: repeat(10, 1fr);
    -ms-grid-columns: repeat(10, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .pmb_grid_1_2_l {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: repeat(2, 1fr);
    
  }
  .pmb_grid_1_3_l {
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: repeat(3, 1fr);
  }
  .pmb_grid_1_4_l {
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-columns: repeat(4, 1fr);
  }
  .pmb_grid_1_5_l {
    grid-template-columns: repeat(5, 1fr);
    -ms-grid-columns: repeat(5, 1fr);
  }
  .pmb_grid_1_6_l {
    grid-template-columns: repeat(6, 1fr);
    -ms-grid-columns: repeat(6, 1fr);
  }
  .pmb_grid_1_7_l {
    grid-template-columns: repeat(7, 1fr);
    -ms-grid-columns: repeat(7, 1fr);
  }
  .pmb_grid_1_8_l {
    grid-template-columns: repeat(8, 1fr);
    -ms-grid-columns: repeat(8, 1fr);
  }
  .pmb_grid_1_9_l {
    grid-template-columns: repeat(9, 1fr);
    -ms-grid-columns: repeat(9, 1fr);
  }
  .pmb_grid_1_10_l {
    grid-template-columns: repeat(10, 1fr);
    -ms-grid-columns: repeat(10, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .pmb_grid_1_2_xl {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: repeat(2, 1fr);
  }
  .pmb_grid_1_3_xl {
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: repeat(3, 1fr);
  }
  .pmb_grid_1_4_xl {
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-columns: repeat(4, 1fr);
  }
  .pmb_grid_1_5_xl {
    grid-template-columns: repeat(5, 1fr);
    -ms-grid-columns: repeat(5, 1fr);
  }
  .pmb_grid_1_6_xl {
    grid-template-columns: repeat(6, 1fr);
    -ms-grid-columns: repeat(6, 1fr);
  }
  .pmb_grid_1_7_xl {
    grid-template-columns: repeat(7, 1fr);
    -ms-grid-columns: repeat(7, 1fr);
  }
  .pmb_grid_1_8_xl {
    grid-template-columns: repeat(8, 1fr);
    -ms-grid-columns: repeat(8, 1fr);
  }
  .pmb_grid_1_9_xl {
    grid-template-columns: repeat(9, 1fr);
    -ms-grid-columns: repeat(9, 1fr);
  }
  .pmb_grid_1_10_xl {
    grid-template-columns: repeat(10, 1fr);
    -ms-grid-columns: repeat(10, 1fr);
  }
}
