@charset "utf-8";
/* CSS Document */
/* +--------------------------------------------------------------------------+
// 2021 PMB Services / www.sigb.net pmb@sigb.net et contributeurs (voir www.sigb.net)
// +-------------------------------------------------+
*/


/* Cadre de l'opac caché car rarement utilisé */

#main_header,
#navigator,
#intro_bibli,
#intro_message,
#location,
#categories,
#etageres,
#post_adress,
#adresse,
#footer_rss,
#footer_link_sup,
#footer_link_website,
#footer_link_pmb
{
    display: none;
}

div[id^="cms_module"]:empty,
div:empty:not(.clear),
span[type="cms_module_hidden"] {
  display:none;
}

/* Pour rendre visible les cadres hors de la page en partie construire*/
span[draggable="yes"] {
    display:block;
}

/* Sélecteur de langue
 On masque les éléments qui n'ont pas d'intérêt avec le sélecteur de langue */

#accueil > h3,
#accueil > p {
    display: none;
}


/* Définitions des règles css des inputs, select, button ...  */

input, select, textarea, button {
    border: none;
}

input {
    padding: 5px 10px;
}

select {
    padding: 5px 10px 5px 2px;
}

input[type="submit"],
input[type="button"]{
    cursor: pointer;
    font-size: var(--font-size-body);
    color: var(--text-color-secondary);
    background-color: var(--bg-color-primary);
    border-radius: var(--border-radius);
    -webkit-transition: var(--hover-transition);
    -o-transition: var(--hover-transition);
    transition: var(--hover-transition);
}

input[type="submit"]:hover,
input[type="button"]:hover {
    filter: brightness(var(--hover-brightness));
    -webkit-transition: var(--hover-transition);
    -o-transition: var(--hover-transition);
    transition: var(--hover-transition);
}

input[value="X"],
input[value="X"]:hover{
    background-color: var(--bg-color-secondary);
    color: #fff;
    font-weight: 600;
    height: 30px;
    width: 30px;
    line-height: 12px;
}

/* Onglets rech.avancee / compte lecteur  */

/*
ul.search_tabs,
ul.empr_tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 10px 0;
    flex-wrap: wrap;
}*/

ul.search_tabs li,
ul.empr_tabs li {
    list-style: none;
    padding: 10px 10px 0 10px;
}

ul.search_tabs li a,
ul.empr_tabs li a{
    color: var(--title-color-secondary);
    text-decoration: none;
}

ul.search_tabs li#current a,
ul.empr_tabs li#current a,
ul.empr_tabs li.subTabCurrent a{
    color: var(--title-color-primary);
    font-weight: 600;
}

#empr_onglet + div {
    margin-top: 0;
}

#empr_onglet .empr_subtabs li {
    cursor: pointer;
    border-radius: var(--border-radius);
    -webkit-transition: var(--hover-transition);
    -o-transition: var(--hover-transition);
    transition: var(--hover-transition);
    background: var(--bg-color-primary);
}

#empr_onglet .empr_subtabs li a {
    font-size: var(--font-size-body);
    color: var(--text-color-secondary);
}

#empr_onglet .empr_subtabs li:hover {
  filter: brightness(var(--hover-brightness));
  -webkit-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
  transition: var(--hover-transition);
}


ul.empr_subtabs li,
#onglets_list ul.list_tabs li {
    padding: 4px 8px;
    margin-right: 10px;
}

#empr-all span.addCart {
    display: none;
}

#empr-resa form {
    margin-top: 10px;
}

/* Onglets rech.ext */

#external_simple_search_zone {
    display: grid;
    display: ms-grid;
}

.boutonrechercher + .bouton.button_search_help {
    margin-left: 5px;
}

/* Onglet periodique */

#perio_a2z-container .row {
    margin: 25px 0;
}

#perio_a2z .onglets_isbd_public, ul.onglets_isbd_public {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-wrap: wrap;
}

ul.onglets_isbd_public li {
    background-color: var(--bg-color-secondary);
    margin: 2px;
}

ul.onglets_isbd_public li.isbd_public_active,
ul.onglets_isbd_public li:hover {
    background-color: var(--bg-color-primary);
}

ul.onglets_isbd_public li a {
    padding: 0px 10px;
    line-height: 34px;
    color: var(--text-color-secondary);
    text-decoration: none;
}

#navbar_perio {
	clear: both;
	text-align: center;
	padding: 10px;
}

/* Boutons résultat de rech. */

#resultatrech_liste {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#resultatrech_liste blockquote {
    flex-basis: 100%;
}

#resultatrech_liste > span {
    padding: 6px 7.5px;
    transition: var(--hover-transition);
    margin-bottom: 10px;
}

#resultatrech_liste > span:hover {
    transition: var(--hover-transition);
    filter: brightness(var(--hover-brightness));
}

#resultatrech_liste .print_search_result,
#resultatrech_liste .print_search_result:hover,
#resultatrech_liste .triSelector,
#resultatrech_liste .triSelector:hover{
    background: transparent;
}

#resultatrech_liste > span a {
    color: var(--text-color-secondary);
}

div.lienP,
div[class='onglet_basketNotCourte'],
div[class='avisNCourte'],
div[class='tagsNCourte'],
div[class='listeLectureNCourte'] a,
div[class='suggestNCourte'],
div[class='onglet_basketNot'] a.img_basketNot,
div[class='tagsN'],
div[class='suggestN'],
div[class='docnumNCourte docnumNCourtePermalink'],
div[class='docnumNCourte'],
div[class='listeLectureN'] a,
span.imgComment,
span.imgStatutPartN,
span.imgDocNum,
.ui-panel-basket-item > div,
.ui-panel-basket-item a[class^="img_baske"],
span.img_permalink,
span.imgTag,
span.imgSuggest,
.listeLectureN a span:first-child,
span.ExtnotCom.imgListeLecture{
  background-color: var(--bg-color-view);
  transition: var(--hover-transition);
}

.ui-panel-basket-item > div:hover {
  filter: brightness(var(--hover-brightness));
  transition: var(--hover-transition);
}

.lienP span.label_permalink,
div[class='onglet_basketNotCourte'] a span:nth-child(2),
div[class='avisNCourte'] span:nth-child(2),
div[class='tagsNCourte'] span:nth-child(2),
div[class='suggestNCourte'] span:nth-child(2),
div[class='listeLectureNCourte'] a span:nth-child(2),
div[class='onglet_basketNot'] a span:nth-child(2),
div[class='tagsN'] span:nth-child(2),
div[class='suggestN'] span:nth-child(2),
div[class='docnumNCourte docnumNCourtePermalink'] span:nth-child(2),
div[class='docnumNCourte'] span:nth-child(2),
div[class='listeLectureN'] a span:nth-child(2),
.ui-panel-basket-item a + a,
.onglet_basketNotCourte,
.avisNCourte,
.statutPartN,
.tagsNCourte,
.suggestNCourte,
.listeLectureNCourte,
.docnumNCourte,
div.tagsN,
div.suggestN,
div.listeLectureN{
    background-color: var(--bg-color-view);
    color: var(--text-color-secondary);
}

blockquote {
  font-size: 1em;
}

/* Page de notice */

#blocNotice_descr ul.onglets_isbd_publicNot .isbd_public_active a {
    background-color: var(--bg-color-primary);
}

.onglet_basketNot .img_basketNot img {
    background-color: var(--bg-color-primary);
}

/* Page historique de recherche */

.search_history_combine_op {
    padding: 0;
    filter: brightness(1);
}

/* Titre cadre opac */

#websubscribe h2.subs_intro_services,
#websubscribe h2.subs_intro_explication,
#perio_a2z h3,
#a2z_perio h3 .titre_exemplaires,
#error_connection .popup_connexion_empr h3,
#empr-all h3,
#empr-resa h3,
#empr-old h3,
#zone_exemplaires h3,
#search_result h3,
#aut_details h3,
#empr-list h3,
#cart_action h3.title_basket,
#search_history_container h3.title_history
{
  font: var(--font-subtitle);
  color: var(--title-color-thirdly);
}

#cart_action h3.title_basket {
  margin-top: 20px;
}

/* Accessibility
---------------------------------------------------------------------------*/
#accessibility {
    display: flex;
    justify-content: end;
}

#accessibility a {
    color: var(--text-color-primary);
    text-decoration: none;
    font-weight: normal;
}

ul.accessibility_font_size{
    display: flex;
    align-items: flex-end;
}

.accessibility_font_size li{
    float: none;
}

/* Cookies
---------------------------------------------------------------------------*/
#script_analytics_content {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.74);
    position: fixed;
    bottom: 0;
    z-index: 5000;
    width: 100%;
    color: white!important;
    font-weight: 600;
}

#script_analytics_content button {
    cursor: pointer;
    padding: 5px;
    text-decoration: none !important;
    color: #fff;
    border: none;
}

#script_analytics_content #accept-button {
    background: #0c6f0c;
}

#opposite-button {
    background: #f02a07d6;
}

#script_analytics_content button+button {
    margin-left: 10px;
}

/* ========================================================================
  Titre elements
 ==========================================================================  */
 #account h4 {
    border: none;
    margin: 15px 0 10px 0;
    position: relative;
    padding: 0px 25px 10px;
}

#rechercheForm>h3,
#make_sugg h3 {
    padding: 10px;
}

#search_result>h3 {
    padding: 1% 0;
    margin-bottom: 11px;
    font-weight: 300;
}

#resultatrech>h3,
#resultatrechBis>h3 {
    margin: 15px 0px 5px;
}

#resultatrech>h3:first-child {
  font: var(--font-subtitle-lower);
}

#resultatrech_see h3 {
  font: var(--font-subtitle-lower);
}

#resultatrech_see h3 span {
  font-size: 1em;
}


/* Compte empr
---------------------------------------------------------------------------------------------*/
#connexion {
    border: 1px solid var(--bg-color-primary);
    position: relative;
}

#connexion br {
    display: none;
}

#login_form > select {
    padding: 5px;
    border: 1px solid #C8C8C8;
    margin: 15px auto;
  }

#login_form > select:focus {
    outline-color: rgba(203, 203, 203, 0.46);
}
#login_form {
    padding: 6.1% 3.5%;
}

#login_form form {
    display: block;
    position: relative;
    width: 100%;
}

#connexion label {
    font-size: 0;
    display: none;
}

#connexion h3 {
  padding: 0 20px 20px;
}

#connexion h3,
#connexion #login_form>b {
    color: var(--text-color-primary);
    font-family: var(--text-font-primary);
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 20px 25px;
    border-bottom: 1px solid var(--bg-color-primary);
}

#connexion #login_form>b {
    padding: 0;
    border: 0px solid;
    display: block;
    text-align: center;
}

#connexion h3:empty {
    display: none;
}

#connexion input {
    height: 60px;
    line-height: 60px;
    width: 100%;
    display: block;
    margin: 0 auto 20px;
    border-radius: 6px;
    background: var(--bg-color-body);
    border: 2px solid var(--bg-color-primary);
    font: var(--font-resume);
    color: var(--text-color-primary);
    padding: 0 13px;
}

#connexion input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font: var(--font-resume);
  color: var(--text-color-primary);
  padding: 0 13px;
  font-weight: 500;
}

#connexion input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font: var(--font-resume);
  color: var(--text-color-primary);
  padding: 0 13px;
  font-weight: 500;
}

#connexion input::-ms-input-placeholder { /* Microsoft Edge */
  font: var(--font-resume);
  color: var(--text-color-primary);
  padding: 0 13px;
  font-weight: 500;
}

#login_form input.bouton {
  position: absolute;
  bottom: 0px;
  right: 15px;
  background: transparent;
  border: none;
  font: normal normal bold var(--font-21px)/24px var(--text-font-secondary);
  letter-spacing: 0px;
  color: var(--text-color-thirdly);
  margin-bottom: 0;
  font-weight: bold;
  font-size: 2rem;
}

#login_form a {
    font: var(--font-link);
    color: var(--text-color-primary);
    padding: 15px 0;
  }

#login_form input[type="submit"].bouton {
    padding: 0px 5px;
    width: 40px;
}

#pmb_help_connexion {
    padding: 15px 20px;
}

#pmb_help_connexion  a {
    border-radius: 6px;
    color: var(--text-color-secondary);
    background-color: var(--bg-color-secondary);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}


/* Recherche OPAC
---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/

.espaceResultSearch {
    display: none!important;
    margin: 0px!important;
    padding: 0px!important;
    border: none!important;
}

#search {
    background-color: var(--bg-color-opac);
    margin: 20px auto;
    width: 100%;
}

#search td {
  vertical-align: middle;
}

#search p.p1 {
    padding: 17px 17px 5px;
    margin: 0;
}

#search>div.row>form {
    position: relative;
    padding: 15px 20px 25px;
    border: none;
}

#search > p > span {
    display: block;
    padding: 0px 0px 5px;
    border-bottom: dotted 1px #ddd;
}

#search form select[name="typdoc"],
#search .form-contenu select#add_field {
    width: 75%;
    font-weight: 300;
    line-height: 35px;
    display: block;
    background-color: #FFFFFF;
    border: 1px solid #D7D7D7;
    font-style: normal;
    padding-left: 10px;
    margin-bottom: 25px;
}

#search > div.row > form > br,
#search > br {
    display: none;
}

#search input.text_query {
    width: 70%;
    min-height: 35px;
    font-weight: 300;
    background-color: #FFFFFF;
    border: 1px solid #C8C8C8;
    font-style: normal;
    padding-left: 10px;
    margin: 0px;
    display: block;
    float: left;
    margin-right: 15px;
}

#search_form {
    position: relative;
    padding: 15px 20px 25px;
    border: solid 1px #d7d7d7;
    border-top: solid 1px #d7d7d7;
    z-index: 1;
}

#search #form_search_bull input.boutonrechercher {
    margin: 0px 0px 0px 0px;
}

#search .boutonrechercher,
#search input[type="submit"] {
    min-height: 35px;
    padding: 4px 16px;
}

#search form input[type="button"] {
    float: none;
}

#search form input[value="Aide"] {
    float: right;
    min-height: 35px;
}

#search #form_search_bull {
    line-height: 30px;
}

#search #form_search_bull span input {
    width: 190px;
}

#zsimplesChild {
    margin-bottom: 0px !important;
    border: none;
}

#search_onglet {
    margin-bottom: 10px;
}

#search>.row {
    clear: both;
}

#titreSearch,
#search_block {
    position: relative !important;
    border-top: solid 45px #E9E6DF;
    margin-top: 25px;
}

#simple_search_zone {
    overflow: hidden;
    clear: both;
}

#search form .form-contenu select {
    margin-right: 10px;
    width: auto;
}

#search form .form-contenu .ext_search_txt {
    width: auto;
    min-height: 22px;
    line-height: 22px;
    padding: 2px 4px;
}

#search form .form-contenu .search_value .ext_search_txt {
    /* max-width: 220px; */
    height: auto;
}

#search form .form-contenu input[type="submit"] {
    float: right;
}

#search form .form-contenu select#add_field {
    margin: 0px 0px 13px;
    float: left;
    margin-right: 20px;
}

#search form .form-contenu input[type="button"] {
    display: block;
    min-height: 35px;
    line-height: normal;
    /* padding: 0 6px 2px; */
    margin: 0px 0px 13px 2%;
    border: solid 0px #6a95c0;
}

#search form .form-contenu input[value="Aide"] {
    border: solid 0px #347DB8;
    margin: 0 0 10px;
    float: right;
}

#search form .form-contenu input[value="X"] {
    color: #fff;
    font-weight: 800;
}

#search #form_search_bull span input {
    width: auto;
}

#search form .search_value .ext_search_txt {
    height: auto;
}

#search form .form-contenu .ext_search_txt {
    width: auto;
    height: 22px;
    line-height: 22px;
    padding: 2px 4px;
    /* max-width: 210px; */
    ;
}

#form_search_bull input[type="text"] {
    width: auto;
}

#form_search_bull input[type="button"]+input[type="button"] {
    margin-left: 15px;
}

#search form input[type="checkbox"] {
    padding: 0px;
    margin: 0px;
    display: initial;
    box-shadow: none;
    margin-top: 4px;
}

.form-contenu br{
    display:none;
}

.form-contenu input[type="text"] {
    padding: 0px;
    height: 24px;
    margin-bottom: 4px;
}
/* multicriteres */

.notice-child .img_basket {
    background-image: none;
    width: auto;
    float: none;
    display: inline;
}

.vignetteimg_simili {
    max-width: 90%;
    box-shadow: 0 0 0 1px #eee;
}

#search_result {
    margin-bottom: 20px;
    max-width: 100%;
    border-top: 1px solid #d5d5d5;
    margin: 20px auto;
}

#search_result #categorie {
    clear: both;
}

#search_result blockquote {
    margin: 0px;
    padding: 0px;
}

div[id^=div_public] tr td a {
    word-break: break-word;
}

.categ_see_synonyme h4,
#categ_see_comment h4 {
    color: #097A84;
}

#categ_see_comment {
    margin: 10px 0px;
    padding: 5px;
    background-color: #f1f1f1;
}

#choose_criteria {
    margin-bottom: 10px;
    margin-top: 7px;
}


/* Periodique
---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/

#perio_a2z_search {
    width: 75%;
    min-height: 35px;
    font-weight: 300;
    background-color: #FFFFFF;
    border: 1px solid #f4f4f4;
    font-style: normal;
    padding-left: 10px;
    margin: 0px;
    margin-right: 15px;
}

ul.onglets_isbd_public li {
    display: block;
    float: left;
    margin: 0px 2px;
    position: relative;
    text-align: center;
}

#span_a2z_abt_actif {
    color: #2e2e2e;
    display: block;
    line-height: 35px;
}

#perio_a2z ul.onglets_isbd_public div li {
    padding: 0 0px;
    display: block;
    float: left;
    margin: 0px 2px;
    position: relative;
    text-align: center;
    border-radius: 0px 0px;
    background-color: #F2F2F2;
    border: solid 1px #D7D7D7;
}

ul.onglets_isbd_public li a {
    padding: 0px 10px;
    font-weight: 400;
    display: block;
    min-height: 34px;
    line-height: 34px;
    color: var(--text-color-primary);
}

ul.onglets_isbd_public li[class^="active"] a {
    color: var(--text-color-secondary);
}

#perio_a2z ul.onglets_isbd_public div li a {
    padding: 0px 5px;
    color: #333;
}

#perio_a2z ul.onglets_isbd_public div li:hover a {
    color: inherit;
}

#perio_a2z ul.onglets_isbd_public div li:hover {
    box-shadow: 0px 0px 0px 1px rgba(215, 215, 215, 1)inset;
    border-top: solid 1px #D7D7D7;
}

table.a2z_perio_list a {
  	display: block;
  	line-height: 16px;
  	padding: 7px 5px;
  	text-transform: none;
  	color: var(--text-color-secondary);
  	text-decoration: none;
}

table.a2z_perio_list a:hover {
    display: block;
    line-height: 16px;
    padding: 7px 0px;
    text-transform: none;
}

ul.onglets_isbd_public li,
#perio_a2z ul.onglets_isbd_public li {
    background-color: var(--bg-color-body);
    border-bottom: none;
    transition: var(--hover-transition);
}

ul.onglets_isbd_public .isbd_public_inactive a {
  color: var(--text-color-primary);
}

ul.onglets_isbd_public .isbd_public_inactive:hover a,
ul.onglets_isbd_public .isbd_public_active a {
  color: var(--text-color-secondary);
}

#perio_a2z ul.onglets_isbd_public li.isbd_public_active {
    background-color: var(--bg-color-primary);
}

#perio_a2z ul.onglets_isbd_public li:hover,
ul.onglets_isbd_public li.onglet_tags:hover {
    box-shadow: 0px 0px 0px 1px rgba(215, 215, 215, 1)inset;
    border-top: solid 1px #D7D7D7;
    background-color: var(--bg-color-primary);
    filter: brightness(var(--hover-brightness));
    transition: var(--hover-transition);
}

#perio_a2z ul.onglets_isbd_public li.isbd_public_active a,
#perio_a2z ul.onglets_isbd_public li:hover a {
  color: var(--text-color-secondary);
}

.notice-child ul .onglet_tags>a {
    display: block;
    float: left;
    margin-bottom: 0px;
    margin-right: 0px;
    margin: 0px 2px;
    position: relative;
    text-align: center;
    border: solid 0px #E9E9E9;
    border-bottom: none;
    border-radius: 0px 0px;
    height: 30px;
    line-height: 30px;
    background-color: #E9E9E9;
}

.notice-parent>img:first-child+img {
    vertical-align: text-bottom;
    margin-right: 5px;
    position: static;
    left: 18px;
}

.notice-child ul .onglet_tags a {
    float: left;
    color: #565656;
}

#search .onglets_isbd_public .row {
    clear: none;
}

#resultatrech_container ul.onglets_isbd_public li a {
    display: block;
    padding: 0px 9px;
    text-decoration: none;
    color: #333;
}

ul.onglets_isbd_public li:first-child {
    margin: 0px 2px;
}

div div .onglet_basket {
    height: auto;
}

ul.onglets_isbd_public div li:first-child {
    margin: 0px 1px;
}

ul.onglets_isbd_public li img {
    vertical-align: middle;
}

ul.onglets_isbd_public li:hover a {
    display: inline-block;
}

ul.onglets_isbd_public .onglet_basket img {
    vertical-align: middle;
}

#perio_a2z {
    margin: 0 auto;
    padding: 30px 3%;
    border: solid 1px #d7d7d7;
    border-top: solid 0px #d7d7d7;
}

#perio_a2z #perio_a2z-container li[id^='onglet_'].isbd_public_active:after {
    width: 16px;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
    margin-left: -8px;
}

#perio_a2z-container>ul.onglets_isbd_public>li:first-child {
    margin: 0px 4px 5px 0px;
    background-color: transparent;
    border-color: transparent;
    font-weight: 500;
}

#perio_a2z ul.onglets_isbd_public div div .isbd_public_inactive,
#perio_a2z ul.onglets_isbd_public div div .isbd_public_active {
    margin-top: 0px;
    font-weight: 400;
}

table.a2z_perio_list tr td {
    border-bottom: 1px solid #cfcdcb;
    padding-bottom: 3px;
}

.perio_title,
.bull_title {
    font-weight: normal;
    font-style: italic;
}

ul.onglets_isbd_public li.onglet_tags {
    background-color: #E9E9E9;
    border: solid 2px #E9E9E9;
}

#container #main div.a2z_perio_list {
  	height: auto;
  	overflow: visible;
  	z-index: 1000;
  	background-color: transparent;
  	overflow-x: auto;
  	overflow-y: auto;
  	border-radius: 12px;
  	background: var(--bg-color-primary);
}

table.a2z_perio_list {
    width: 150px;
    height: auto !important;
    line-height: 18px;
    padding: 10px 0px;
}

#a2z_perio .bg-grey {
    border-color: #f9f9f9;
}

.a2z_perio h3 {
    height: auto;
    line-height: normal;
}

#a2z_perio #form_search_bull form {
    padding-top: 10px;
}

#form_search_bull [role="presentation"] input[type="text"],
form input[type="text"].dijitArrowButtonInner,
#a2z_perio #form_search_bull input[type="text"].dijitArrowButtonInner {
    width: 8px;
    margin: 0px 0px 3px 2px;
    background-color: transparent;
    border: none;
    padding: 5px;
}

#pmbopac #a2z_perio #form_search_bull input[type="text"]{
    box-shadow: none;
    cursor: pointer;
}

#a2z_perio #form_search_bull input[type="text"]:hover {
    background-color: #fff;
}

#perio_a2z-container .onglets_isbd_public div div {
    background-color: transparent;
    clear: both;
    border-top: solid 4px transparent;
}

#perio_a2z-container .onglets_isbd_public div div li {
    margin-bottom: 5px;
}

ul.onglets_isbd_public li.onglet_basket:hover {
    background-color: #FAFAFA;
}

#a2z_perio > table {
    background-color: #f3f3f3;
    padding: 5px;
    border: solid 1px #E7E7E7;
    box-shadow: 0px 0px 0px 2px #fff inset;
}

#a2z_perio > table tr:nth-child(even) {
    background-color: #fdfdfd;
}


/* navbar
---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/

#navbar {
    clear: both;
}

.navbar {
    line-height: normal;
}

.navbar img {
    vertical-align: middle;
}

#navbar input[type="text"] {
    margin: 0px;
}

#search #navbar_input_page {
    float: none;
    margin: 0;
    padding: 2px;
    border: 1px solid #F5F5F5;
    color: #170000;
    vertical-align: baseline;
    background-color: #f8f8f8;
}
/* searchtabs
---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/

ul.search_tabs,
ul.empr_tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 0px solid #ddd;
    background: #fff;
}

ul.search_tabs li,
ul.empr_tabs li {
    margin-bottom: -1px;
    float: left;
    position: relative;
    z-index: 4;
}

ul.search_tabs li a, ul.empr_tabs li a {
    display: block;
    padding: 8px 12px 8px 12px;
    border-bottom-width: 0;
    color: var(--text-color-secondary);
    text-decoration: none;
    font-weight: 400;
    background-color: var(--bg-color-primary);
  }

ul.search_tabs li#current a,
ul.empr_tabs li#current a,
ul.empr_tabs li.subTabCurrent a {
    border-color: #ddd;
    border-bottom-color: var(--bg-color-primary);
    background: var(--bg-color-primary);
    color: var(--text-color-secondary);
}

ul.search_tabs li:hover a, ul.empr_tabs li:hover a {
	background: var(--bg-color-primary);
	filter: brightness(var(--hover-brightness));
	transition: var(--hover-transition);
	color: var(--text-color-secondary);
}


ul.search_tabs li,
ul.empr_tabs li {
  transition: var(--hover-transition);
}

/* avanced search
---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/

#search form .form-contenu .search_value .ext_search_txt,
.form-contenu input[type="text"] {
    /* max-width: 220px; */
    height: auto;
    min-height: 30px;
    background-color: #fff;
    border: solid 1px #AEAEAE;
}

#search form .form-contenu select {
    margin-right: 10px;
    width: auto;
    max-width: 85%;
    min-height: 25px;
    margin: 0px;
    margin-bottom: 13px;
    /* float: left; */
    background-color: #FFFFFF;
}

#search form .form-contenu select[name^="field"],
#search form .form-contenu select.ext_search_txt[name^="field"] {
    width: 100%;
    padding: 0 4px;
}

#search .table-no-border td .search_critere {
    max-width: 99%;
    display: block;
    word-break: initial;
    padding-right: 5px;
}

.search_perso tr:first-child .search_value {
    display: inline-block;
    margin-right: 25px;
}

#search_form .form-contenu div.search_perso input[type="checkbox"] {
    float: none;
    vertical-align: inherit;
    margin-left: 7px;
}

#search_form > div > div.search_perso table td > span.search_dico > img {
    vertical-align: baseline;
    margin-left: 5px;
}
/* resultat de Recherche
---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/

#resultatrech>div.row {
    display: none;
}

#resultatrech .avis_detail span a {
    text-decoration: none;
}

#resultatrech_container {
    padding: 0px;
    padding-top: 0px;
    position: relative;
    clear: both;
}

#navbar {
    width: 100%;
    margin: 0 auto 50px;
}

#resultatrech_container a {
    text-decoration: none;
}

#resultatrech_liste .notice-child table table td {
    max-width: 335px;
}

#resultatrech_liste .bg-grey {
    border-color: #fff;
}

#resultatrech_liste .notice-child table table td>a {
    display: inline-block;
    max-width: 99%;
    width: auto;
}

.notice-child table table td,
#notice table table td,
.parent table table td {
    max-width: 285px;
    padding: 2px 5px;
}

div[id^=div_public] table {
    margin-bottom: 10px;
}

#main #resultatrech_see>h3 {
    width: auto;
    z-index: 999;
    background-color: transparent;
    border-radius: 0px;
    padding: 6px 15px;
    margin-bottom: 5px;
    padding-left: 0px;
    height: auto;
    line-height: normal;
    border: none;
    border-bottom: dotted #646464 1px;
    font-weight: 300;
}

#resultatrech_liste>img {
    vertical-align: middle;
}

#resultatrech_liste>a {
    padding: 0 2px;
    line-height: 11px;
}

#resultatrech_liste>a:nth-of-type(3) {
    margin-left: 10px;
}

#aut_details_liste>a:nth-of-type(n+4) {
    margin-top: 10px;
}

#resultatrech_liste>span.search_bt_sugg,
#resultatrech_liste>span.affiner_recherche,
#resultatrech_liste>span.open_visionneuse,
#resultatrech_liste>span.addCart,
span.search_bt_external,
span.search_bt_sugg,
span.short_url,
#aut_details_liste span.addCart,
span.affiner_recherche {
    display: inline-block;
}

#resultatrech_liste>a:nth-of-type(n+3),
#aut_details_liste>a:nth-of-type(n+3),
.form_liste_lecture input[type="button"],
.form_liste_lecture input[type="submit"],
#print_options input[type="submit"].bouton,
#print_options input[type="button"].bouton,
#notice table td div>a,
.lienNotArt a,
#cart_action input[type="button"],
#resultatrech_liste>span.search_bt_sugg a,
#resultatrech_liste>span.affiner_recherche a,
#resultatrech_liste>span.open_visionneuse a,
#resultatrech_liste>span.addCart a,
#resultatrech_liste>a[href*='aff_module'],
span.search_bt_external a,
span.search_bt_sugg a,
span.short_url a,
span.short_url_permalink a,
span.affiner_recherche a,
#aut_details_liste span.addCart a,
#resultatrech_liste input[name="dsi_priv"] {
    padding: 10px 15px;
    display: inline-block;
    margin-bottom: 4px;
    background-color: var(--bg-color-primary);
    border: solid 1px rgb(239, 239, 239);
    border-radius: 6px;
    text-decoration: none;
    color: var(--text-color-secondary);
    transition: var(--hover-transition);
    font: var(--font-link);
    font-weight: 400;
}

#resultatrech_liste input[name="dsi_priv"] {
  margin-bottom: 10px;
}

#notice table td div.addthis_toolbox>a {
    background-color: #fff;
    border: solid 1px #fff;
}

#notice table td div.addthis_toolbox>a:hover {
    background-color: #fff;
    border: solid 0px #fff;
}

#resultatrech_liste>a:nth-of-type(4) {
    margin-left: 10px;
}

#resultatrech_liste>span.triSelector,
#aut_details_liste>span.triSelector {
    margin-left: 10px;
    display: inline-block;
}

#aut_details_liste>span+span {
    margin-left: 10px;
}

#resultatrech_liste>a:nth-of-type(n+3):hover,
#aut_details_liste>a:nth-of-type(n+3):hover,
.form_liste_lecture input[type="button"]:hover,
.form_liste_lecture input[type="submit"]:hover,
#print_options input[type="submit"].bouton:hover,
#print_options input[type="button"].bouton:hover,
#notice table td div>a:hover,
.lienNotArt a:hover,
#resultatrech_liste>span.search_bt_sugg a:hover,
#resultatrech_liste>span.affiner_recherche a:hover,
#resultatrech_liste>span.open_visionneuse a:hover,
#resultatrech_liste>span.addCart a:hover,
#resultatrech_liste>a[href*='aff_module']:hover,
span.search_bt_external a:hover,
span.search_bt_sugg a:hover,
span.short_url a:hover,
span.affiner_recherche a:hover,
#aut_details_liste span.addCart a:hover {
    text-decoration: none;
    filter: brightness(var(--hover-brightness));
    transition: var(--hover-transition);
    text-shadow: none;
}

#resultatrech_liste>input,
select,
textarea {
    display: block;
}

#resultatrech_liste>a[href="javascript:expandAll_ajax(1);"],
#resultatrech_liste>a[href="javascript:collapseAll()"],
#resultatrech_liste>a[title="Tris disponibles"],
#resultatrech_liste>a[href="javascript:expandAll_ajax(1);"]:hover,
#resultatrech_liste>a[href="javascript:collapseAll()"]:hover,
#resultatrech_liste>a[title="Tris disponibles"]:hover {
    background-color: transparent;
    border-color: transparent;
}

#resultatrech_liste>a[title="Tris disponibles"] {
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

#resultatrech_liste>a[href*="javascript"] {
    background-color: none;
}

.expl_voisin_search a,
.simili_search a {
    display: block;
    /* max-height: 50px; */
    overflow: hidden;
    text-decoration: none;
}

.collapseAll,
.triSelector {
    margin-left: 8px;
}
/* lvl1
---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/


#lvl1 {
    border-radius: 0px 0px;
    border-bottom: none;
}

#lvl1>h3,
#facette_wrapper>h3 {
    margin-top: 0px;
}

#lvl1_list,
#facette form {
    /* padding-bottom: 50px; */
    margin: 0 auto;
    border-bottom: 15px solid transparent;
    height: auto!important;
    overflow: hidden;
}

#facette form {
  padding-bottom: 12px;
}

#lvl1_list tbody tr {
    width: 90%;
    /* padding: 0px 5%; */
    ;
}

#lvl1 {
    border: 0px solid #006B8F;
}

#adresse, #lvl1 {
    position: relative;
    background-color: var(--bg-color-body);
    color: var(--text-color-primary);
  }

#facette a,
#lvl1 a {
    text-shadow: 0px 0px 0px;
    text-decoration: none;
}

#facette table td:first-child{
    padding: 5px 0 5px;
}

#facette table td a img{
    margin-top: 5px
}

#facette .reinitialize-facettes-link{
    padding: 5px 5px 5px 15px;
}

#facette a:hover,
#lvl1 a:hover {
    text-decoration: underline;
}

#facette h3,
#lvl1 h3 {
    margin: 0;
}

#facette h3 img {
    vertical-align: middle;
}

#facette h3:before,
#lvl1 h3:before {
    font-weight: normal;
    font-style: normal;
    /* content: '\f0c9'; */
}

#lvl1_list {
    padding: 15px 20px;
    display: block;
    color: var(--text-color-primary);
  }

#lvl1_list tbody {
    margin: 0 auto;
}

#lvl1_list .current {
  font: var(--font-link);
  font-style: italic;
  font-weight: 400;
}

#facette a:hover, #lvl1 a:hover, #lvl1_list .current:hover {
    text-decoration: underline;
    color: white;
}

#pmbopac .odd, #pmbopac .even, #pmbopac .surbrillance {
    background-color: inherit;
    color: inherit!important;
}

/* Facettes
---------------------------------------------------------------------------------------------*/
#facette br {
    display: none;
}

#facette #active_facette {
    max-width: 100%;
    margin: 5px auto;
}

#facette #active_facette br {
    display: block;
}

#pmbopac #facette input[type="button"] {
  border: 2px solid #FFFFFF;
  border-radius: 6px;
}

#pmbopac #facette input[value="Filtrer"] {
    float: right;
    margin-right: 15px;
}

table[id^='facette_list'] {
    width: 100%;
    margin: 0 auto;
}

table[id^='facette_list'] tr {
    padding: 4px 25px;
    margin: 5px 0;
}

#facette_wrapper table th {
    text-align: left;
    padding: 2px 15px 2px 25px;
    border-radius: 0px;
    margin-bottom: 2px;
}

#facette_wrapper .facette_libelle{
    padding-left: 5px;
}

#facette_wrapper {
    margin-bottom: 20px;
    background: var(--bg-color-body);
  }

#facette .facette_expande thead th,
#facette .facette_collapsed thead th {
  text-transform: uppercase;
  color: var(--text-color-thirdly);
  background: var(--bg-color-body);
  font-weight: 600;
  padding: 15px 25px;
  font-size: 2rem;
}

input.bouton.bouton_filtrer_facette_bas.filter_button {
  margin-top: 15px;
}

#facette .facette_tr, #facette .facette_tr_see_more {
    background: var(--bg-color-body);
    margin: 0;
    padding: 5px 25px;
  }

  #facette .facet-link span, #facette .facette_tr_see_more span, #facette .facette_plus_link {
    color: var(--text-color-primary);
    font: var(--font-link);
    font-weight: 400;
    line-height: 27px;
  }

/* Compare
---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/

#compare_wrapper {
    margin-top: 15px;
}

#facette_compare,
#facette_groupby {
    max-width: 90%;
    margin: 10px auto;
}

h3.facette_compare_MainTitle a {
    text-decoration: none;
}

#facette_wrapper > form > h3 > table > tbody > tr > td > a > img,
#facette_compare span.facette_compare img {
    width: 0px;
}

#facette_wrapper > form > h3 > table > tbody > tr > td > a:before,
.facette_compare_raz a:before,
#facette_compare span.facette_compare:before {
    content: "\f057";
    color: #4D4D4D;
    text-decoration: none;
}

#facette_compare span.facette_compare:before {
    color: #4D4D4D;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
}

#facette_wrapper > form > h3 > table > tbody > tr > td > a:hover:before,
#facette_compare span.facette_compare:hover:before {
    text-decoration: none;
    text-shadow: 0px 0px 0px;
}

#facette_wrapper th.groupby_button:after {
    content: "\f0c5";
    text-shadow: 0px 0px 0px;
    color: #fff;
    /* background-color: #787878; */
    padding: 4px 8px;
    text-align: right;
    margin: 0;
    width: auto;
    border-radius: 4px;
    line-height: 17px;
    height: auto;
    cursor: pointer;
    float: right;
}

#facette_wrapper th.groupby_button img {
    width: 0;
}

#facette_compare > tbody > tr {
    border-bottom: dotted 1px rgba(219, 219, 219, 1);
    line-height: 24px;
}

#facette_compare > tbody > tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.15);
}

#facette_compare > tbody > tr > td > p {
    padding: 5px 5px 5px 5px;
}

#compare_wrapper li .img_basket {
    background-color: #F2F2F2;
    background-size: 70%;
    background-position: 50% 48%;
    border-radius: 4px;
    padding: 0px;
    margin-right: 5px;
    display: block;
    /* float: none; */;
}

#compare_wrapper li a+a {
    margin-left: 30px;
    display: block;
    color: #343434;
}

#compare_wrapper li .img_basket {
    background-color: transparent;
}

tr[id^="compare_hidden"] > td:nth-child(even) {
    background-color: rgb(245, 245, 245);
}

#facette_wrapper tr > th:after {
    content: none;
}

#facette .facette_compare_SubTitle:before,
#facette .facette_compare_MainTitle:before {
    content: none;
}

.facette_compare_SubTitle img {
    /* display:none; */
    float: right;
    margin-top: 6px;
}

/* popup
---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/

@media screen and (max-width: 767px) {
    body:not(#pmbopac) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

#make_sugg {
    max-width: 600px;
    background-color: #eeeeee;
    box-shadow: 0px 0px 0px 1px rgba(63, 136, 186, 1)inset;
}

#make_sugg table {
    width: 480px;
}

#make_sugg .row,
#make_sugg-container {
    padding: 2%;
}

#make_sugg-container input[type="text"],
#comment {
    max-width: 80%;
    margin-bottom: 0;
    margin-left: 10px;
}

#make_sugg-container select,
input[type="file"] {
    max-width: 400px;
}

#make_sugg-container table tr td {
    max-width: 300px;
    vertical-align: top;
    padding-bottom: 15px;
}

form#f {
    margin-left: 10px;
}

.echelle_avis {
    padding: 7px;
}

.alerte {
    color: #ff0000;
}

#print_options {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
}

#print_options input {
    float: left;
}

#print_options label {
    line-height: 13px;
}

#print_options b {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
    display: block;
}

#print_options blockquote {
    margin-top: 5px;
    text-align: justify;
    margin-bottom: 15px;
}

#print_options blockquote input[name=emaildest] {
    float: none;
    display: block;
}

#print_options textarea {
    margin-top: 5px;
    max-width: 85%;
}

body#help_popup {
    background-color: #ffffff;
    background-repeat: repeat;
    background-position: center top;
    background-image: url("./images/fond.gif");
}

#help-container {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    border: 2px solid #A8A8A8;
}

#help-container h2 {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    border-bottom: 1px solid #cccccc;
    clear: both;
    padding-bottom: 5px;
}

#help-container p,
#help-container ul {
    margin-bottom: 10px;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
}

.lien_ajout_avis a {
    margin-left: 10px;
}

.form_liste_lecture {
    padding: 10px 0px;
}

.form-contenu hr {
    display: none;
}

form[name=export_form] input[type="radio"] {
    margin-top: 5px;
    margin-right: 3px;
}

#print_options {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    line-height: 20px;
}

#print_options b {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
    display: block;
}

#print_options blockquote {
    margin-top: 5px;
    text-align: left;
    margin-bottom: 15px;
    margin: 5px 0px;
    padding: 0px;
}

#print_options textarea {
    margin-top: 5px;
    max-width: 85%;
}

#print_options input {
    float: left;
    margin-top: 5px;
}

#print_options label {
    line-height: 20px;
    display: inline;
}

.popup_connexion_empr {
    font-family: 'Exo 2', sans-serif;
    color: #333;
    text-align: center;
}

.popup_connexion_empr blockquote {
    padding: 10px 10px;
    border: solid 1px #eee;
    background-color: #F7F7F7;
    max-width: 600px;
    margin: 0 auto;
}

.popup_connexion_empr input[type="text"],
.popup_connexion_empr input[type="password"] {
    width: 98%;
    /* color: #000; */
    border-radius: 0px;
    display: block;
    height: 35px;
    line-height: 20px;
    margin-top: 2px;
    float: none;
    margin-bottom: 2px;
    background-repeat: no-repeat;
}

.popup_connexion_empr input[type="submit"] {
    border: solid 1px #E6E6E6;
}

.mediaBib iframe {
    background-color: #F5F5F5;
    padding: 2px;
    border: solid 0px #E1E1E1;
    max-width: 100%;
}
/* avanced search
---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/

#search form .form-contenu .search_value .ext_search_txt,
.form-contenu input[type="text"] {
    /* max-width: 220px; */
    height: auto;
    min-height: 22px;
}

#search form .form-contenu select {
    margin-right: 10px;
    width: auto;
    padding-right: 5px;
    /* max-width: 85%; */
    min-height: 25px;
    margin: 0px;
    margin-bottom: 13px;
}

#search form .form-contenu select[name^="field"] {
    width: 100%;
}

#search .table-no-border td .search_critere {
    max-width: 110px;
    display: block;
    word-break: initial;
    padding-bottom: 10px;
}
/* Tris
---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/

#frame_notice_preview {
    border: solid 2px #888;
    z-index: 9001;
    background-color: #F8F8F8;
    width: 720px;
    height: 540px;
    padding: 20px;
    box-shadow: 1px 1px 1px 1px rgba(32, 48, 107, 0.36);
}

#frame_notice_preview h3 {
    color: rgb(88, 88, 90);
    border-bottom: solid 1px rgb(88, 88, 90);
}

#frame_notice_preview input[type="submit"] {
    margin-top: 10px;
}

#search form select {
    width: 85%;
}

.ext_search_txt {
    width: 75%;
}
/* Historique des recherche
---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/

#main form[name="cases_a_cocher"]>b {
    margin-left: 5px;
}

#main form input[type=checkbox] {
    vertical-align: middle;
}

#main form[name="cases_a_cocher"] a>b {
    color: #626262;
}

#history_action,
#main_hors_footer>form[action*="history"] {
    margin-bottom: 15px;
    margin: 0 auto;
    /* background-color: #F2F2F2; */
    padding: 10px 10px;
    border: solid 0px #111;
}

#main_hors_footer>form[action*="history"] a {
    color: #525252;
}


/* Page autorités
---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/

#aut_details>h3 {
    margin-top: 20px;
}

.authorlevel2>h3 {
    margin-bottom: 5px;
    color: #626262;
}

.authorlevel2>p {
    margin-bottom: 5px;
    color: #222;
}

.authorlevel2>ul {
    margin-bottom: 5px;
    color: #222;
}

.authorlevel2>ul li {
    width: 33%;
    float: left;
    padding: 2px 60px 2px 0px;
    list-style-type: square;
    list-style-position: inside;
    color: #ED5923;
}

#aut_details #resultatrech_liste {
    margin-top: 10px;
    float: left;
    width: 70%;
}

#aut_details_liste #resultatrech_liste {
    width: auto;
    float: none;
}

#aut_details_liste>span {
    display: block;
    float: left;
}

#aut_details_liste>blockquote {
    clear: left;
}

.aut_see a {
    text-decoration: none;
}

.aut_see td {
    padding: 2px 0;
}
/* Compte empr
---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/

#empr-list > h3 > span {
    margin-bottom: 7px;
    display: block;
}

ul.empr_tabs:after {
    content: " ";
    display: block;
    clear: both;
}

ul.empr_tabs li {
    padding: 0px 10px;
}

#empr_onglet {
    width: auto;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
    border: solid 0px #eee;
    border-bottom: none;
    background-color: transparent;
    border-top: solid 0px transparent;
}

ul.empr_tabs li#current a,
ul.list_tabs li#current a {
    font-weight: normal;
    background-color: inherit;
    border-radius: 0px;
}

#onglets_list ul.list_tabs {
    background-color: transparent;
}

#onglets_list ul.list_tabs li {
    min-height: 1px;
    border: none;
    line-height: normal;
}

ul.empr_subtabs {
    list-style: none;
    margin: 0px;
    text-align: right;
    min-height: 55px;
    padding: 10px 0px 0px 0px;
    background-color: #F8F8F8;
    border: none;
    border: solid 1px #dddddd;
    border-bottom: none;
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
}

ul.empr_subtabs {
    padding-left: 15px;
}


ul.empr_subtabs li a,
ul.list_tabs li a {
    cursor: pointer;
    display: block;
    height: auto;
    width: auto;
    text-align: center;
    font-family: inherit;
    color: inherit;
    text-decoration: none;
}

ul.empr_subtabs li a:hover {
    text-decoration: none;
}

.bg-grey {
    background-color: #ffffff;
    border-top: solid 4px #F8F8F8;
    border-bottom: solid 4px #F8F8F8;
    padding: 2px 2px;
    color: #333;
}

.parent table table td.bg-grey {
    border-top: solid 4px #fff;
    border-bottom: solid 4px #fff;
}

.fiche-lecteur .bg-grey {
    background-color: #F7F7F7;
    border: solid 3px #f8f8f8;
    color: #000;
    padding: 3px 5px;
    vertical-align: middle;
    text-shadow: none;
}

#fiche-empr h3 {
    margin-bottom: 10px;
    color: #111;
}

#empr-resa h3 {
    margin-top: 0px;
}

#empr-resa small form input[type="button"] {
    margin-top: 10px;
}

#empr-resa small form input[type="button"], ul.empr_subtabs li, #change-password input[type="button"], #onglets_list ul.list_tabs li, #empr-all input.bouton, #empr-old input.bouton {
    display: block;
    cursor: pointer;
    width: auto;
    height: auto;
    text-align: center;
    margin-bottom: 0px;
    font-weight: normal;
    padding: 4px 8px;
    margin-right: 10px;
    border: solid 1px #EBEAEA;
    border-radius: 0px;
    margin-bottom: 8px;
    float: left;
}

#change-password input[type="button"] {
    margin-top: 10px;
}


ul.empr_subtabs li.subTabCurrent,
ul.empr_subtabs li:hover,
#empr-resa small form input[type="button"]:hover,
#onglets_list ul.list_tabs li:hover,
#onglets_list ul.list_tabs li.current,
#change-password input[type="button"]:hover,
#empr-all input.bouton:hover {
    background: #ffffff;
    border: solid 1px #EBEAEA;
}

#main_hors_footer>div:last-child {
    margin-bottom: 15px;
}

#fiche-empr, #empr-all, #empr-late, #empr-old, #empr-resa, #empr-dsi, #empr-sugg, #empr-list, #empr-dema, #change-password {
    margin: 0 auto;
    padding: 10px 15px;
    background-color: #f8f8f8;
    position: relative;
    border: solid 1px #dddddd;
    border-top: none;
    color: var(--text-color-primary);
  }

#empr-all {
    background-image: none;
}

#empr-late > form {
    color: #fff;
    padding-bottom: 10px;
}

#empr-resa h3 {
    padding-top: 5px;
    position: static;
    background-color: transparent;
    width: auto;
}

.form_liste_lecture .form-contenu .row .colonne2 .row textarea {
    max-width: 355px;
}

.form_liste_lecture h3 {
    margin-top: 20px;
}

#fiche-empr h3 {
    margin-bottom: 10px;
}

#comment {
    max-width: 400px;
}

.form_liste_lecture .left {
    float: none;
    margin-bottom: 5px;
}

#onglets_list {
    padding-bottom: 30px;
}

#websubscribe h1 {
    margin-top: 10px;
    color: #962E33;
}

#websubscribe h4 {
    line-height: 20px;
}

#websubscribe input[type="button"] {
    background: var(--bg-color-secondary);
    color: #fff;
    border: none;
    font-weight: normal;
    padding: 4px 6px;
    border-radius: 4px;
}

#websubscribe input[type="button"]:hover {
    background-color: var(--bg-color-secondary-lighter);
    color: #fff;
}

.fiche-lecteur td {
    padding: 0px 2px;
    width: 33%;
    vertical-align: middle;
}

.fiche-lecteur td a {
    font-weight: bold;
    text-shadow: none;
}

.form-contenu input[type="checkbox"],
#lab_conf {
    /* float: left; */
    vertical-align: bottom;
    padding-top: 0px;
}

#change-password input[type="password"] {
    color: #3d3d3d;
    border: 1px solid #E7E7E7;
    display: block;
    border-radius: 0px;
    box-shadow: 1px 2px 2px 0px rgba(10, 10, 10, 0.07)inset;
    width: 55%;
}

#fiche-empr-container {
    color: #6c6c6c;
    background-position: 113% 89%;
    background-repeat: no-repeat;
}

.fiche-lecteur {
    color: #6F6F73;
    vertical-align: middle;
}

#public_list {
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(0, 94, 125, 1) inset;
}

table.liste-expl-empr-all,
#empr-old table.sortable {
    border: solid 1px #787878;
}

table.liste-expl-empr-all th,
table.liste-expl-empr-all tr,
#empr-old table.sortable th,
#empr-old table.sortable tr{
    border-top: solid 1px #787878;
    text-align: center;
}

table.liste-expl-empr-all td,
table.liste-expl-empr-all th,
#empr-old table.sortable th,
#empr-old table.sortable td{
    padding: 10px 10px;
}

table.liste-expl-empr-all td:nth-of-type(even),
table.liste-expl-empr-all th:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

.expl-empr-retard center b {
    color: #940303;
    border: solid 1px;
    padding: 0px 5px;
    border-radius: 3px;
    background-color: #fff;
}

.tb_pret_location_row {
    text-align: center;
    font-weight: 600;
    background-color: var(--bg-color-primary);
    color: var(--title-color-primary);
}
/* Surlignage
---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/
/* surlignage des mots recherches */

.text_search0,
.text_search1,
.text_search2,
.text_search3,
.text_search4,
.text_search5 {
    text-decoration: underline;
    background-color: #DBF7FB;
}

.text_search5 {
    display: inline-block;
}
/* espace disabled
---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/

.espaceCartAction {
    display: none;
}

/*Recherche
 ========================================================================== */
 .tagsN a, .suggestsN a, .listeLectureN a, .docnumNCourtePermalink a, span.docNumN a, a.listeLectureN span, .listeLectureN{
    text-decoration: none;
    font-style: normal;
}

.facette_plus_link {
    margin-left: 10px;
}

#a2z_perio #form_search_bull tr:nth-child(2) td:nth-child(3) > strong, div#form_search_bull form table td strong {
    float: left;
    margin-right: 10px;
}

div#form_search_bull form table tr:nth-child(2) td:first-child,  div#form_search_bull form table tr:nth-child(2) td>strong{
    padding-top: 5px;
}

.search_history_ul {
    padding-bottom: 30px;
}

span.StatutPartN:hover, span.docNumN a:hover{
    text-decoration: underline;
}

/*Notice
 ========================================================================== */
#blocNotice_descr ul.onglets_isbd_publicNot li a{
    font-weight: 500;
}

.descr_notice .labelContent iframe{
    height: auto;
}

.onglet_basketNot .img_basketNot img{
    margin-right: 0;
}

/*Mon compte
 ========================================================================== */
#date_debut_popup .dijitReset.dijitCalendarMonthContainer {
    background: white;
}

/*Mon panier
 ========================================================================== */
.listeLectureNCourte a{
    text-decoration: none;
}

.resume_notCourte span{
    font-style: normal
}

blockquote{
    font-style: normal;
}


/* button
 ========================================================================== */
#pmbopac #cadre_depos:empty,
#pmbopac div.olButton:empty {
    display: block;
}

#pmbopac .surbrillance span, #pmbopac .surbrillance a{
    color: inherit!important;
}

.docnum.center > a + div{
    border: none!important;
}

#connexion br {
    display: none;
}

.center {
    text-align: inherit;
}

#empr-list > h3 {
    display: none;
}

#empr-list h3:first-of-type {
    display: block;
}


.form_liste_lecture #aut_see {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.form_liste_lecture #aut_see > div input.text_query {
    height: 39px;
}