@charset "utf-8";
/*Calendar
---------------------------------------------------------------------------*/
/* =================== CADRE Agenda ========================= */
.pmb_agenda_home{

}

.pmb_agenda_home .pmb_container{

}

.pmb_agenda_home h2.pmb_title{

}

.pmb_agenda_home .pmb_calendar{

}

.pmb_agenda_home .pmb_legends{

}

.pmb_agenda_home .pmb_legend {

}

.pmb_agenda_home .pmb_legend_color{

}

.pmb_agenda_home .pmb_legend_title{

}

.pmb_agenda_home .pmb_events{

}

.pmb_agenda_home .pmb_event{

}

.tundra .dijitCalendarMonthContainer th {
	background-image: none!important;
}

.dijitReset.dijitCalendarDecrementArrow, .dijitReset.dijitCalendarIncrementArrow{
	margin: 15px;
}

.tundra .dijitCalendarIncrementControl {
	width: 22px!important;
	height: 22px!important;
	background-image: url(images/arrow_left_agenda.png)!important;
	background-repeat: no-repeat;
}
.tundra .dijitCalendarIncrease {
  background-position: 9px top!important;
	background-image: url(images/arrow_right_agenda.png)!important;
}
.tundra .dijitButtonNode {
	border: 0px solid transparent!important;
}

.tundra .dijitCalendarIncrementControl{
	background-color: var(--bg-color-primary);
}

.tundra .dijitDropDownButtonHover .dijitButtonNode {
	border-bottom-color: #6c6c6c;
}

.dijitCalendarMonthMenu .dijitCalendarMonthLabel {
	text-align: center;
	color: #243C5F;
}

.dijitCalendarMonthMenu .dijitCalendarMonthLabel {
	text-align: center;
	color: #243C5F!important;
	font-family: arial;
	font-weight: 600;
	font-size: 90%;
	line-height: 22px;
}

.tundra .dijitCalendarMonthMenu .dijitCalendarMonthLabelHover {
	background-color: #FFE3E2!important;
	color: #444!important;
}

.tundra .dijitArrowButtonInner {

}

#form_search_bull .dijitTextBox input.dijitArrowButtonInner{
    height:27px!important;
    width: 100%!important;
}

.dijitReset.dijitRight.dijitButtonNode.dijitArrowButton.dijitDownArrowButton.dijitArrowButtonContainer > input {
    border: none;
}

.tundra .pmb_calendar .dijitCalendarMonthLabel {
	color: var(--title-color-secondary)!important;
  	font-weight: 600!important;
	font-size: 31px;
	text-transform: capitalize;
	padding: 0;
}

.tundra .dijitCalendarDayLabelTemplate {
	/* color: #FF8A00!important; */
	background-image: none!important;
	line-height: 35px;
	border-top: 0px solid #eeeeee!important;
	padding: 0px 0px;
        font-weight: 600 !important;
}

.tundra .dijitCalendarMonthContainer th {
	background-image: none!important;
	/* background-color: #F9F9F9!important; */
	padding: 5px 0px;
}
.dijitCalendarMonthContainer{
	/* background-color: #e94e1b!important; */
	/* outline: solid 1px #e94e1b; */
}
.tundra .dijitCalendarContainer {
		margin-bottom: 5px;
                border: none !important;
		font-size: 0.9em;
}

.tundra .dijitCalendarBodyContainer td {
	color: black;
	padding: 1px 0px;
	background: #fff;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.21, 0.35, 0.2, 0.6);
}

.tundra td.dijitCalendarEnabledDate {

}
.tundra td[class^='cms_module_agenda_event_']{
    color: #fff;
}
.tundra td.dijitCalendarPreviousMonth ,
.tundra td.dijitCalendarNextMonth 		{/* days that are part of the previous or next month */
	color: #7B7777;
}
/*jour*/

.tundra .dijitCalendarHoveredDate {
	background-color: #F3F3F3;
	color: #777777!important;
	box-shadow: 0px 0px 0px 50px rgba(21, 21, 21, 0.1) inset;
}
.tundra td[class^='cms_module_agenda_event_'].dijitCalendarHoveredDate {
	color: #fff!important;
	box-shadow: 0px 0px 0px 20px rgba(0, 0, 0, 0.13) inset;
}
.tundra td[class^='cms_module_agenda_event_'].dijitCalendarNextMonth {
	transition-duration:0s;
}
span.dijitCalendarDateLabel, span.dijitCalendarDayLabel {
	min-width: 17px;
	display: inline-block;
	padding: 4px 0px;
	font: normal normal normal 1.6vw/41px Open Sans;
    font-weight: 300;
}
/*Année*/

.pmb_calendar .dijitCalendarYearLabel .dijitCalendarSelectedYear {
    font-weight: 600!important;
    color: #444 !important;
    padding-top: 3px!important;
    background-color: transparent !important;
}

.pmb_calendar .dijitCalendarCurrentDate span.dijitCalendarDateLabel{
    font-weight: 600;
}

.tundra .dijitCalendarYearContainer {
	background: none!important;
	border-bottom: 1px solid #ccc;
    border-top: none!important;
    margin-bottom: 20px;
}
.tundra .dijitCalendarYearLabel{
	background: white;
    padding: 0px 0 15px 0!important;
    font-size: 2.15em !important;
}

/*menu*/
.tundra .dijitMenu,
.tundra .dijitMenuBar {
	border: 1px solid rgba(0, 0, 0, 0.13);
	margin: 0;
	padding: 0;
	background-color: #E94E1B;
}

.pmb_calendar h2.pmb_title {
    font-size: 30px;
    font-weight: 600;
}

.pmb_calendar > div:not(:first-child) > div{
    margin-top: 3px;
    margin-bottom: 10px;
}

.pmb_calendar .dijitCalendarMonthContainer {
		background-color: var(--bg-color-primary);
}

.pmb_calendar table{
    border-collapse: unset;
    border-spacing: 2px
}

.dijitReset.dijitCalendarMonthContainer{
    width: auto!important;
}

#cms_module_agenda_85 > div.row > div{
        width: 50%;
	padding: 0px;
	font-size: 0.714em;
}
.cms_module_agenda_view_calendar_eventslist{
	margin:0px;
}

#widget_bull_date_start_dropdown {
    background: white;
    border: 1px solid;
}

/*legendes*/
.pmb_agenda_home .pmb_legend .pmb_legend_color{
	height: 20px;
	width: 20px;
	display: inline-block;
}

/* =================== CADRE Agenda en liste d'événements ========================= */
.pmb_agenda_home{

}

.pmb_agenda_home .pmb_container{

}

.pmb_agenda_home h2.pmb_title{

}

.pmb_agenda_home .pmb_calendar{

}

.pmb_agenda_home .pmb_legends{

}

.pmb_agenda_home .pmb_legend {

}

.pmb_agenda_home .pmb_legend_color{

}

.pmb_agenda_home .pmb_legend_title{

}

.pmb_agenda_home .pmb_events{

}

.pmb_agenda_home .pmb_event{

}

.pmb_agenda_home .pmb_img{

}

.pmb_agenda_home .pmb_subtitle{

}

.pmb_agenda_home .pmb_date{

}

.pmb_agenda_home .pmb_resume{

}

.pmb_agenda_home .pmb_link{
	
}

/*960 responsive
========================================================================== */
#cms_module_agenda_85 td.cms_module_agenda_event_13,
#cms_module_agenda_85 td.cms_module_agenda_event_3,
#cms_module_agenda_85 > div.row > div > div:first-child {
}
#cms_module_agenda_85 td.cms_module_agenda_event_3{

}
#cms_module_agenda_85 > div.row > div+div > div:first-child {

}
#cms_module_agenda_85 td.cms_module_agenda_event_13{

}

.pmb_legend div:last-child {
	margin-left: 35px;
	font: var(--font-subtitle-lower);
}

/*960 responsive
========================================================================== */
@media screen and (max-width: 980px) {
	#cms_module_agenda_85{
	}

	.dijitReset.dijitCalendarDecrementArrow, .dijitReset.dijitCalendarIncrementArrow {
		margin: 5px;
	}

	.dijitCalendarContainer span, .tundra .dijitCalendarMonthLabel{
		font: normal normal normal 20px/27px 'Open Sans';
	}


	.pmb_agenda_legend div:last-child {
		margin-left: 10px;
		font: normal normal bold 14px/19px Open Sans;
	}
}

/*767 responsive
========================================================================== */
@media screen and (max-width: 767px) {
	#cms_module_agenda_85{
	}
}
