 @charset "utf-8";
 /* +--------------------------------------------------------------------------+
// 2013 PMB Services / www.sigb.net pmb@sigb.net et contributeurs (voir www.sigb.net)
// +-------------------------------------------------+
// $Id: cart.css,v 1.1 2022/11/21 09:53:30 pmallambic Exp $ */
/*------------------------------------------------------------------------------------------*/
#resume_panier {
  height: 95px;
  background-color: var(--bg-color-primary);
  margin: 20px 0;
}

#iframe_resume_panier {
  width: 100%;
  margin: 0 0 0 25px;
  height: 100%;
}

body#cart_info_body {
  margin: 0;
  padding: 0;
}

#cart_info_iframe_content {
  color: var(--text-color-secondary);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  height: 100%;
}

#cart_info_iframe_content .img_basket {
  margin-right: 10px;
}

#cart_info_iframe_content a {
  text-transform: none;
  color: #fff;
  text-decoration: none;
  line-height: 31px;
}

#cart_info_iframe_content .pmb-basket-nb{
  margin-left: 2px;
}

#cart_info_iframe_content #pmb-basket-empty,
#cart_info_iframe_content #pmb-basket-full,
#cart_info_iframe_content #pmb-basket-not-empty {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.pmb_basket_nb {
  display: block;
}
/*=======================RESPONSIVE========================*/
@media screen and (max-device-width:959px)   {
    #pmb_mobile_basket #resume_panier {
      height: 55px;
      margin: 0;
    }

    #pmb_mobile_basket #resume_panier #iframe_resume_panier {
      margin: 0;
      height: 100%;
      width: 50px;
    }

    .pmb_basket_nb {
      display: none;
    }

    .img_basket img {
      max-width: 35px;
      max-height: 30px;
    }

    body#cart_info_body {
      height: 100%;
      display: flex;
      align-items: center;
    }
}