@charset "utf-8";
/* CSS Document */
/* +--------------------------------------------------------------------------+
// 2021 PMB Services / www.sigb.net pmb@sigb.net et contributeurs (voir www.sigb.net)
// +-------------------------------------------------+
*/


/* Définir la taille de la div main et de la div bandeau dans les pages avec des facettes */


#main.pmb-page-w-bandeau {
    margin: 40px 0 0;
    max-width: calc(78% - 140px);
    padding: 0 0 0 42px;
}

#main.pmb-page-w-bandeau #main_hors_footer {
  max-width: calc(83% + 38px);
}

#bandeau.pmb-page-w-bandeau {
    margin: 40px 0 0 140px ;
    max-width: 418px;
    width: 22%;
    display: block!important;
}

#bandeau.pmb-empty {
    display: block!important;
    padding: 0;
    background: none;
}

@media screen and (max-width: 1220px) {
  #bandeau.pmb-page-w-bandeau {
    margin-left: 30px;
  }

  #main.pmb-page-w-bandeau {
      max-width: calc(78% - 30px);
    }
}

/* Définir la taille de la div main à 100% et la div bandeau à 0% (dans le cas où il n'y a que les facettes dans le bandeau)   */

@media screen and (max-width:959px)   {
    #main.pmb-page-w-bandeau #main_hors_footer {
        max-width: 100%;
    }

    #main.pmb-page-w-bandeau {
        margin: 0 auto;
        max-width: 960px;
        width: 100%;
        padding: 0 10px;
    }

    #bandeau.pmb-page-w-bandeau {
        margin: 0;
        max-width: 0px;
        padding: 0;
    }

    .uk-offcanvas#facette {
        max-width: 100%;
    }
}
