@charset "utf-8";
/* -------------------------------------------------------*/
/* -------------------------------------------------------*/
/*                      Glyphe Icons                      */
/* -------------------------------------------------------*/
/* -------------------------------------------------------*/
#resa_notice a:before,
.actions_last_pageNot span:before,
.plusN a:before,
.avisNCourte a:before,
.statutPartN span:before {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
}

#resultatrech h3 span {
	font-size: 1em;
}

/* ---------------------------------------------------------------------*/
/* ---------------------------------------------------------------------*/
/*          Notice reduite     record_in_result_display                 */
/* ---------------------------------------------------------------------*/
/* ---------------------------------------------------------------------*/


/* ---------------------------------------------------------*/
/*                        Grid Layout                       */
/* ---------------------------------------------------------*/

.vignetteimgNot {
	margin-bottom: 10px;
}

/* ---------------------------------------------------------*/
/*                      Notice reduite                      */
/* ---------------------------------------------------------*/
.parentNotCourte {
	margin: 0px auto;
	padding: 20px 5px 15px;
	background-color: #fff;
	border-bottom: 1px solid #e7e7e7;
}

.panier_avis_notCourte .text_search0, .panier_avis_notCourte .text_search1, .panier_avis_notCourte .text_search2, .panier_avis_notCourte .text_search3, .panier_avis_notCourte .text_search4, .panier_avis_notCourte .text_search5, .footer_notice .text_search0, .footer_notice .text_search1, .footer_notice .text_search2, .footer_notice .text_search3, .footer_notice .text_search4, .footer_notice .text_search5, .plusN .text_search0, .plusN .text_search1,
.plusN .text_search2, .plusN .text_search3, .plusN .text_search4, .plusN .text_search5 {
    background-color: transparent;
    text-decoration: none;
    padding: 0px !important;
}

.avisNCourte a {
    text-decoration: none;
    color: var(--text-color-secondary);
    margin-left: 5px;
}
/* ---------------------------------------------------------*/
/*                        Picture                           */
/* ---------------------------------------------------------*/
.vignetteDocNot {
	text-align: left;
	overflow: hidden;
}

.vignetteNot {
	width: initial;
	height: auto;
	border: solid 1px #E6E6E6;
	max-width:100%;
}
.parentNotCourte .vignetteNot{
	width: 100%;
}
/* ---------------------------------------------------------*/
/*                     Titre   Notice                       */
/* ---------------------------------------------------------*/
.title_notCourte h3 {
	margin-bottom: 10px;
	padding-top: 0px;
}

.title_notCourte h3 a {
	text-decoration: none;
	color: inherit;
}
/* ---------------------------------------------------------*/
/*                     Notice summary                       */
/* ---------------------------------------------------------*/
.resume_notCourte span {
	font-style: italic;
}

.infoCompl_notCourte {
	margin-bottom: 10px;
	font-weight: 600;
}

.infoCompl_notCourte span {
	color: #000;
}


.infoCompl_notCourte span a {
	text-decoration: none;
}

/* ---------------------------------------------------------*/
/*                       Notice complet                     */
/* ---------------------------------------------------------*/
.plusN {
	margin: 20px 0;
}

#pmbopac .plusN a {
	text-decoration: underline;
	font-weight: bold;
}

.plusN a:before {
	content: url('images/new_plus.png');
	vertical-align: bottom;
	margin-right: 7px;
	text-align: center;
	text-decoration: none;
}
/* ---------------------------------------------------------*/
/*                      Avis commentaire                    */
/* ---------------------------------------------------------*/


span.imgComment img.imgComment,
span.imgStatutPartN img.imgStatutPartN,
.imgDocNum>img{
	vertical-align: middle;
	line-height: 30px;
	height: 18px;
}


.avisNCourte2 {
	text-align: right;
	margin-top: 15px;
}

.avisNCourte2 a {
	text-decoration: none;
	font-style: italic;
}

.avisN a {
	text-decoration: none;
	font-weight: 500;
	color: var(--text-color-secondary);
	display: inline-block;
	vertical-align: text-bottom;
	line-height: 29px;
}

a.listeLectureN:hover{
	text-decoration: none;
}
a.listeLectureN:hover span{
	text-decoration: underline;

}

i.fa.fa-clipboard {
    font-size: 20px;
    color: #fff;
}

span.img_permalink i {
    vertical-align: middle;
}

.tagsN a,
.suggestsN a,
.listeLectureN a,
.docnumNCourtePermalink a,
span.docNumN a,
a.listeLectureN span{
	color: var(--text-color-secondary)
}
/* ---------------------------------------------------------*/
/*                            Panier                        */
/* ---------------------------------------------------------*/
.onglet_basketNotCourte .img_basketNotCourte img {
	padding: 7px;
	margin-right: 7px;
	vertical-align: middle;
}

.onglet_basketNotCourte .img_basketNotCourte {
	text-decoration: none;
	background-color: inherit;
	color: var(--text-color-secondary);
	vertical-align: top;
	line-height: 30px;
}
a.img_basketNotCourte:hover{
	text-decoration:underline;
}

/* ---------------------------------------------------------*/
/*                          Reserver                        */
/* ---------------------------------------------------------*/
#resa_notice {
	float: right;
}

#resa_notice h3 {
	border-bottom: none;
}

#resa_notice a {
	text-decoration: none;
	color: #5CB32A;
}

#resa_notice a:before {
	content: "\f064";
	font-size: 120%;
	vertical-align: middle;
	margin-right: 7px;
	text-align: center;
}

.dispoLien_notice a {
	text-decoration: none;
	font-weight: 600;
}
/* ---------------------------------------------------------------------*/
/*                              Notice Footer                           */
/* ---------------------------------------------------------------------*/
.footer_notice {
	margin: 15px 0 5px 0;
	text-align: right;
	width: 100%;
}

.footer_notice .dispoLien_notice a{
	font-size: 1em;
	font-family: var(--text-font-secondary);
	color: var(--text-color-thirdly);
}
/* ---------------------------------------------------------------------*/
/* ---------------------------------------------------------------------*/
/*                 Notice Full  record_extended_display                 */
/* ---------------------------------------------------------------------*/
/* ---------------------------------------------------------------------*/

/* ---------------------------------------------------------*/
/*                        Grid Layout                       */
/* ---------------------------------------------------------*/
#noticeNot {
	max-width: 98%;
	margin: 0px auto;
	padding: 0;
}

#blocNotice_descr {
	padding: 0px;
	margin-bottom: 30px;
}

/* ---------------------------------------------------------*/
/*                    Enrichissisement                      */
/* ---------------------------------------------------------*/
#blocNotice_descr ul.onglets_isbd_publicNot {
	width: 100%;
	margin-bottom: 15px;
	padding: 0;
	position: static;
}

#blocNotice_descr ul.onglets_isbd_publicNot:after {
	content: "";
	display: block;
	clear: both;
}


#blocNotice_descr ul.onglets_isbd_publicNot .isbd_public_active a span {
	color: #ffffff;
}

#blocNotice_descr ul.onglets_isbd_publicNot li a {
	display: block;
	padding: 0px 9px;
	text-decoration: none;
	color: #565656;
	border: 0;
}

#blocNotice_descr ul.onglets_isbd_publicNot li {
	display: block;
	float: left;
	margin: 10px 6px 0px 0;
	position: relative;
	text-align: center;
	color: #666666;
	border-bottom: none;
	min-height: 30px;
	line-height: 30px;
	background-color: #E0E2E6;
	min-width: 24%;
}


#blocNotice_descr ul.onglets_isbd_publicNot li:hover a span {
	color: #ffffff;
}

#blocNotice_descr ul.onglets_isbd_publicNot li img {
	position: absolute;
	right: 3%;
	top: 20%;
	background-color: #fff;
	border-radius: 50%;
	padding: 2px;
}
/* ---------------------------------------------------------*/
/*                           Panier                         */
/* ---------------------------------------------------------*/

.ui-panel-basket-item a[class^="img_baske"] img {
    max-width: 32px;
    max-height: 27px;
}

.onglet_basketNotCourte2 {
	text-align: right;
}
/* ---------------------------------------------------------*/
/*                         Notice content                   */
/* ---------------------------------------------------------*/

.descr_notice {
	width: 100%;
}

.descr_notice td {
	padding: 4px;
	min-width: 200px;
}

.labelNot {
	vertical-align: top;
}
/* ---------------------------------------------------------*/
/*                     Titre   Notice                       */
/* ---------------------------------------------------------*/
#exempl_titleNot {
	font-weight: bold;
}

#exempl_titleNot {
	font-weight: 600;
}
/* ---------------------------------------------------------*/
/*                       Notice complet                     */
/* ---------------------------------------------------------*/
.lienP a {
	font-weight: 400;
	text-decoration: none;
	color: var(--text-color-secondary)
}

/* ---------------------------------------------------------*/
/*                      Avis commentaire                    */
/* ---------------------------------------------------------*/

span.avisN {
	margin-left: 5px;
	display: inline-block;
}

.asideContentNot > .avisN > span.avisN img.img_star_avis {
	vertical-align: sub;
}

.avisN a+a {
	margin-left: 7px;
}
/* ---------------------------------------------------------*/
/*                     exemplaires                          */
/* ---------------------------------------------------------*/
#zone_exemplaires {
	margin-bottom: 15px;
}

#zone_exemplaires h3 span {
	text-transform: uppercase;
}

.exemplairesNot th {
	background-color: #AB0101;
	color: #ffffff;
	line-height: 22px;
	text-align: left;
}

.exemplairesNot th,
.exemplairesNot td {
	padding: 0px 5px;
}
/* ---------------------------------------------------------*/
/*                      Reservation                         */
/* ---------------------------------------------------------*/

.resa_notice {
	min-height: 40px;
	text-align: right;
	margin-top: 20px;
}

.resa_notice h3 {
	font-size: 1em;
}

.resa_notice a {
	color: var(--text-color-thirdly);
	border: 2px solid #005DCB;
	border-radius: 6px;
	padding: 10px 27px;
}

/* ---------------------------------------------------------*/
/*                   Statut de la notice                    */
/* ---------------------------------------------------------*/
#main_hors_footer .statutNot {
    margin: 5px 0 10px;
}


/* ---------------------------------------------------------*/
/*                          Panier                          */
/* ---------------------------------------------------------*/
#pmbopac .ui-panel-basket-item a {
	min-height: inherit;
	padding: 0;

}

/*Flex display
--------------------------------------------------------------------------------------------*/

.statutPartN,
.avisNCourte,
.docnumNCourte,
.avisN,
.tagsN,
.suggestN,
.lienP,
.ui-panel-basket-item > div,
.listeLectureN > a
 {
	display: flex;
  align-items: center;
	height: 40px;
	padding: 0 5px 0 0px;
	border-radius: 6px;
	background: var(--bg-color-primary);
	transition: var(--hover-transition);
}

.statutPartN:hover,
.avisNCourte:hover,
.docnumNCourte:hover,
.avisN:hover,
.tagsN:hover,
.suggestN:hover,
.lienP:hover,
.ui-panel-basket-item > div:hover,
.listeLectureN > a:hover
 {
	filter: brightness(var(--hover-brightness));
	transition: var(--hover-transition);
}

.statutPartN span:nth-child(1),
.avisNCourte span:nth-child(1),
.docnumNCourte span:nth-child(1),
.avisN span:nth-child(1),
.tagsN span:nth-child(1),
.suggestN span:nth-child(1),
.listeLectureN span:nth-child(1),
.lienP span:nth-child(1),
.ui-panel-basket-item > div a:nth-child(1)  {
	width: 20%;
	text-align: center;
}

.statutPartN span:nth-child(2),
.avisNCourte span:nth-child(2),
.docnumNCourte span:nth-child(2),
.avisN span:nth-child(2),
.tagsN span:nth-child(2),
.suggestN span:nth-child(2),
.listeLectureN span:nth-child(2),
.lienP span:nth-child(2),
.ui-panel-basket-item > div a:nth-child(2)  {
	width: 80%;
	text-align: left;
}

.typeDoc_notCourte img {
	max-width: 25px;
	max-height: 25px;
}

.asideContentNot > div:not(.vignetteDocNot){
	margin-bottom: 10px;
}

.pmb-tgle-accordion {
  background: url('images/arrow_up_b.png') no-repeat;
  width: 31px;
  height: 18px;
  cursor: pointer;
	margin-bottom: 10px;
	border: none;
}

.pmb-tgle-accordion.uk-active {
  background: url('images/arrow_down_b.png') no-repeat;
}

.pmb-accordion {
	display: none;
}

.pmb-accordion.uk-active {
	display: block;
}

.asideContentNot .vignetteDocNot {
	margin-bottom: 20px;
}

.descr_notice tr .labelNot {
	color: #000;
}

.descr_notice tr .labelContent {
	color: #000;
}

.descr_notice .record_tit1 .labelContent {
	color: #000;
}

.notice_contenu {
	overflow: hidden;
}

.pmb_record_aside div:not('.pmb_record_img'){
background: var(--bg-color-secondary);
width: 75%;
}

/*------------------------------------------------------------------------------------------*/
/*-------------------------------------------------768-------------------------------------*/
/*------------------------------------------------------------------------------------------*/

@media screen and (max-width: 767px) {
	.asideContentNot,
	.notice_contenu{
		float:none;
		width:auto;
		margin: 10px auto;
	}

	#pmbopac .parentNotCourte > div {
		width: 100%;
		float: none;
		margin: 0 auto;
	}
}

/*------------------------------------------------------------------------------------------*/
/*--------------------------------------------Smart-----------------------------------------*/
/*------------------------------------------------------------------------------------------*/

@media screen and (max-width: 599px) {
	.parentNotCourte .vignetteNot{
		width:initial;
	}
	.notice_contenu{
		border-top:solid 2px;
		margin-top: 20px;
	}

	.descr_notice,
	.descr_notice tbody {
        display: block;
        margin-top: 10px;
    }
    .descr_notice tr {
        display: table;
        width: 100%;
        text-align: left;
    }
    .descr_notice td  {
		display: table-row;
		width: 100%;
    }
    .descr_notice .labelNot{
    	padding: 0;
    	line-height: normal;
    }
    .descr_notice .labelNot>span{
    	display:block;
    	padding: 4px 7px;
    	font-weight: 500;
    	margin: 5px 0px;
    	background-color: #efefef;
    }
}

/* Affichage de Notices
---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/

#notice {
    margin: 15px 0px 0px 0px;
}

.notice-parent:first-child {
    border-top: 0px dotted #cccccc;
}

.notice-parent {
    padding-top: 10px;
    border-top: 1px dotted #cccccc;
    position: relative;
    padding-left: 3px;
    margin: 5px 0px 10px;
}

.notice-parent .notice-child br {
    display: none;
}

.notice-heada {
    font-weight: 300;
    width: auto;
    margin-bottom: 8px;
    margin-left: 7px;
    color: #000;
    line-height: 21px;
}

div[id$="Parent"] > img {
    vertical-align: middle;
}

.notice-parent .notice-heada i {
    font-style: normal;
}

.notice-child {
    margin-bottom: 20px !important;
    margin-left: 5px;
    padding-bottom: 0px;
    border-radius: 0px 0px 0px 0px;
}

.notice-child h3,
#notice h3,
.a2z_perio h3>span {
    padding: 10px 0px;
    max-width: 90%;
    display: block;
    background-color: transparent;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
    height: auto;
    border-bottom: dotted 1px #BFBFBF;
}

.infosRub .rubContent:before {
    left: -2px;
    top: 17px;
}

.infosInline .rubContent>h3:before {
    left: -11px;
    top: 13px;
}

a[name="docnum"] h3:hover,
a[name="docnum"] {
    color: #00727e;
    text-decoration: none;
}

.a2z_perio h3>span {
    font-size: 1rem;
}

#notice span>h3 {
    max-width: none;
}

#bt_resa {
    margin-left: 0px;
    display: block;
}

.vignetteimg {
    max-width: 100px;
    max-height: 200px;
    box-shadow: 1px 1px 2px #cccccc;
    border-radius: 0px;
    border: solid 1px #ededed;
    margin-left: 10px;
}

#resultatrech .avis_detail span a {
    text-decoration: none;
}

.main_wrapper {
    margin-top: 10px;
}

.exemplaires {
    margin-top: 10px;
}

.exemplaires th {
    background-color: #eee;
    line-height: 22px;
    text-align: left;
}

.exemplaires th,
.exemplaires td {
    padding: 3px 5px;
}

.notice-parent img {
    vertical-align: text-bottom;
    margin-left: 4px;
}

.notice-parent .img_plus {
    max-width: 30px;
    max-height: 30px;
}

.expl_situation strong {
    color: inherit;
}

.etiq_champ {
    font-weight: 400;
    padding: 5px;
}

.public_title {
    font-weight: 600;
}

#notice {
    margin: 5px auto 0px;
    width: auto;
}
.avis_detail{
    font-weight: 400;
}
.simili_search .avis_detail{
    padding:10px 0px;
    border-bottom:solid 1px #dedede;
    margin-bottom:15px;
}


/* responsive
========================================================================== */

#pmbopac.popup .asideContentNot,
#pmbopac.popup .notice_contenu,
#pmbopac.popup .panier_avis_notCourte {
    float: none;
    margin: 0 auto;
    width: 85%;
}

#pmbopac .onglet_basketNot .img_basketNot {
    padding: 0px;
}

#pmbopac .vignetteDocNot,
#pmbopac .typeDoc_notCourte{
    text-align: center;
}

#pmbopac .typeDoc_notCourte {
  margin-top: 10px;
}

#pmbopac .vignetteNot {
    width: initial;
    border: none;
}


/* Page panier
 ========================================================================== */
 .empty:after {
    content: "Mon panier";
    background-image: url('images/basket_small_20x20.png');
    background-repeat: no-repeat;
    background-position: 0px 45%;
    text-indent: 55px;
    padding-left: 0px;
    display: block;
    color: #796262;
    height: 40px;
    line-height: 38px;
    position: static;
}

#cart_action br {
    display: none;
}

#cart_action {
    margin: 10px 0px;
}

#cart_action>input {
    margin-bottom: 0px;
    font-weight: normal;
    border: none;
    padding: 5px;
    margin-left: 1.3%;
    margin-top: 7px;
    min-height: 25px;
    word-wrap: break-word;
}

#cart_action>input:nth-of-type(2n+3) {
    clear: left;
}

#cart_action input[type="button"].bouton {
    word-break: break-all;
}

#cart_action form[name="export_form"] {
    width: 97.5%;
    padding: 7px 10px;
    line-height: 25px;
    margin: 10px auto;
    clear: both;
    border-top: solid 1px #E7E7E7;
    border-bottom: solid 1px #E7E7E7;
    display: block;
}

#cart_action input[value="Ok"].bouton {
    padding: 5px 10px;
    border: 0px;
    display: block;
}

iframe#iframe_resume_panier html {
    background-color: transparent;
}

#cart_action form[name="export_form"] label {
    margin: 0px 0px;
    line-height: 22px;
    padding: 0;
    vertical-align: top;
}

#resume_panier a {
    color: red;
}

ul.onglets_isbd_public .onglet_basket a.img_basket_exist {
    width: 34px;
    display: block;
    padding: 0px;
    background-position: 50% 50%;
    background-image: url('images/basket_full_circ.png');
    margin: 0;
    background-repeat: no-repeat;
    background-color: #669F25;
    border-color: #669F25;
}

.main_wrapper a.img_basket {
    width: auto;
    float: none;
    display: inline-block;
    margin-left: 20px;
}
/*lien panier
 ========================================================================== */

.bannette-titre h1>a[href^="cart_inf"] {
    padding-right: 7px;
}

.bannette-titre h1>a[href^="cart_inf"] {
    padding-right: 7px;
    display: inline-block;
    /* background-image: url(images/basket.png); */
    background-repeat: no-repeat;
    background-position: 50%;
    /* width: 19px; */
    /* height: 23px; */
    ;
}

.bannette-titre h1>a[href^="./empr.php?"] {
    display: inline-block;
}

/* Alertes perso
--------------------------------------------------------------------------------------- */
.aut_details_bannette {
    background-color: #F8F8F8;
    overflow: hidden;
    padding: 0px 10px;
    margin-top: 0;
}

.aut_details_bannette form th,
.aut_details_bannette form td {
    max-width: 150px;
    text-align: center;
}

.aut_details_bannette form tbody {
    border: solid 1px #787878;
}

.aut_details_bannette form th {
    font-weight: 400;
    vertical-align: top;
    padding: 4px 7px;
    border: solid 1px #787878;
}

#bannette-container {
    background-color: #FeFeFE;
    padding: 1%;
    width: 98%;
    margin: 0 auto;
    border: solid 1px #cdcdcd;
}

#bannette-container .colonne2 {
    width: auto!important;
}

#bannette-container .notice-heada {
    width: 90%;
}

#bannette-container table {
    margin: 0px 0px 10px;
}

#bannette-container table:empty {
    display: none;
}

#bannette-container table tr td {
    padding: 5px 7px;
}

#bannette-container form table tr td:nth-child(odd) {
    background-color: #f9f9f9;
    padding: 5px 7px;
    text-align: center;
    border-left: solid 1px #787878;
    border-right: solid 1px #787878;
}