@charset "utf-8";
/* +--------------------------------------------------------------------------+
// 2013 PMB Services / www.sigb.net pmb@sigb.net et contributeurs (voir www.sigb.net)
// +-------------------------------------------------+
// $Id: starter_pageo.css,v 1.1 2022/11/21 09:53:30 pmallambic Exp $ */
/*------------------------------------------------------------------------------------------*/
/* ========================================================================
   Component: Base
 ==========================================================================  */

/* Definition des variables */

:root {
    --text-font-primary: 'Open Sans';
    --text-font-secondary: 'Open Sans',Arial, Helvetica, sans-serif;
    --text-color-primary: #333;
    --text-color-secondary: #ffffff;
    --text-color-thirdly: rgba(7, 78, 104,0.5);
    --title-color-primary: #333;
    --title-color-secondary: #ffffff;
    --title-color-thirdly: rgba(7, 78, 104,0.5);
    --bg-color-body: #ffffff;
    --bg-color-opac: #F9F9F9;
    --bg-color-primary: rgb(7, 78, 104);
    --bg-color-primary-lighter: rgba(7, 78, 104,0.5);
    --bg-color-secondary: rgb(49, 113, 138);
    --bg-color-secondary-lighter: rgba(49, 113, 138,0.5);
    --font-size-body: 1em;
    --font-resume: normal normal normal 1.4rem/19px var(--text-font-secondary); /* 14px */
    --font-link: normal normal bold 1.5rem/19px var(--text-font-secondary); /* 15px */
    --font-subtitle-lower: normal normal bold 1.7rem/23px var(--text-font-secondary); /* 17px */
    --font-subtitle: normal normal bold 2rem/24px var(--text-font-secondary); /* 20px */
    --font-title: normal normal bold 3rem/38px var(--text-font-primary); /* 30px */
    --hover-brightness : 110%;
    --hover-transition : 0.3s;
    --border: 1px solid var(--bg-color-primary);
    --border-radius: 0;
}


/* ========================================================================
   Containers
 ==========================================================================  */
html {
    overflow-x: hidden;
    font-size: 10px;
}

body#pmbopac {
    color: var(--text-color-primary);
    background: var(--bg-color-body) no-repeat top center;
    overflow: hidden;
    font-family: var(--text-font-secondary);
    font-size: 1.4rem;
    font-weight: 400;
}

#container {
    width: 100%;
}

#intro_bibli,
#adresse,
#accueil,
#footer_link_sup,
#footer_link_pmb {
    display: none!important;
}

#main {
    position: relative;
    border: none;
    box-shadow: none;
}

#bandeau {
    background-color: white;
    padding: 25px;
  }

#intro {
    position: relative;
    height: auto;
    padding: 0 5vw;
    margin-bottom: 50px;
  }

a, a:hover {
    color: inherit;
}

div[id^="cms_module"]:empty,
div:empty:not('clear'){
    display:none;
}

/* ==========================================================================
==========================================================================
                               General
==========================================================================
========================================================================== */

.pmb_black {
    color: var(--text-color-primary);
}

.pmb_white {
    color: var(--text-color-secondary);
}

#pmbopac h2.pmb_title {
    font: var(--font-title);
    text-transform: uppercase;
    padding: 25px 0;
}

#pmbopac h3.pmb_subtitle {
    font: var(--font-subtitle);
    text-transform: uppercase;
    padding: 0;
}

#pmbopac h1 a,
#pmbopac h2 a,
#pmbopac h3 a,
#pmbopac h4 a,
#pmbopac h5 a,
#pmbopac h6 a{
  text-decoration: none;
}


.pmb_resume {
    font: var(--font-resume);
}


#pmbopac .pmb_link_button {
    padding: 5px 20px;
    background-color: var(--bg-color-secondary);
    border: none;
    display: inline-flex;
    margin: 20px 0;
    text-decoration: none;
}

#pmbopac .pmb_link_button .pmb_link {
    color: var(--text-color-secondary);
}

.pmb_clear_both {
    clear: both;
}


/* ==========================================================================
==========================================================================
                               Header
==========================================================================
========================================================================== */


.pmb_resp_menu button {
    margin: 10px;
    background-color: transparent;
}

.pmb_resp_menu .pmb_icon_burger {
    background-image: url(./images/burger.png);
    width: 30px;
    height: 30px;
}

.pmb_resp_menu .pmb_icon_user {
    background-image: url(./images/connexion.png);
    width: 30px;
    height: 30px;
}

.pmb_resp_menu .pmb_icon_facette {
    background-image: url(./images/search_facette.png);
    width: 30px;
    height: 30px;
}

.pmb_resp_menu .pmb_icon_search {
    background-image: url(./images/search.png);
    width: 30px;
    height: 30px;
}

.pmb_resp_menu .pmb_icon_ {
    background-image: url(./images/pmb_icon_burger.png);
    width: 30px;
    height: 30px;
}


#pmbopac h4.searchbox_title {
    font: var(--font-title);
    text-transform: uppercase;
    padding: 25px;
}


.pmb_breadcrumb li:not(:last-child):after{
    content:"/";
    margin: 0px 5px;
}

/* ==========================================================================
==========================================================================
                               Main
==========================================================================
========================================================================== */

/*  Home
*********************************************************************** */

.pmb_impt .pmb_resume {
    padding: 20px 0;

}

.pmb_carrousel_nouveaute {
    border: 1px solid var(--bg-color-primary);
}
  
.pmb_carrousel_nouveaute>h3 {
    border-bottom: 1px solid var(--bg-color-primary);
}
  
.pmb_carrousel_nouveaute .uk-slider-container {
    margin: 25px 75px;
}

.pmb_carrousel_nouveaute .uk-slider-container .imgL a {
    display: inline-block;
}

.pmb_carrousel_nouveaute .uk-slider-container img {
    height: 190px;
}

.pmb_carrousel_nouveaute .uk-slider-container a {
    text-decoration: none;
}
  
.pmb_carrousel_nouveaute .uk-slidenav-position .uk-slidenav {
    top: 55%;
}

.pmb_articleslist_home .pmb_img,
.pmb_impt .pmb_img {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}



.pmb_slider_record_home h3.pmb_item_slider_title {
    margin: 15px 0;

}

.pmb_slider_record_home .pmb_img {
    height: 160px;

}

/* Désactiver les flèches par défaut d'uikit */

.pmb_slider_record_home svg {
    display: none;
}

/* Personnaliser les flèches */

.pmb_slider_record_home .uk-slidenav-next::before {
    content: url('images/arrow_right.png');
  }
  
.pmb_slider_record_home .uk-slidenav-previous::before {
    content: url('images/arrow_left.png');
  }

/* Personnaliser les dotnav */

.pmb_slider_record_hom .uk-dotnav > * > * {
    width: 10px;
    height: 10px;
}

.pms_slider_record_home .uk-dotnav .uk-active, .pmb_slider_record_home .uk-dotnav>*>*:hover {
    background-color: var(--bg-color-primary);
    
}

.pmb_slider_record_home .uk-dotnav>.uk-active>*,
.pmb_slider_record_home .uk-dotnav>*>*:hover  {
  background: var(--bg-color-primary);
}

.pmb_slider_record_home .uk-dotnav>*>* {
    border: 2px solid var(--bg-color-primary);
}

.pmb_slideshow_home .pmb_img {
    height: fit-content;
}

.pmb_slideshow_home .pmb_resume {
    padding: 20px 0;

}



/* Personnaliser le slider en mode overlay */

#pmbopac .pmb_slideshow_home .pmb_overlay {
    background-color: var(--bg-color-body);
    opacity: .9;
  }

/* Désactiver les flèches par défaut d'uikit */

.pmb_slideshow_home .pmb_next svg, .pmb_slideshow_home .pmb_prev svg {
    display: none;
}

/* Personnaliser les flèches */

.pmb_slideshow_home  .pmb_next::before {
    content: url('images/arrow_right.png');
  }
  
.pmb_slideshow_home  .pmb_prev::before {
    content: url('images/arrow_left.png');
  }

/* Personnaliser des dotnav */

.pmb_slideshow_home .uk-dotnav > * > * {
    width: 10px;
    height: 10px;
}

.pmb_slideshow_home .uk-dotnav .uk-active a, .pmb_slideshow_home .uk-dotnav>*>*:hover {
    background-color: var(--bg-color-primary);
    
}

.pmb_slideshow_home .uk-dotnav>.uk-active>*,
.pmb_slideshow_home .uk-dotnav>*>*:hover  {
  background: var(--bg-color-primary);
}

.pmb_slideshow_home .uk-dotnav>*>* {
    border: 2px solid var(--bg-color-primary);
}


.pmb_articleslist_home .pmb_items .pmb_item > div{
    padding: 20px;
    background-color: var(--bg-color-opac);
}

.pmb_articleslist_home .pmb_img {
    text-align: center;
    
}

.pmb_articleslist_home h4.pmb_resume{
    margin-bottom: 10px;    
}

.pmb_rss_home h3.pmb_subtitle{
    color: var(--text-color-thirdly);  
}

.pmb_slider_sections_home .pmb_img {
    height: 350px;

}

.pmb_slider_sections_home h3.pmb_item_slider_title {
    margin: 15px 0;

}


/* Personnaliser le slider en mode overlay */

#pmbopac .pmb_slider_sections_home .pmb_overlay {
    background-color: var(--bg-color-body);
    opacity: .9;
  }

/* Désactiver les flèches par défaut d'uikit */

.pmb_slider_sections_home .pmb_next svg, .pmb_slider_sections_home .pmb_prev svg {
    display: none;
}

/* Personnaliser les flèches */

.pmb_slider_sections_home  .pmb_next::before {
    content: url('images/arrow_right.png');
  }
  
.pmb_slider_sections_home  .pmb_prev::before {
    content: url('images/arrow_left.png');
  }

/* Personnaliser des dotnav */

.pmb_slider_sections_home .uk-dotnav > * > * {
    width: 10px;
    height: 10px;
}

.pmb_slider_sections_home .uk-dotnav .uk-active a, .pmb_slider_sections_home .uk-dotnav>*>*:hover {
    background-color: var(--bg-color-primary);
    
}

.pmb_slider_sections_home .uk-dotnav>.uk-active>*,
.pmb_slider_sections_home .uk-dotnav>*>*:hover  {
  background: var(--bg-color-primary);
}

.pmb_slider_sections_home .uk-dotnav>*>* {
    border: 2px solid var(--bg-color-primary);
}


#pmb_menu_desktop .pmb_menu_item{
    margin: 0 15px;
}

#pmb_menu_desktop .pmb_menu_item a{
    text-decoration: none;
}


#pmb_menu_desktop .pmb_menu_grandchild{
    margin: 15px;
}




  

/*  Rubriques && Articles
*********************************************************************** */

.pmb_solo .pmb_img,
.pmb_side_img.pmb_img {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.pmb_side_img img {
    max-height: 200px;
    max-width: 320px;
    object-fit: contain;
    width: 100%;
}

.pmb_side_img.pmb_img {
    margin-bottom: 20px;
}

.pmb_cp_medias li * {
    max-height: 400px;
}

.pmb_portefolio .pmb_container ul li a{
    text-decoration: none;

}

.pmb_portefolio .pmb_container ul li p{
    background-color: var(--bg-color-secondary);
    color: var(--text-color-secondary);
    padding: 5px 10px;

}

.pmb_rub_rss h4.pmb_subtitle{
    color: var(--text-color-thirdly);

}

/* ==========================================================================
==========================================================================
                               Bandeau
==========================================================================
========================================================================== */

/* =================== CADRE brèves Bandeau ========================= */
.pmb_bd_brief{
    margin: 10px 0px;
}

.pmb_bd_brief .pmb_resume{
    margin: 10px 0px;
}

.pmb_bd_info{
    margin: 10px 0px;
}

.pmb_bd_info .pmb_item{
    margin: 10px 0px;
}

.pmb_bd_info .pmb_resume{
    margin: 10px 0px;
}


.pmb_bd_watch .pmb_watch_item{
    margin: 10px 0px;
}


/* ==========================================================================
==========================================================================
                               Footer
==========================================================================
========================================================================== */

#footer {
    position: relative;
    background-color: var(--bg-color-primary);
    color: var(--text-color-secondary);
    margin-top: 25px;
}


.pmb_anchor{
    text-align: center;
}

.pmb_anchor a {
    background-image: url(./images/ancre.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 73px;
    height: 44px;
}

.pmb_footer_link{
    margin: 15px;
}
