@charset "utf-8";
/* CSS Document */
/*------------------------------------------------------------------------------------------*/
/*---------------------------------------------RESPONSIVE-----------------------------------*/
/*------------------------------------------------------------------------------------------*/


/* ========================================================================
   Responsive nav
 ========================================================================== */


 #pmb_resp_offcanvas .pmb_menu_child{
  margin-left: 10px;
}

#pmb_resp_offcanvas .pmb_menu_grandchild{
  margin-left: 15px;
}

#pmb_resp_offcanvas a{
  text-decoration: none;
}



/******************************************************************/
/************************** Mobile first **************************/
/******************************************************************/



@media screen and (min-width: 640px) {
  .pmb_impt .pmb_img {
    width: 40%;
    margin-right: 20px;
  }
}

@media screen and (min-width: 960px) {
  #bandeau {
    width: 40%;
  }

  .pmb_solo .pmb_img {
    width: 30%;
    margin-right: 20px;
  }

  .pmb_side_img.pmb_img {
    margin-right: 20px;
  }

  .pmb_articleslist_home .pmb_img {
    width: 40%;
    margin-right: 20px;
  }

}

@media screen and (min-width: 1200px){
  #bandeau {
    width: 30%;
  }

  .pmb_solo .pmb_img {
    width: 20%;
  }

  .pmb_side_img.pmb_img {
    width: 20%;
  }
  

}

@media screen and (min-width: 1600px) {
}


/* ========================================================================
  xLarge * < 1920
 ========================================================================== */

@media screen and (max-width: 1920px) {


}

/* ========================================================================
  Large * < 1220
 ========================================================================== */

@media screen and (max-width: 1220px) {

}

/* ========================================================================
  Medium 959
 ========================================================================== */
@media screen and (max-width:960px)   {

    #intro, #main, body #bandeau, #footer {
      width: 100%;
    }

    #accessibility {
      display: none;
    }

    #main_hors_footer {
        padding: 10px 0;
    }

    .uk-offcanvas#facette {
        max-width: 100%;
    }

    #connexion {
      display: none;
      position: absolute;
      top: 55px;
      background: var(--bg-color-secondary);
      left: 0;
      height: 100%;
      width: 100%;
      max-height: 345px;
      z-index: 999;
    }
    /**************************** Intro ******************************/
    #intro {
        background: var(--bg-color-body);
        margin-bottom: 20px;
    }

    .pmb_main_logo {
        margin-top: 60px;
    }

    #pmb_title-portal {
      text-align: center;
    }

    #pmb_title-portal {
      margin-top: 35px;
    }
    /**************************** Resultat rech************************/
    #pmbopac #resultatrech_liste .reccord-item .thumb-item {
	      max-width: none;
        text-align: center;
    }

    #pmbopac .reccord-item .thumb-item .vignetteDocNot {
        text-align: center;
    }


    /*Affichage notice
    ========================================================================== */

    .notice-child table table td.bg-grey,
    #notice table table td.bg-grey,
    .parent table table td.bg-grey {
        min-width: 83px;
        padding: 3px 1px;
        width: auto;
        word-break: break-all;
    }

    .expl_header_location_libelle,
    .location_libelle,
    .expl_header_section_libelle,
    .section_libelle {
        width: auto;
        word-wrap: initial;
        overflow: hidden;
    }
    .notice-child {
        padding: 0px;
        margin: 0px;
    }
    .notice-child table {
        padding: 0px;
        margin: 0px;
        width: auto;
    }
    .notice-child table table td,
    #notice table table td {
        line-height: normal;
        max-width: 210px;
    }
    .vignetteimg {
        display: none;
    }
    .notice-heada,
    .notice-parent {
        width: 100%;
        margin: 0 auto 15px;
    }
    #aut_details_container,
    #aut_details_liste {
        padding: 0px;
    }

    /*Periodique
    ========================================================================== */
    #perio_a2z ul.onglets_isbd_public div li {
        width: auto;
        margin-bottom: 10px;
    }
    #a2z_perio #form_search_bull input[type="text"] {
        width: 95%;
    }
    #blocNotice_descr>div>div{
        float:none;
        width:auto;
        margin:auto;
    }
    /*Tableaux
    ========================================================================== */
    .exemplaires th{
    	display:none;
    }
    .notice-child table table,
    .notice-child table table tbody,
    .table-no-border,
    .table-no-border tbody,
    #notice div[id^=div_public] table,
    #notice div[id^=div_public] table tbody,
    #a2z_contens table,
    #a2z_contens table tbody {
        display: block;
    }
    #a2z_contens table {
        max-width: 100%;
    }
    .notice-child table table tr,
    .table-no-border tr,
    #notice div[id^=div_public] table tr,
    #a2z_contens table tr {
        display: table;
        width: 100%;
        text-align: left;
    }
    .notice-child td,
    .notice-child table table td.bg-grey,
    .notice-child table table td,
    #notice table table td,
    .table-no-border td,
    #notice table table td.bg-grey,
    .parent table table td.bg-grey,
    #a2z_contens table td {
        display: table-row;
        width: 100%;
        max-width: 100%;
    }
    #form_search_bull > form > table > tbody > tr:nth-child(2) > td{
    	display:initial;
    	padding:0px 10px;

    }

    .etiq_champ {
        display: block;
        text-align: left;
    }
    #search form .form-contenu .table-no-border input[type="button"] {
        margin: 0 auto;
    }
    #search form .form-contenu .table-no-border .search_cancel {
        border-bottom: dotted 1px #8C8C8C;
        display: block;
        padding-bottom: 5px;
        margin-bottom: 7px;
    }
    #search form .form-contenu .search_value .ext_search_txt,
    .form-contenu input[type="text"] {
        max-width: none;
        width: 100%;
        margin-bottom: 7px;
    }
    table.a2z_contens .a2z_perio_list {
        width: 100%;
        height: auto;
        overflow: auto;
        max-height: 350px;
    }
    .expl_voisin_search  table td,
    .simili_search  table td{
        display:block;
        width:50%;
        float:left;
    }
    #zone_exemplaires .item_expl.expl_available td{
        display:block;
    }
    #zone_exemplaires .item_expl.expl_available td:before{
        content: " "attr(class)" ";
        display:block;
        background-color:#eee;
        padding:5px 5px
    }
    #navigator {
        width:100%;
    }
    #navigator td{
        display:block;
    }


    .pmb_impt_img_width {
    	background: var(--bg-color-body);
    	text-align: center;
    	border: 1px solid var(--bg-color-primary);
    	padding: 5px;
    }

    #pmb_help_connexion  {
      bottom: 0;
    }


    /* ========== Cadre Recherche =========*/
    .pmb_search {
      position: absolute;
      background: var(--bg-color-body);
      top: 50px;
      display: none;
    }

    .searchbox input.bouton, .searchbox input[type="submit"] {
    	border-top: 2px solid var(--bg-color-primary);
    }


    .pmb_cp_medias li {
      text-align: center;
    }
}

/* ========================================================================
  Small < 640
 ========================================================================== */
@media screen and (max-width:640px){
    /*Zone
    ========================================================================== */
    #bandeau{
        padding:0;
        margin: 20px 0 0 0;
    }

   
    /*Notice display param
    ========================================================================== */
    .vignetteimgNot {
        margin-bottom: 10px;
    }

    .panier_avis_notCourte {
        margin-top: 20px;
    }

    .descr_notice td {
        min-width: 0px;
    }

    #blocNotice_descr > div > div {
      width: 100%;
    }
    /*Basket page
    ========================================================================== */
    #cart_action input[type="button"].bouton{
        display: block;
        width: 100%;
        height: auto;
        font-size: 12px;
    }

    /*Tableaux
    ========================================================================== */
    .expl_voisin_search  table td,
    .simili_search  table td{
        display:block;
        width:auto;
        float:none;
    }
    .fiche-lecteur td{
        display:block;
        width: auto;
        padding: 5px;
    }
    .etiq_champ{
        padding:0px;
    }
    .fiche-lecteur .bg-grey{
        background-color: #d7d7d7;
    }

    .pmb_sections-list  .pmb_section{
      margin-bottom: 20px;
      text-align: center;
    }

    #footer .liensFooter {
      margin-top: 40px;
    }

    #footer .pmb_anchor_container {
      position: static;
    }

    #footer .pmb_anchor {
      margin: 30px auto 10px;
    }

    #pmbopac .vignetteDocNot, #pmbopac .typeDoc_notCourte {
      width: 100%;
    }


     .footer_notice,
     .resa_notice {
       text-align: center;
     }

     .noticesEtagere > a {
       float: none;
     }

    .liensFooter .uk-navbar-nav > li {
        width: 100%;
        text-align: center;
        float: none;
    }


}

@media screen and (max-width:480px){
  /* Redefinition de la font du body pour affecter les variables */
  body#pmbopac {
    font-size: 12px;
  }

  #pmbopac .pmb_title {
    padding: 10px;
  }
    /**************************** Intro ******************************/
    #history_action input{
          margin-left: 0px;
          margin-top: 5px;
          display: block;
          width: 100%;
          white-space: break-spaces;
      }

    /************************** Accueil *****************************/
    #pmbopac .uk-slidenav.uk-slidenav-previous{
     left: 0;
    }

    #pmbopac .uk-slidenav.uk-slidenav-next{
        right: 0;
    }

    #pmbopac .article-thumb {
        margin: 0 auto;
    }
    /******************************************************************/
    /**************************** footer ******************************/
    /******************************************************************/
    #resultatrech_liste > span {
      padding: 0;
    }

    .pmb_home_sections > div {
      margin: 0 auto;
  }

}
