<template>
	<div id="form">
		<form action="#" method="POST" @submit.prevent="submit" class="dsi-form-diffusion">
			
			<!-- <div class="dsi-form-group">
				<label class="etiquette" for="name">{{ messages.get('dsi', 'diffusion_form_name') }}</label>
				<div class="dsi-form-group-content">
					<input type="text" id="name" name="name" v-model="diffusion.name" required>
				</div>
			</div>

			<div class="dsi-form-group">
				<label class="etiquette" for="channel">{{ messages.get('dsi', 'diffusion_form_channel') }}</label>
				<div class="dsi-form-group-content">
					<select id="channel" name="channel" v-model="diffusion.channel" required>
						<option value="">{{ messages.get('dsi', 'diffusion_form_choose_channel') }}</option>
						<option v-for="(channel, index) in channels" :key="index" :value="channel.namespace">
							{{ channel.name }}
						</option>
					</select>
					
					<div class="dsi-canal-content"></div>	
				</div>
			</div> -->

			<div class='row'>
				<br />
				<div class="left">
					<input type="submit" class="bouton" :value="messages.get('common', 'submit')">	
				</div>
	    	</div>
		</form>
	</div>
</template>

<script>
	export default {
		props : [],
		methods: {
			submit: async function() {
				let response = await this.ws.post('diffusions', 'save', this.diffusion);
				if (response.error) {
					this.notif.error(this.messages.get('dsi', response.errorMessage));
				} else {
					document.location = "./dsi.php?categ=diffusions";
				}
			},
		}
	}
</script>