<template>
    <fieldset class="dsi-fieldset-setting dsi-periodical-event-settings">
        <legend class="dsi-legend-setting">{{ messages.get('dsi', 'event_form_settings') }}</legend>
	    <div class="dsi-periodical-event">
            <fieldset class="dsi-fieldset-setting dsi-periodical-event-period">
                <legend class="dsi-legend-setting">{{ messages.get('dsi', 'event_form_periodical') }}</legend>
    
                <div class="dsi-periodical-event-radio">
                    <input type="radio" id="periodical-choice-1" v-model="event.settings.periodical" name="periodical-choice"  value="daily" @change="$set(event.settings, 'periodical_data', [])" required />
                    <label for="periodical-choice-1">{{ messages.get('dsi', 'event_form_periodical_daily') }}</label>
                </div>
                <div class="dsi-periodical-event-radio">
                    <input type="radio" id="periodical-choice-2" v-model="event.settings.periodical" name="periodical-choice" value="weekly" @change="$set(event.settings, 'periodical_data', [])" required />
                    <label for="periodical-choice-2">{{ messages.get('dsi', 'event_form_periodical_weekly') }}</label>
                </div>
                <div class="dsi-periodical-event-radio">
                    <input type="radio" id="periodical-choice-3" v-model="event.settings.periodical" name="periodical-choice" value="monthly" @change="$set(event.settings, 'periodical_data', [])" required />
                    <label for="periodical-choice-3">{{ messages.get('dsi', 'event_form_periodical_monthly') }}</label>
                </div>
                <div class="dsi-periodical-event-radio">
                    <input type="radio" id="periodical-choice-4" v-model="event.settings.periodical" name="periodical-choice" value="yearly" @change="$set(event.settings, 'periodical_data', [])" required />
                    <label for="periodical-choice-4">{{ messages.get('dsi', 'event_form_periodical_yearly') }}</label>
                </div>
            </fieldset>
    
            <fieldset v-if="event.settings.periodical == 'daily'" class="dsi-fieldset-setting dsi-periodical-event-days">
                <legend class="dsi-legend-setting">{{ messages.get('dsi', 'event_form_periodical_days') }}</legend>
    
                <div v-for="(day, index) in mappage.daily" :key="index" class="dsi-periodical-event-checkbox">
                    <input type="checkbox" :id="'periodical-day-choice-'+(index+1)" v-model="event.settings.periodical_data" :true-value="[]" :value="index+1" />
                    <label :for="'periodical-day-choice-'+(index+1)">{{ messages.get('dsi', day) }}</label>
                </div>
            </fieldset>

            <fieldset v-if="event.settings.periodical == 'monthly'" class="dsi-fieldset-setting dsi-periodical-event-months">
                <legend class="dsi-legend-setting">{{ messages.get('dsi', 'event_form_periodical_months') }}</legend>

                <div v-for="(month, index) in mappage.monthly" :key="index" class="dsi-periodical-event-checkbox">
                    <input type="checkbox" :id="'periodical-month-choice-'+(index+1)" v-model="event.settings.periodical_data" :true-value="[]" :value="index+1" />
                    <label :for="'periodical-month-choice-'+(index+1)">{{ messages.get('dsi', month) }}</label>
                </div>
            </fieldset>

            <fieldset v-if="event.settings.periodical == 'weekly'" class="dsi-fieldset-setting dsi-periodical-event-weeks">
                <legend class="dsi-legend-setting">{{ messages.get('dsi', 'event_form_periodical_weeks') }}</legend>

                <select multiple name="selectedWeeks[]" v-model="event.settings.periodical_data">
                    <option v-for="(week, index) in weekCount(new Date().getFullYear())" :key="index" :value="week">Semaine {{ week }}</option>
                </select>
            </fieldset>

            <fieldset v-if="event.settings.periodical == 'yearly'" class="dsi-fieldset-setting dsi-periodical-event-years">
                <legend class="dsi-legend-setting">{{ messages.get('dsi', 'event_form_periodical_years') }}</legend>

                <select multiple name="selectedYears[]" v-model="event.settings.periodical_data">
                    <option v-for="(year, index) in 25" :key="index" :value="new Date().getFullYear() + year">{{ new Date().getFullYear() + year }}</option>
                </select>
            </fieldset>
        </div>
    </fieldset>
</template>

<script>
	export default {
		props : ["event"], 
		data: function () {
			return {
                mappage: {
                    daily: [
                        "event_form_periodical_monday",
                        "event_form_periodical_tuesday",
                        "event_form_periodical_wednesday",
                        "event_form_periodical_thursday",
                        "event_form_periodical_friday",
                        "event_form_periodical_saturday",
                        "event_form_periodical_sunday",
                    ],
                    monthly: [
                        "event_form_periodical_january",
                        "event_form_periodical_february",
                        "event_form_periodical_march",
                        "event_form_periodical_april",
                        "event_form_periodical_may",
                        "event_form_periodical_june",
                        "event_form_periodical_july",
                        "event_form_periodical_august",
                        "event_form_periodical_september",
                        "event_form_periodical_october",
                        "event_form_periodical_november",
                        "event_form_periodical_december",
                    ]
                }
			}
		},
        created: function() {
            if(Object.keys(this.event.settings).length === 0) {
                this.$set(this.event.settings, "periodical", "daily");
                this.$set(this.event.settings, "periodical_data", []);
            }
        },
        watch: {
			'event.settings.periodical': function(newVal) {
                if(!this.event.model) {
                    this.genName();
                }
			},
            'event.settings.periodical_data': function(newVal) {
                if(!this.event.model) {
                    this.genName();
                }
			}
		},
		methods: {
            calcYear: function (year) {
                return (year + Math.floor(year/4) - Math.floor(year/100) + Math.floor(year/400)) % 7;
            },
            weekCount: function (year) {
                var additionalWeek = (this.calcYear(year) == 4 || this.calcYear(year-1) == 3) ? 1 : 0;
                return 52 + additionalWeek;
            },
            genName: function() {
                if(!this.event.model) {
                    let elementsString = "";
                    if(this.event.settings.periodical_data.length) {
                        elementsString = " (";
        
                        this.event.settings.periodical_data.forEach((element, index) => {
                            if(this.mappage[this.event.settings.periodical]) {
                                elementsString += this.messages.get("dsi", this.mappage[this.event.settings.periodical][element-1]);
                            }else {
                                elementsString += element;
                            }
                            elementsString += this.event.settings.periodical_data.length-1 != index ? ", " : "";
                        });
        
                        elementsString += ")";
                    }
    
                    this.event.name = this.messages.get("dsi", "event_form_periodical") + " - " + this.messages.get("dsi", "event_form_periodical_" + this.event.settings.periodical) + elementsString;
                }
            }
		}
	}
</script>