<div id="sourcesItems">
	<h1 class="section-title">{{ breadcrumb }}</h1>
	<edit v-if="action == 'add' || action == 'edit'" :source_item="sourceItem" :source_type_list="sourceTypeList"></edit>
	<list v-else :list="list" :types="types"></list>
</div>
<script type="text/javascript">
	window.addEventListener("RMCLoaded", function() {
		require(['apps/search_dsi/DsiForm'], function(DsiForm) {
			new DsiForm({
				className: 'DsiForm',
				formName: 'search_form'
			});	
		});
	})
</script>