<template>
	<div>
		<div class="dsi-form-group" v-if="selectors.length > 1">
			<label class="etiquette" for="name">{{ messages.get('dsi', 'subscriber_list_selector') }}</label>
			<div class="dsi-form-group-content">
				<select v-model="subscriberList.settings.subscriberListSource.subscriberListSelector.namespace" required>
					<option disabled value="">{{ messages.get('dsi', 'subscriber_list_selector_default_value') }}</option>
					<option v-for="(selector, index) in selectors" :key='index' :value="selector.namespace">{{selector.name}}</option>
				</select>
			</div>
		</div>
		<component :is="selectorType" rmc_type="emprunteurs" 
			entity_type="empr" 
			:search="subscriberList.settings.subscriberListSource.subscriberListSelector.data.search" 
			:human="subscriberList.settings.subscriberListSource.subscriberListSelector.data.human_query"
			@updateRMC="updateRMC"></component>
	</div>
</template>

<script>
	import RMCForm from "../../../components/RMCForm.vue";
	import selectorEmpr from "./selectorEmpr.vue";
	export default {
		props : ['subscriberList', 'selectors'],
		components : {
			RMCForm,
            selectorEmpr
		},
		computed : {
			selectorType : function() {
				if(this.subscriberList.settings.subscriberListSource.subscriberListSelector.namespace) {
					switch(this.subscriberList.settings.subscriberListSource.subscriberListSelector.namespace) {
						case "Pmb\\DSI\\Models\\Selector\\Subscriber\\Empr\\RMC\\EmprRMCSelector":
							return "RMCForm";
                        case "Pmb\\DSI\\Models\\Selector\\Subscriber\\Empr\\SimpleSearch\\EmprSimpleSearchSelector":
                            return "selectorEmpr";
						default:
							return "";
					}
				}
				return "";
			}
		},
		created : function() {
			this.init();
		},
		methods : {
			init : function() {
				if(! this.subscriberList.settings.subscriberListSource.subscriberListSelector) {
					if(this.selectors.length == 1) {
						this.$set(this.subscriberList.settings.subscriberListSource, "subscriberListSelector", { namespace : this.selectors[0].namespace});
					} else {
						this.$set(this.subscriberList.settings.subscriberListSource, "subscriberListSelector", { namespace : ""});
					}
				}
				if(! this.subscriberList.settings.subscriberListSource.subscriberListSelector.data) {
					this.$set(this.subscriberList.settings.subscriberListSource.subscriberListSelector, "data", { search : "", human_query : ""});
				}
			},
			updateRMC : async function(data) {
				this.$set(this.subscriberList, "subscribers", []);
				this.subscriberList.settings.subscriberListSource.subscriberListSelector.data = data;
				this.$set(this.subscriberList, "subscribers", await this.ws.post("subscriberList","getSubscribersFromList", this.subscriberList));
			}
		}
	}
</script>