<template>
    <div>
        <div class="dsi-form-group">
            <label class="etiquette" for="search-empr-input"></label>
            <div class="dsi-form-group-content">
                <input type="text"
                       name="search-empr-input"
                       v-model="userInput"
                       :placeholder="messages.get('dsi', 'subscriber_list_selector_simple_search')"
                       @change="$emit('updateRMC', userInput)">
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: function() {
        return {
            userInput: ""
        }
    }
}
</script>