<template>
    <div class="dsi-form-selector">
        <div class="dsi-form-group">
            <label class="etiquette" for="selectorList"></label>
            <div class="dsi-form-group-content">
                <select id="selectorList" name="selectorList" v-model="selector.namespace" @change="$emit('updateSettings')" required>
                    <option value="" disabled>{{ messages.get('dsi', 'source_form_default_selector') }}</option>
                    <option v-for="(selectorItem, index) in selectorList" :key="index" :value="selectorItem.namespace">
                    	 {{ selectorItem.name }}
                    </option>
                </select>
            </div>	
        </div>
        <selector v-if="haveSubSelector" :selector="selector.selector" :child="selector.namespace"></selector>
		<component v-if="selector.data"
                   :is="selectorType"
                   :data="selector.data"
                   rmc_type="notice"
                   entity_type="record"
                   @updateRMC="updateRMC"
                   :search="selector.data.search"
                   :human="selector.data.human_query">
        </component>
    </div>
</template>

<script>
	import RMCForm from "../../../components/RMCForm.vue";
	import ParentSectionSelector from "./selectors/ArticleParentSection.vue";
	import WatchSelector from "./selectors/ItemWatchByWatch.vue";

	export default {
		name: "selector",
		props : ["selector", "child"],
		components: {
			RMCForm,
            ParentSectionSelector,
            WatchSelector
		},
		data: function () {
			return {
				selectorList: [],
                haveSubSelector: false
			}
		},
        watch: {
            "selector.namespace": function() {
                this.$set(this.selector, "data", {})
                this.$set(this.selector, "selector", {})

                this.getHaveSubSelector();
            }
        },
		created: async function() {
			await this.getSelectorList();

			if(this.selector.namespace === undefined) {
				this.$set(this.selector, "namespace", "")
			}

			if(this.selector.selector === undefined) {
				this.$set(this.selector, "selector", {})
			}

			if(this.selector.data === undefined) {
				this.$set(this.selector, "data", {})
			}

            await this.getHaveSubSelector();
		},
		computed: {
			selectorType : function() {
                if(this.selector.namespace) {
                    switch(this.selector.namespace) {
                        case "Pmb\\DSI\\Models\\Selector\\Item\\Entities\\Record\\RMC\\RecordRMCSelector":
                            return "RMCForm";
                        default:
                            let explodedName = this.selector.namespace.split("\\");
                            let className = explodedName[explodedName.length-1];
                            if(this.$options.components[className]) {
                                return className;
                            }

                            return "";
                    }
                }
                return "";
            }
		},
		methods: {
			getSelectorList: async function() {
                this.showLoader();

				let response = await this.ws.get('Items', 'getSelectorList/' + encodeURI(this.child));
				if (response.error) {
					this.notif.error(this.messages.get('dsi', response.errorMessage));
				} else {
					this.selectorList = response;
                    this.hiddenLoader();
				}
			},
            getHaveSubSelector: async function() {
                if(this.selector.namespace !== "") {
                    this.showLoader();
                    let response = await this.ws.get('Items', 'haveSubSelector/' + encodeURI(this.selector.namespace));
                    if (response.error) {
                        this.notif.error(this.messages.get('dsi', response.errorMessage));
                    } else {
                        this.haveSubSelector = response[0];
                        this.hiddenLoader();
                    }
                }
            },
            getSubSelectorList: async function() {
                if(this.selector.namespace !== "") {
                    let response = await this.ws.get('Items', 'getSelectorList/' + encodeURI(this.selector.namespace));
                    if (response.error) {
                        this.notif.error(this.messages.get('dsi', response.errorMessage));
                    } else {
                        this.subSelectorList = response;
                    }
                }
            },
			updateRMC: function(data) {
				this.$set(this.selector, "data", data);
            }
		}
	}
</script>