<template>
	<div id="list">
		<table>
			<thead>
				<tr>
					<th>{{ messages.get('dsi', 'channel_name') }}</th>
					<th>{{ messages.get('dsi', 'channel_type') }}</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(channel, index) in list" style="cursor: pointer" @click="edit(channel.id)" :key="index">
					<td>{{ channel.name }}</td>
					<td>{{ getTypeFromId(channel.type) }}</td>
				</tr>
			</tbody>
		</table>
		<input type="button" class="bouton" :value="messages.get('dsi', 'add_model')" @click="add">
	</div>
</template>

<script>
	export default {
		props : ["list", "channel_type_list"],
		data: function () {
			return {}
		},
		methods: {
			getTypeFromId: function(id) {
				let find = this.channel_type_list.find(type => type.id == id);
				if(find) {
					return find.name;
				}
				return "";
			},
		    add: function () {
		        document.location = "./dsi.php?categ=channels&action=add";
		    },
		    edit: function (id) {
		        document.location = `./dsi.php?categ=channels&action=edit&id=${id}`;
		    }
		}
	}
</script>