<template>
    <addElementModal v-if="show" @close="$emit('close')">
        <h3 slot="header">{{ messages.get('dsi', 'view_wysiwyg_modal_choice') }}</h3>
        <div slot="body">
            <h6>{{ messages.get('dsi', 'view_wysiwyg_modal_sections') }}</h6>
            <ul class="wysiwyg-add-section-list">
                <li @click="addBlock({type: 1, cols: 1})">
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 50"><path d="M100,0V50H0V0Z"></path></svg>
                </li>
                <li @click="addBlock({type: 1, cols: 2})">
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 50"><path d="M49,0V50H0V0Z M100,0V50H51V0Z"></path></svg>
                </li>
                <li @click="addBlock({type: 1, cols: 3})">
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 50"><path d="M32,0V50H0V0Z M66,0V50H34V0Z M100,0V50H68V0Z"></path></svg>
                </li>
                <li @click="addBlock({type: 1, cols: 4})">
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 50"><path d="M23.5,0V50H0V0Z M49,0V50H25.5V0Z M74.5,0V50H51V0Z M100,0V50H76.5V0Z"></path></svg>
                </li>
                <li @click="addBlock({type: 1, cols: 5})">
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 50"><path d="M18.4,0V50H0V0Z M38.8,0V50H20.4V0Z M59.2,0V50H40.8V0Z M79.6,0V50H61.2V0Z M100,0V50H81.6V0Z"></path></svg>
                </li>
                <li @click="addBlock({type: 1, cols: 6})">
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 50"><path d="M15,0V50H0V0Z M32,0V50H17V0Z M49,0V50H34V0Z M66,0V50H51V0Z M83,0V50H68V0Z M100,0V50H85V0Z"></path></svg>
                </li>
            </ul>
        </div>
        <div slot="footer">
            <div>
                <h6>{{ messages.get('dsi', 'view_wysiwyg_modal_elements') }}</h6>
                <div class="dsi-cards dsi-cards-wysiwyg">
                    <div style="cursor: pointer;" role="button" class="dsi-card">
                        <p type="button" @click="addBlock({type: 2, cols: 1})">{{ messages.get('dsi', 'view_wysiwyg_input_text') }}</p>
                    </div>
                    <div style="cursor: pointer;" role="button" class="dsi-card">
                        <p type="button" @click="addBlock({type: 6, cols: 1})">{{ messages.get('dsi', 'view_wysiwyg_input_text_rich') }}</p>
                    </div>
                    <div style="cursor: pointer;" role="button" class="dsi-card">
                        <p type="button" @click="addBlock({type: 5, cols: 1})">{{ messages.get('dsi', 'view_wysiwyg_input_list') }}</p>
                    </div>
                    <div style="cursor: pointer;" role="button" class="dsi-card" @click="addBlock({type: 3, cols: 1})">
                        <p>{{ messages.get('dsi', 'view_wysiwyg_input_image') }}</p>
                    </div>
                    <div style="cursor: pointer;" role="button" class="dsi-card" @click="addBlock({type: 4, cols: 1})">
                        <p>{{ messages.get('dsi', 'view_wysiwyg_input_video') }}</p>
                    </div>
                    <div style="cursor: pointer;" role="button" class="dsi-card" @click="addBlock({type: 7, cols: 1})">
                        <p>{{ messages.get('dsi', 'view_wysiwyg_view') }}</p>
                    </div>
                </div>
            </div>
            <div style="margin-top: 1rem;">
                <h6>{{ messages.get('dsi', 'view_wysiwyg_import_view') }}</h6>
                <div class="dsi-cards dsi-cards-wysiwyg">
                    <div style="cursor: pointer;" role="button" class="dsi-card" @click="addBlock({type: 8, cols: 1})">
                        <p>{{ messages.get('dsi', 'view_wysiwyg_view_wysiwyg') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </addElementModal>
</template>

<script>
    import addElementModal from '../../../../components/modal.vue';
	export default {
		props : ["blocks", "show", "root", 'view'],
		components: {
            addElementModal
        },
		data: function () {
			return {
                showModal: false,
                id: 0
			}
		},
        created: function() {
            this.showModal = this.show;
            this.$root.$on("showModal", function(id){
                this.showModal = true;
                this.id = id;
            });
        },
		methods: {
            addBlock: function(params) {
                params.id = this.id;
                let props = this.root ? this.blocks[0].blocks : this.blocks;

                let blocks = [];
                if(params.cols != 1) {
                    for(var i=0; params.cols > i; i++) {
                        blocks.push({type: params.type, style: {}, content: "", blocks: []})
                    }
                }

                props.push({ type: params.type, style: {}, content: "", blocks: blocks});
                this.$emit('close');
            }
		}
	}
</script>