<template>
	<form v-if="entities">
		<div class="dsi-form-group">
			<label class="etiquette" for="viewEntityTypeList">{{ messages.get('dsi', 'view_form_entity_type') }}</label>
			<div class="dsi-form-group-content">
				<select id="viewEntityTypeList" name="viewEntityTypeList" @focus="currentType = item.settings.entityType" v-model="item.settings.entityType" @change="updateSelector($event)">
					<option value="0" disabled>{{ messages.get('dsi', 'view_form_default_entity_type') }}</option>
					<option v-for="(entityName, entityId) in entities" :value="entityId" :key="entityId">{{entityName}}</option>
				</select>
			</div>
		</div>
		<div class="dsi-form-group" v-show="item.settings.entityType">
			<label class="etiquette" for="viewTemplateDirectory">{{ messages.get('dsi', 'view_form_template_directory') }}</label>
			<div class="dsi-form-group-content">
				<select id="viewTemplateDirectory" name="viewTemplateDirectory" v-model="item.settings.templateDirectory">
					<option value="0" disabled>{{ messages.get('dsi', 'view_form_default_template_directory') }}</option>
					<option v-for="(dir, index) in templateDirectories" :value="dir" :key="index">{{dir}}</option>
				</select>
			</div>
		</div>
		
		<div class="dsi-form-group-content" v-show="item.settings.entityType">
			<div id="django_tree" class="colonne3">
				<label v-show="hasTree">{{ messages.get('dsi', 'view_form_entity_tree') }}</label>
			</div>
			<textarea class="colonne-suite" name="view-editor" id="view-editor"></textarea>
		</div>
	</form>
</template>

<script>
	export default {
        props : ["item", "entities"],
        created : async function () {
        	if(this.item.settings && ! this.item.settings.entityType) {
        		this.$set(this.item.settings, "entityType", 0);
            }
        	if(this.item.settings && ! this.item.settings.templateDirectory) {
        		this.$set(this.item.settings, "templateDirectory", 0);
            }
            await this.getTemplates();
            await this.getTemplateDirectories();
        },
        mounted: async function() {
            this.initEditor();
            this.updateTree();
        },
        data : function() {
        	return {
	        	templates : "",
	        	editor : {},
	        	hasTree : false,
	        	templateDirectories : []
        	}
        },
        watch : {
        	"item.settings.entityType" : function() {
        		//On met a jour le dossier de templates selon l'entite
        		this.getTemplateDirectories();
        	}
        },
		methods: {
            initEditor: async function() {
                pmbDojo.aceManager.initEditor("view-editor");
                this.editor = pmbDojo.aceManager.getEditor("view-editor");
                if(this.item.settings.html && this.item.settings.html != "") {
                	this.editor.insert(this.item.settings.html);
                } else if(this.item.settings.entityType) {
                	this.editor.insert(this.templates[this.item.settings.entityType]);
                }

                this.editor.textInput.getElement().addEventListener("keyup", this.updateItem);
                this.editor.textInput.getElement().addEventListener("cut", this.updateItem);
                this.editor.textInput.getElement().addEventListener("undo", this.updateItem);
                this.editor.textInput.getElement().addEventListener("paste", this.updateItem);
            },
            getTemplates : async function() {
            	if(! this.templates) {
					this.templates = await this.ws.get("views", 'getEntitiesDefaultTemplates');
            	}
            },
            updateItem : function(){
            	this.item.settings.html = this.editor.getValue();
            },
            updateSelector : function(e) {
           		this.editor.setValue("");
				this.editor.insert(this.templates[e.target.value]);
				this.updateItem();
				this.updateTree();
            },
            updateTree : async function() {
                this.showLoader();
            	let tree = await this.ws.get("views", 'getEntityTree/'+ this.item.settings.entityType);
            	let event = new CustomEvent('startTree', {
               		detail: {
    	                data : tree
                	}
                });
                window.dispatchEvent(event);
                this.hasTree = tree.length ? true : false;
                this.hiddenLoader();
            },
            getTemplateDirectories : async function() {
            	this.templateDirectories = await this.ws.get("views", 'getTemplateDirectories/'+ this.item.settings.entityType);
            	//On reset le champ si on ne trouve plus l'element dans le nouveau tableau
        		if(! this.templateDirectories.includes(this.item.settings.templateDirectory)) {
        			this.item.settings.templateDirectory = 0;
        		}
            }
		}
	}
</script>