<template>
	<div :id="this.block.id" class="wysiwyg-section" :style="block.style">
        <div class="wysiwyg-section-label">
            <span>{{ blockLabels[block.type] }}</span>
        </div>
		<div v-if="block" class="wysiwyg-add-section-actions">
			<button v-if="showUpArrow" type="button" @click.prevent="$root.$emit('moveBlock', { block: block, direction: 'up', parent : parent })">
				<i :class="upOrLeft" aria-hidden="true"></i>
			</button>
			<button v-if="showDownArrow" type="button" @click.prevent="$root.$emit('moveBlock', { block: block, direction: 'down', parent : parent })">
				<i :class="downOrRight" aria-hidden="true"></i>
			</button>
			<button type="button" @click="$root.$emit('editBlock', block)">
				<i class="fa fa-pencil" aria-hidden="true"></i>
			</button>
			<button v-if="!this.root" type="button" @click.prevent="$root.$emit('removeBlock', { block : block, parent : parent })">
				<i class="fa fa-trash" aria-hidden="true"></i>
			</button>
			<button type="button" @click="show = true">
				<i class="fa fa-plus" aria-hidden="true"></i>
			</button>
		</div>
		<component v-for="(element, index) in block.blocks"
                   :key="index"
                   :is="blockTypes[element.type]"
                   :view="view" :block="element"
                   :blockTypes="blockTypes"
                   :blockLabels="blockLabels"
                   :root="false"
                   :parent="parent">
        </component>
		<addBlock :view="view" :blocks="block.blocks" :show="show" @close="show = false" :root="false"></addBlock>	
	</div>
</template>

<script>
	import addBlock from "../addBlock.vue";
	import textInput from "./textInput.vue";
	import imageInput from "./imageInput.vue";
	import videoInput from "./videoInput.vue";
	import listInput from "./listInput.vue";
	import textEditorInput from "./textEditorInput.vue";
	import viewInput from "./viewInput.vue";
	import viewImportInput from "./viewImportInput.vue";

	export default {
        name: "block",
		props: ["block", "blockTypes", "blockLabels", "root", "view", "parent"],
		components: {
			addBlock,
			textInput,
			imageInput,
			videoInput,
			listInput,
			textEditorInput,
			viewInput,
			viewImportInput,
        },
		data: function () {
			return {
				show: false
			}
		},
		created: function() {
			if(!this.block.id) {
				this.block.id = Date.now().toString(36) + Math.random().toString(36).substring(2);
			}

			this.block.style["display"] = "flex";

			if(!this.block.style.flexDirection) {
				this.$set(this.block.style, "flexDirection", "column")
			}

			this.block.style["flex-grow"] = 1;
			this.block.style["flex"] = 1;
			this.block.style["min-height"] = "32px";
		},
		computed: {
			showUpArrow: function() {
				return this.$vnode.key == 0 ? false : true;
			}, 
			showDownArrow: function() {
				return this.$parent.block && this.$vnode.key != (this.$parent.block.blocks.length-1) ? true : false;
			},
			upOrLeft: function() {
				return this.$parent.block && this.$parent.block.style.flexDirection == 'column' ? 'fa fa-arrow-up' : 'fa fa-arrow-left'
			},
			downOrRight: function() {
				return this.$parent.block && this.$parent.block.style.flexDirection == 'column' ? 'fa fa-arrow-down' : 'fa fa-arrow-right'
			}
		},
		methods: {
			// setContent: function() {
			// 	let node = document.getElementById(this.block.id);
            //     if(node) {
            //         node = node.cloneNode(true);
			// 		node.removeAttribute("class");
					
			// 		let children = [...node.children];
			// 		children.forEach(element => {
			// 			if(element.className == "wysiwyg-add-section-actions") {
			// 				element.remove();
			// 			}
			// 		});

			// 		this.block.content = node.innerHTML;
            //     }
			// }
		}
	}
</script>