<template>
    <div :id="block.id" class="wysiwyg-section" :style="block.style.block">
        <div class="wysiwyg-section-label">
            <span>{{ blockLabels[block.type] }}</span>
        </div>
        <div v-if="block" class="wysiwyg-add-section-actions">
            <button v-if="showUpArrow" type="button" @click="$root.$emit('moveBlock', { block: block, direction: 'up', parent : parent })">
				<i :class="upOrLeft" aria-hidden="true"></i>
			</button>
			<button v-if="showDownArrow" type="button" @click="$root.$emit('moveBlock', { block: block, direction: 'down', parent : parent })">
				<i :class="downOrRight" aria-hidden="true"></i>
			</button>
			<button type="button" @click="$root.$emit('editBlock', block)">
				<i class="fa fa-pencil" aria-hidden="true"></i>
			</button>
			<button type="button" @click="$root.$emit('removeBlock', { block : block, parent : parent })">
				<i class="fa fa-trash" aria-hidden="true"></i>
			</button>
		</div>
        <slot name="media"></slot>
    </div>
</template>

<script>
export default {
    props: ['block', 'parent', 'blockLabels'],
    created: function() {
        if (!this.block.id) {
            this.block.id = `${Date.now().toString(36)}${Math.random().toString(36).substring(2)}`;
        }
    },
    computed: {
        showUpArrow: function() {
            return this.$parent.$vnode.key == 0 ? false : true;
        },
        showDownArrow: function() {
            return this.$parent.$parent.block && this.$parent.$vnode.key != (this.$parent.$parent.block.blocks.length-1) ? true : false;
        },
        upOrLeft: function() {
            return this.$parent.$parent.block.style.flexDirection == 'column' ? 'fa fa-arrow-up' : 'fa fa-arrow-left'
        },
        downOrRight: function() {
            return this.$parent.$parent.block.style.flexDirection == 'column' ? 'fa fa-arrow-down' : 'fa fa-arrow-right'
        }
    },
    methods: {
        changeImage(event) {
            var files = event.target.files || event.dataTransfer.files;
            if (!files.length) return;
            this.createImage(files[0]);
        },
        createImage(file) {
            var image = new Image();
            var reader = new FileReader();

            reader.onload = (e) => {
                image = e.target.result;
                this.$set(this.block, "content", image);
            };
            reader.readAsDataURL(file);
        }
    }
}
</script>