<template>
	<div id="form">
		<form action="#" method="POST" class="dsi-form-view" @submit.prevent="submit">
			<modelSelector entity="triggers" :idSelected="event.numModel" :id="event.id" :restricted-fields="restrictedFields" @updateSelectedModel="addModel" ref="modelSelector" :item="event"></modelSelector>
			<lockable :locked="event.settings.locked">
				<div class="dsi-form-group">
					<label class="etiquette" for="trigger-name">{{ messages.get('dsi', 'event_form_name') }}</label>
					<div class="dsi-form-group-content">
						<input type="text" id="trigger-name" name="trigger-name" class="dsi-model-name" v-model="event.name" required :readonly="is_model ? false : true">
					</div>
				</div>

				<div class="dsi-form-group">
					<label class="etiquette" for="viewTypeList">{{ messages.get('dsi', 'event_form_type') }}</label>
					<div class="dsi-form-group-content">
						<select id="viewTypeList" name="viewTypeList" v-model="event.type" required>
							<option value="" disabled>{{ messages.get('dsi', 'event_form_default_type') }}</option>
							<option v-for="(type, index) in types" :key="index" :value="type.id">
								{{ type.name }}
							</option>
						</select>
					</div>
				</div>
				<tags v-if="event.id" :tags="event.tags" entity="triggers" :entity-id="event.id"></tags>
				<component :is="selectorType" :event="event"></component>
			</lockable>
			<div class='row dsi-form-action'>
				<div class="left">
					<template v-if="is_model">
						<input type="button" class="bouton" :value="messages.get('common', 'cancel')" @click="cancel">
						<input name="submit_model" type="submit" class="bouton" :value="messages.get('dsi', 'submit_model')">
					</template>

					<template v-if="!is_model">
						<input name="submit" type="submit" class="bouton" :value="messages.get('common', 'submit')">
						<input @click="showModal = true;" type="button" class="bouton" :value="messages.get('dsi', 'submit_model')">
					</template>
				</div>
				<div v-if="is_model && event.id" class="right">
					<input @click="del" class="bouton" type="button" :value="messages.get('dsi', 'del')"/>
				</div>
			</div>
			<modalModelSelector :showModal="showModal" :entity="event" @close="showModal = false"></modalModelSelector>
		</form>
	</div>
</template>

<script>
	import periodicalEvent from "./events/periodicalEvent.vue";
	import modelSelector from "../../components/modelSelector.vue";
	import modalModelSelector from "../../components/modalModelSelector.vue";
	import tags from "../../components/tags.vue";
	import lockable from '../../components/lockable.vue';
	export default {
		props : ["event", "types", "is_model"],
		components: {
			periodicalEvent,
			modelSelector,
			modalModelSelector,
			tags,
			lockable
        },
		data: function () {
			return {
				model: null,
				showModal: false,
				restrictedFields : ["model", "numModel", "id", "name", "idEvent", "eventModel"]
			}
		},
		created: function() {
			if(this.event.settings === undefined) {
				this.$set(this.event, "settings", {});
			}
			this.event.type = this.event.type != 0 ? this.event.type : "";
		},
		updated: function() {
			this.event.type = this.event.type != 0 ? this.event.type : "";
			this.model = this.event.numModel != 0 ? this.model : null;
		},
		computed : {
			selectorType : function() {
				let type = this.types.find(elem => elem.id == this.event.type);

				if(type != undefined) {
					switch(type.namespace) {
						case "Pmb\\DSI\\Models\\Event\\Periodical\\PeriodicalEvent":
							return "periodicalEvent";
						default:
							return "";
					}
				}
				return "";
			},
		},
		methods: {
			cancel: function() {
				document.location = "./dsi.php?categ=triggers";
			},
			submit: async function(e) {
                this.showLoader();

				var lastId = 0;

				if(e.submitter && (e.submitter.name === "submit_model" || e.submitter.name === "submit_model_from_modal") || e.name === "submit_model_from_modal") {
					lastId = this.event.id;

					this.event.id = e.name === "submit_model_from_modal" || e.submitter.name === "submit_model_from_modal" ? 0 : this.event.id;
					this.event.model = true;
				}

				let response = await this.ws.post('triggers', 'save', this.event);
				if (response.error) {
					this.notif.error(this.messages.get('dsi', response.errorMessage));
				// model form
				} else if (this.is_model){
                    this.hiddenLoader();
					document.location = "./dsi.php?categ=triggers";

				// model form diffusion
				} else if (this.event.model && this.event.id == 0) {
                    this.$set(this.event, "model", false);
                    this.$set(this.event, "id", lastId);

                    this.showModal = false;

                    this.$refs.modelSelector.getList();
                    this.notif.info(this.messages.get('common', 'success_save'));

                    this.hiddenLoader();
				// form diffusion
				} else {
					this.event.id = response.id;
					this.$emit("addEvent", this.event);
				}
			},
			del : async function() {
				if (confirm(this.messages.get('dsi', 'confirm_del'))) {
                    this.showLoader();
					let response = await this.ws.post("triggers", 'delete', this.event);
					if (response.error) {
						this.notif.error(this.messages.get('dsi', response.errorMessage));
					} else {
						document.location = "./dsi.php?categ=triggers";
                    }
                    this.hiddenLoader();
                }
			},
			addModel: function(model) {
				if(model != 0) {
					let clone = JSON.parse(JSON.stringify(model));
					const ignoreKeys = ["id", "idEvent", "numModel", "name"];
					for(let property in clone) {
						if(ignoreKeys.indexOf(property) == -1) {						
							this.$set(this.event, property, clone[property]);
						}
					}
					this.$set(this.event, "numModel", clone["idEvent"]);
				}else {
					this.$set(this.event, "numModel", 0);
				}
				this.$set(this.event, "model", 0);
			}
		}
	}
</script>